
.cta-section.pricing-cta-section {
    background: #1ebf5e;
	background: -webkit-linear-gradient(top, #00903a,#1ebf5e); 
    background: -moz-linear-gradient(top, #00903a,#1ebf5e); 
    background: -o-linear-gradient(top, #00903a,#1ebf5e); 
    background: -ms-linear-gradient(top, #00903a,#1ebf5e);
    .btn-sign-ye {
    	color: #1ebf5e;
    }
}

.key-advan.ai{
    ul li:before{
        color: #00a040;
    }
}

.lang-content.ai{
    ul{
        color: #00a040;
    }
}

@media(max-width:480px){
    .hidden-xxs {
        display: none;
    }
}
