
.cta-section.pricing-cta-section {
    background: #1ebf5e;
	background: -webkit-linear-gradient(top, #00903a,#1ebf5e); 
    background: -moz-linear-gradient(top, #00903a,#1ebf5e); 
    background: -o-linear-gradient(top, #00903a,#1ebf5e); 
    background: -ms-linear-gradient(top, #00903a,#1ebf5e);
    .btn-sign-ye {
    	color: #1ebf5e;
    }
}

.key-advan.ai{
    ul li:before{
        color: #00a040;
    }
}

.lang-content.ai{
    ul{
        color: #00a040;
    }
}
.ai-section {
    .btn-cta-primary, a.btn-cta-primary, .btn-sign{
        background: #00a040;
        border: 1px solid #00a040;
    }
    .btn-knowmore{
        color: #00a040;
        border: 1px solid #00a040;
        &:hover,&:focus{
            color: #fff;
            background: #00a040;
        }
    }
    &.faq .panel .panel-title .panel-toggle .fa{
        color: #00a040;
    }
    &.table-contrast .fa-check{
        color: #00a040;
    }
}
@media(max-width:767px) {
    .cta-section.pricing-cta-section {
        margin-top: 20px;
    }
}
@media(max-width:480px){
    .hidden-xxs {
        display: none;
    }
}
