
.cta-section.pricing-cta-section {
    background: #00adba;
	background: -webkit-linear-gradient(top, #00b2bf,#1ae0ee); 
    background: -moz-linear-gradient(top, #00b2bf,#1ae0ee); 
    background: -o-linear-gradient(top, #00b2bf,#1ae0ee); 
    background: -ms-linear-gradient(top, #00b2bf,#1ae0ee);
    .btn-sign-ye {
    	color: #00adba;
    }
}

.bi-headline-img{
    width: 450px;
    display: block;
    max-width: 85%;
    margin: auto;
}

.feature-bi {
    width: 100%;
    margin-top: 0;
    padding-top: 100px;
    padding-bottom: 0;
    overflow: hidden;
    height: 600px;
    .bilogo {
        height: 160px;
        margin-bottom: 50px;
    }
    p.intro {
        text-align: left;
        margin-bottom: 20px;
        font-size: 14px;
    }
    p.more {
        text-align: left;
        font-size: 14px;
        a {
            color: rgba(0, 0, 0, 0.3);
            font-weight: bold;
            text-transform: uppercase;
            font-size: 14px;
            text-decoration: none;
            cursor: pointer;
            margin-right: 15px;
            &:hover{
                color: #fff;
            }
        }
    }
}

.steps {
    padding-top: 50px;
    padding-bottom: 100px;
}

.key-advan.bi{
    ul li:before{
        color: #00adba;
    }
}

.lang-content.bi{
    ul{
        color: #00adba;
    }
}

.bi-section {
    .btn-cta-primary, a.btn-cta-primary, .btn-sign{
        background: #00adba;
        border: 1px solid #00adba;
    }
    .btn-knowmore{
        color: #00adba;
        border: 1px solid #00adba;
        &:hover,&:focus{
            color: #fff;
            background: #00adba;
        }
    }
    &.faq .panel .panel-title .panel-toggle .fa{
        color: #00adba;
    }
    .fa-check{
        color: #00adba;
    }
    .check{
        color: #00adba;
    }
    th.theme{
        color: #00adba;
    }
    table tr th:first-child {
        background: rgba(255, 255, 255, 1);
    }
    table tr td:first-child {
        background: rgba(255, 255, 255, 1);
    }
}

@media(min-width: 768px){
    .bi-headline-img {
        position: absolute;
        left: 50%;
        top: 2%;
        width: 550px;
        max-width: 100%;
    }
    .feature-bi {
        padding-top: 100px;
        .bilogo {
            margin-left: 40px;
        }
        p.intro {
            padding-left: 40px;
        }
        p.more {
            padding-left: 40px;
        }
    }
}

@media(min-width:1200px){
    .bi-headline-img{
        width: 590px;
    }
    .headline-bg.bi-headline-bg {
        height: 610px;
    }
}

@media(max-width:767px) {
    .cta-section.pricing-cta-section {
        margin-top: 20px;
    }
    .logo-img{
        width: 70px;
        margin-top: -4px;
    }
    .steps{
        padding-top: 30px;
        padding-bottom: 80px;
    }
    .headline-bg {
        height: 500px;
    }
    .feature-bi {
        height: auto;
        text-align: center;
        padding-top: 0!important;
        p.intro {
            text-align: center;
        }
        p.more {
            text-align: center;
        }
        .bilogo{
            width: 130px;
            margin-bottom: 30px;
        }
    }

}
@media(max-width:480px){
    .hidden-xxs {
        display: none;
    }
    .steps {
        padding-bottom: 30px;
        .line {
            margin-top: 70px;
        }
    }
}

@media(max-width: 375px){
    .steps {
        padding-bottom: 20px;
    }
}
