/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .header {
    height: 86px;
  }
  .header.navbar-fixed-top {
    position: fixed;
    background: rgba(0,0,0,0.6);
    // background: -webkit-linear-gradient(top, #fff,rgba(255,255,255,0)); 
    // background: -moz-linear-gradient(top, #fff,rgba(255,255,255,0)); 
    // background: -o-linear-gradient(top, #fff,rgba(255,255,255,0)); 
    z-index: 1000;
    height: 86px;
    top: -86px;
    transition: background 0.2s ease-in-out,top 0.5s ease-in-out;
  }
  .header.navbar-fixed-top-show{
    top: 0!important;
    transition:0.5s ease-in-out!important;
  }
  
  .header .main-nav .nav .nav-item {
    margin-right: 10px;
  }
  .main-nav.navbar-right {
    float: right !important;
  }
  .navbar-collapse.collapse {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  }
  .navbar-collapse.collapse .navbar-nav {
    float: none;
    margin: 0 auto;
    display: inline-block;
  }
  .promo {
    height: 536px;
    padding-top: 130px;
  }
  .promo .title{
    font-size: 42px;
  }
  .promo.section .intro {
    margin-bottom: 30px;
  }
  .promo .btn-link {
    margin-top: 15px;
  }
  .why .item .content {
    margin-bottom: 60px;
  }
  .why .control {
    top: 128px;
    margin-left: -45px;
  }
  .why .item .title {
    margin-bottom: 30px;
    text-align: center;
  }
  .footer-col {
    margin-bottom: 25px;
  }
  .modal.modal-video .modal-dialog {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .global-header-overlay {
    display: none;
  }
  .nav-logo-text{
    display: none;
  }
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {  
  .header {
    height: 86px;
  }
  .header.navbar-fixed-top {
    position: fixed;
    background: rgba(0,0,0,0.6);
    // background: -webkit-linear-gradient(top, #fff,rgba(255,255,255,0)); 
    // background: -moz-linear-gradient(top, #fff,rgba(255,255,255,0)); 
    // background: -o-linear-gradient(top, #fff,rgba(255,255,255,0)); 
    z-index: 1000;
    height: 86px;
    top: -86px;
    transition: background 0.2s ease-in-out,top 0.5s ease-in-out;
  }

  .main-nav {
    float: right !important;
  }
  .navbar-form .form-control {
    width: 225px;
  }
  .header h1.logo {
    float: left;
    margin: inherit;
  }
  .header .main-nav .nav .nav-item {
    margin-right: 15px;
  }
  .main-nav.navbar-right {
    float: right !important;
  }
  .promo {
    height: 536px;
    padding-top: 120px;
  }
  .promo .title{
    font-size: 50px;
  }
  .promo.section .intro {
    margin-bottom: 45px;
  }
  .promo .btn-link {
    margin-top: 15px;
  }
  .why .item .content {
    margin-bottom: inherit;
  }
  .why .control {
    top: 128px;
    margin-left: -28px;
  }
  .modal.modal-video .modal-dialog {
    width: 960px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 15%;
  }
  .why .item .title {
    margin-bottom: 20px;
    text-align: left;
  }
  .why .figure {
    text-align: left;
  }
  .pricing .item .feature-list .lastli-nopadding {
    padding-left: 0 ;
    padding-right: 0;
  }
  .headline-bg.about-headline-bg.jobs-headline-bg {
    height: 594px;
  }

}
@media (min-width: 1200px) {
  .headline-bg.about-headline-bg.jobs-headline-bg {
    height: 594px;
  }
}

@media (max-width: 992px) {
  .header .main-nav {
    margin-top: 22px;
  }
  // .logo-img {
  //   width: 75px;
  //   height: 75px;
  //   background-size: 75px auto;
  //   margin-top: 3px;
  // }
  .nav > li > a {
    padding: 10px 10px;
  }
  .cta-section.pricing-cta-section {
      .title {
          font-size: 30px;
      }
  }
  .lang-content .item .desc ul li {
    margin-left: 10px;
  }
  .steps {
    padding-bottom: 100px;
  }
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  .logo-img {
    // height: 70px;
    width: 100%;
    // background-position: top center;
    // background-size: 75px auto;
  }

  .waves{
    margin-left: -100%;
    height: inherit;
  }

  .header.navbar-fixed-top {
    position: relative;
  }
  .header .main-nav .navbar-collapse {
    border-top: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    left: 0;
    top: 80px;
    position: absolute;
    background: #fff;
    z-index: 45;
    padding: 0;

    .nav .nav-item {
      margin-right: 0;
      padding: 0px;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-color: #DADADB;

      a {
        font-size: 15px;
        padding: 15px;
        color: #006ec3;
        
        &:hover {
          color: #006ec3;
        }
      }
      
      a.btn-cta-secondary {
        // border-color: #006ec3;
        color: #fff;
        background-color: #006ec3;
        margin: 20px 10px 10px 10px;
        &:hover {
          color: #fff;
        background-color: #006ec3;
        }
      }
      .dropdown-link:after {
          content: "\f105";
          display: inline-block;
          margin-left: 5px;
          position: absolute;
          right: 15px;
          top: 18px;
          font-weight: 600;
          -webkit-transition: .2s;
          transition: .2s;
          -webkit-transform: rotate(90deg) translateX(0.15em);
          -ms-transform: rotate(90deg) translateX(0.15em);
          transform: rotate(90deg) translateX(0.15em);
          font-size: 15px;
          line-height: 15px;
          font-family: FontAwesome;
          color: #939393;
        
      }
      .dropdown-menu {
        background-color: #f7f7f7;
        border-top: 1px solid #DADADB;
        padding: 0;

        li {
          border-bottom:1px solid #DADADB;;  
        }
        li.last {
          border:none;
        }
      }
      .dropdown-menu li a {
        color: #333;
        font-size: 14px;
        padding: 15px 15px;
      }
      .logo-ai {
        display: block;
        box-sizing: border-box;
        width: 100%;
        background: none;

        opacity: 1;
        p{
          font-size: 15px;
          font-weight: bold;
          margin-bottom: 0;
        }
      }
      .logo-bi {
        display: block;
        box-sizing: border-box;
        width: 100%;
        // text-transform: uppercase;
        background: none;
        opacity: 1;
        p{
          font-size: 15px;
          font-weight: bold;
          margin-bottom: 0;
        }
      }
      .logo-mi {
        display: block;
        box-sizing: border-box;
        width: 100%;
        // text-transform: uppercase;
        background: none;
        opacity: 1;
        p{
          font-size: 15px;
          font-weight: bold;
          margin-bottom: 0;
        }
      }

    }
    .nav-item.last {
      border: none;
    }
    .nav-item.dropdown.open {
      .dropdown-link:after {
          -webkit-transform: rotate(270deg) translate(.1em,.1em);
          -ms-transform: rotate(270deg) translate(.1em,.1em);
          transform: rotate(270deg) translate(.1em,.1em);
      }
    }
  }
  .navbar-collapse .nav {
    margin: 0;
  }
  .header .main-nav .nav .dropdown-menu:before {
    display: none;
  }
  .navbar-fixed-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    max-height: inherit;
  }

  .headline-bg.index-bg{
    height: 600px;
  }
  .headline-bg + .section {
    padding-top: 75px;
  }
  .pricing .intro {
    margin-bottom: 45px;
  }
  .features-video iframe {
    padding: 5px;
  }
  .section .title {
    font-size: 29px !important;
    line-height: 40px;
  }
  .section td.title {
    font-size: 14px;
    line-height: 1.42857143;
  }
  .section .intro {
    font-size: 16px;
  }
  
  .promo {
     height: 375px;
    .title {
      line-height: 45px;
    }
    .btn-part-index {
      margin-top: 45px;
    }
    .btn-large {
      font-size: 16px;
    }
  }
  .features-tabbed-index .features-content .icon-tab {
    font-size: 45px;
  }
  .features-tabbed-index .tab-subtitle {
    font-size: 14px;
    margin: -50px -75px 5px;
  }
  .why{
    padding-top: 40px;
  }
  .why .item .content {
    margin-bottom: 60px;
  }
  .why .control {
    top: 58px;
    margin-left: -30px;
  }
  .why .item .title {
    margin-bottom: 30px;
    text-align: center;
  }
  .pricing .item.best-buy {
    position: static;
    z-index: inherit;
  }
  .nav-tabs > li > a {
    padding: 10px 5px;
  }
  
  .main-nav .navbar-collapse .navbar-nav {
    padding-top: 0;
    padding-bottom: 10px;
  }
  .modal.modal-video .modal-dialog {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .index-why .mobile-item .mobile-text {
     margin-top: 0; 
  }
  .why .item .desc {
    margin-bottom: 0;
  }

  .lang-content{
    border-right: none;
  }
  .nav-logo-text{
    display: block;
  }
  .pricing .item .heading .title {
    color: #444444;
    font-size: 20px !important;
    font-weight: 600;
  }
  //job.html
  .headline-bg.about-headline-bg.jobs-headline-bg {
    height: 619px;
  }
  .fixed-width {
    width: 430px;
    height: 200px;
    margin:0 auto;
  }
  .jobs-tabbed {
    margin-top: 0px;

    .tab-header {
      height: 85px;
    }
    .features-content{
      .icon-tab {
        font-size: 45px;
        height: 55px;
        line-height: 1.3;
      }
      .tab-jobs {
        height: 30px;
      } 
    }
  }
  .lang-selector {
    display: block;
    margin-bottom: 5px;
    float: none;
  }

  .steps{
    // padding-top: 30px;
    // padding-bottom: 80px;
    .icon img {
      width: 85%;
    }
  }

  .lang-header{
    height: auto;
    padding-bottom: 60px;
    .lang-logo{
      display: none;
    }
    .lang-title{
      margin-top: 30px;
      margin-left: 0;
    }
    p{
      padding: 0;
    }
  } 
  .video-wrapper{
    width: 100%;
    margin: auto;
  }
  .lang-content .item{
    padding-right: 0;
  }
  .frame-pos {
    padding-left: 0;
  }
  .cta-section.pricing-cta-section {
      margin-top: 80px;
      padding-top: 50px;
      padding-bottom: 40px;
      h2.title {
          line-height: 40px;
      }
  }

}
@media (max-width: 480px) {

  .lang-header {
    .lang-title{
      height: 41px;
      margin-left: 20px;
    }
    p {
      padding: 0 20px;
    }
  }
  .lang-content{
    padding-right: 25px;
    padding-left: 25px;
  }

  .promo {
    height: 394px;
  }

  .btn-large {
    font-size: 14px !important;
    padding: 4px 8px;
  }
  .btn-index-span {
    padding: 0 4px;
  }
  .features-tabbed-index{
    margin-top: -70px;
  }

  .features-tabbed-index .features-content {
    .icon-tab {
      font-size: 80px;
      -webkit-text-stroke-width: 0px;
    }
  }
  .features-tabbed-index .tab-subtitle {
    font-size: 12px;
    margin: -40px -100px 15px;
  }
  .why {
    padding-top: 40px;
    .item {
      padding: 40px 0;
      .title{
        font-size: 26px !important;
      }
      .img-cells {
        margin-bottom: 0px;
      }
      .content {
        margin-bottom: 0px;
      }
      .desc {
        margin-bottom: 0;
      }
    }
  }
  .index-why {
    .mobile-item {
      padding-bottom: 0;
      .mobile-text {
        margin-top: 0;

        .text-item {
          margin: 0 0 25px 0;
          img {
            width: 35px;
            margin-right: 6px;
          }
          span {
            font-size: 18px;
          }
        }
      }
    }
  }
  .index-press {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .play-btn {
    margin-top: -54px;
    margin-left: -30px;

    .icon-play {
      font-size: 60px;
    }
  }
  #news-section-bottom .news-item{
    height: 135px;
  }

  .headline-bg {
    height: 370px;
  }
  .headline-bg.index-bg{
    height: 540px;
  }
  .headline-bg + .section {
    padding-top: 30px;
  }
  .promo {
    margin-bottom: 17px;
  }
  .features-video .lang-title {
    margin-bottom: 10px;
  }
  .features-video .about-title {
    margin-bottom: 95px;
  }
  .section .intro {
    margin-bottom: 30px;
  }
  section.features-apm {
    padding: 40px 0;
  }

  //cta-section
  .cta-section {
    padding-top: 70px;
    min-height: 370px;
  }
  .extra-padding {
    padding-bottom: 0px;
  }
  .extra-padding-more {
    padding-top: 60px;
    padding-bottom: 0px;
    min-height: 310px;
  }

  //jobs.html
  .headline-bg.about-headline-bg {
    height: 360px;
  }
  .headline-bg.about-headline-bg.jobs-headline-bg {
    height: 610px;
  }
  .jobs.section-on-bg {
      padding-top: 10px;
      padding-bottom: 40px;

  }
  .fixed-width {
    width: 260px;
    height: 320px;
    margin:0 auto;
  }
  .jobs-tabbed {
    margin-top: 0px;

    .tab-header {
      height: 70px;
    }
    .features-content{
      .icon-tab {
        font-size: 35px;
        height: 45px;
        line-height: 1.4;
      }
      .tab-jobs {
        height: 25px;
        font-size: 12px;
        line-height: 1.3;
      } 
    }
  }
  
  //customers.html
  .mail-info {
    height: 125px;
    img {
      float: left;
      padding: 8px 20px;
    }
  }
  .mail-info2 {
    height: 80px;
  }
  .mail-info3 {
    height: 140px;
  }

  //price.html
  .pricing {
    padding-bottom: 10px;
  }
  .pricing .item .heading {
    .title {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .price-figure {
      min-height: 70px;
    }
    span {
      line-height: 1.5;
    }
  }
  .pricing .item .feature-list li {
    padding: 8px;
  }
  .btn-part {
    margin-top: 20px;
  }
  .agent-counting {
    padding-bottom: 30px;
    h2.title {
      margin-bottom: 20px;
    }
    .container {
      padding-bottom: 0;
      p {
        font-size: 13px;
      }
    }
  }
  .faq {
    padding-top: 40px;
    padding-bottom: 40px;

    .title {
      margin-bottom: 30px;
    }
    .panel .panel-heading {
      padding: 10px 20px;
    }
    
  }
  .faq .panel .panel-title .panel-toggle .fa {
    margin-right: 5px;
  }
  .lang-content ul li {
    margin-left: 10px;
  }
  .frame-pos {
    padding-left: 10px;
    padding-right: 10px;
  }
  .cta-section.pricing-cta-section .btn-sign-ye {
      padding: 8px 20px;
  }

}

@media (max-width: 375px) {
  .download {
    margin-bottom: 0;
  }
  .steps {
    .icon{
      width: 100%;
    }
  }
  .why .item .title {
    font-size: 24px !important;
  }
  .cta-section.pricing-cta-section {
    .title {
        font-size: 24px !important;
    }
  }
}
