/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .header {
    height: 80px;
  }
  .header.navbar-fixed-top {
    position: fixed;
    background: rgba(255, 255, 255, 0.9);
    z-index: 1000;
    height: 80px;
    top: 0;
    transition: 0.5s ease-in-out;
  } 
  // .header h1.logo {
  //   float: left;
  //   margin: inherit;
  //   text-align: center;
  // }
  // .header h1.logo a {
  //   margin: 0 auto;
  // }
  .header .main-nav .nav .nav-item {
    margin-right: 10px;
  }
  .main-nav.navbar-right {
    float: right !important;
  }
  .navbar-collapse.collapse {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  }
  .navbar-collapse.collapse .navbar-nav {
    float: none;
    margin: 0 auto;
    display: inline-block;
  }
  .promo {
    height: 536px;
    padding-top: 130px;
  }
  .promo .title{
    font-size: 43px;
  }
  .promo.section .intro {
    margin-bottom: 30px;
  }
  .promo .btn-link {
    margin-top: 15px;
  }
  .why .item .content {
    margin-bottom: 60px;
  }
  .why .control {
    top: 128px;
    margin-left: -45px;
  }
  .why .item .title {
    margin-bottom: 30px;
    text-align: center;
  }
  .footer-col {
    margin-bottom: 30px;
  }
  .modal.modal-video .modal-dialog {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .play-btn{
    top: 51%;
    left: 46%;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {  
  .header {
    height: 80px;
  }
  .header.navbar-fixed-top {
    position: fixed;
    background: rgba(255, 255, 255, 0.9);
    z-index: 1000;
    height: 80px;
    top: 0;
    transition: 0.5s ease-in-out;
  }
  .header.navbar-fixed-top h1.logo a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    // color: #ec6952;
    background: transparent;
    padding-left: 0;
    transition: 1.5s ease-in-out;
  }
  .main-nav {
    float: right !important;
  }
  .navbar-form .form-control {
    width: 225px;
  }
  .header h1.logo {
    float: left;
    margin: inherit;
  }
  .header .main-nav .nav .nav-item {
    margin-right: 15px;
  }
  .main-nav.navbar-right {
    float: right !important;
  }
  .promo {
    height: 536px;
    padding-top: 120px;
  }
  .promo.section .intro {
    margin-bottom: 45px;
  }
  .promo .btn-link {
    margin-top: 15px;
  }
  .why .item .content {
    margin-bottom: inherit;
  }
  .why .control {
    top: 128px;
    margin-left: -28px;
  }
  .modal.modal-video .modal-dialog {
    width: 960px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 15%;
  }
  .why .item .title {
    margin-bottom: 20px;
    text-align: left;
  }
  .why .figure {
    text-align: left;
  }
  .navbar-fixed-top .navbar-collapse {
    padding-left: 15px;
    padding-right: 15px;
  }
  .play-btn{
    top: 51%;
    left: 47%;
  }
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
    #topcontrol {
      display: none !important;
    }
  .logo-img {
    height: 70px;
    background-size: 75px auto;
  }
  // .header h1.logo {
  //   float: none;
  //   margin: inherit;
  //   text-align: center;
  // }
  // .header h1.logo a {
  //   margin: 0 auto;
  // }
  .header.navbar-fixed-top {
    position: relative;
  }
  .navbar-collapse {
    border-top: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    left: 0;
    top: 90px;
    position: absolute;
    background: #253340;
    z-index: 45;
  }
  .navbar-collapse .nav {
    margin: 0;
  }
  .header .main-nav .nav .dropdown-menu:before {
    display: none;
  }
  .navbar-fixed-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    max-height: inherit;
  }

  .headline-bg.index-bg{
    height: 600px !important;
  }
  .headline-bg + .section {
    padding-top: 75px;
  }
  .pricing .intro {
    margin-bottom: 45px;
  }
  .features-video iframe {
    padding: 5px;
  }
  .section .title {
    font-size: 29px !important;
    line-height: 40px;
  }
  .section td.title {
    font-size: 14px;
    line-height: 1.42857143;
  }
  .section .intro {
    font-size: 16px;
  }
  
  .promo {
     height: 375px;
    .title {
      line-height: 60px;
    }
    .btn-part-index {
      margin-top: 45px;
    }
    .btn-large {
      font-size: 16px;
    }
  }
  .features-tabbed-index .features-content .icon-tab {
    font-size: 110px !important;
  }
  .why .item .content {
    margin-bottom: 60px;
  }
  .why .control {
    top: 58px;
    margin-left: -30px;
  }
  .why .item .title {
    margin-bottom: 30px;
    text-align: center;
  }
  .pricing .item.best-buy {
    position: static;
    z-index: inherit;
  }
  .nav-tabs > li > a {
    padding: 10px 5px;
  }
  
  .main-nav .navbar-collapse .navbar-nav {
    padding-top: 15px;
    padding-bottom: 15px;
  }
 
  .footer-col {
    margin-bottom: 30px;
  }
  .footer-col .form-control {
    width: auto;
  }
  .footer .footer-col .navbar-form {
    padding-left: 15px;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .footer .footer-col .navbar-form .form-control {
    display: inline-block;
  }
  .modal.modal-video .modal-dialog {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .index-why .mobile-item .mobile-text {
     margin-top: 0; 
  }
  .why .item .desc {
    margin-bottom: 0;
  }
  .play-btn {
    font-size: 110px;
    top: 48%;
    left: 43%
  }
  .footer-col.connect .intro {
    margin-bottom: 0;
  }
  .text-container .about{
    padding: 0 15px;
  }
  .text-container .about .lang-logo {
    margin-top: 10px;
  }
  
 .text-container .about .lang-logo.logo-android{
    margin: 0;
    img{
      max-width: 120px;
      margin-left: 0;
      margin-bottom: 20px;
    }
  }
  .text-container .about .lang-logo.logo-ios{
    // margin: 0;
    img{
      max-width: 130px;
      margin-bottom: 20px;
    }
  }
  .text-container .about .lang-logo.logo-ruby{
    margin: 0;
    img{
      margin-left: 0;
      max-width: 120px;
      margin-bottom: 20px;
    }
  }
  .text-container .about .lang-logo.logo-python{
    margin: 0;
    img{
      margin-left: 0;
      max-width: 170px;
      margin-bottom: 20px;
    }
  }
  .text-container .about .lang-logo.logo-php{
    margin: 0;
    img{
      margin-left: 0;
      max-width: 160px;
      margin-bottom: 20px;
    }
  }
  .lang-content{
    border-right: none;
  }

}
@media (max-width: 480px) {
  .promo {
    height: 394px;
  }

  .btn-large {
    font-size: 14px !important;
    padding: 4px 8px;
  }
  .btn-index-span {
    padding: 0 4px;
  }

  .features-tabbed-index .features-content {
    .icon-tab {
      font-size: 80px !important;
      -webkit-text-stroke-width: 0px !important;
    }
  }
  .why {
    padding-top: 50px;
    .item {
      padding: 60px 0;
      .img-cells {
        margin-bottom: 20px;
      }
      .content {
        margin-bottom: 20px;
      }
      .desc {
        margin-bottom: 0;
      }
    }
  }
  .index-why {
    .mobile-item {
      padding-bottom: 0;
      .mobile-text {
        margin-top: 0;

        .text-item {
          margin: 0 0 25px 0;
          img {
            width: 35px;
            margin-right: 6px;
          }
          span {
            font-size: 18px;
          }
        }
      }
    }
  }
  .play-btn {
    top: 40%;
    left: 42%;

    .icon-play {
      font-size: 60px;
    }
  }
  #news-section-bottom .news-item {
    margin: 30px 5px;
  }
  .headline-bg {
    height: 370px;
  }
  .headline-bg + .section {
    padding-top: 30px;
  }
  .features-video .lang-title {
    margin-bottom: 30px;
  }
  .section .intro {
    margin-bottom: 30px;
  }
  section.features-apm {
    padding: 45px 0;
  }

  //jobs.html
  .headline-bg.about-headline-bg {
    height: 560px;
  }
  .jobs.section-on-bg {
      padding-top: 10px;
      padding-bottom: 40px;

    }
  section.joblist {
    margin-top: 40px;
    margin-bottom: 40px;
  }

//customers.html

.mail-info {
  height: 125px;
  img {
    float: left;
    padding: 8px 20px;
  }
}

}
