@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1427365849_7190213.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1427365849_7190213.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1427365849_7190213.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1427365849_7190213.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1427365849_7190213.svg#iconfont') format('svg'); /* iOS 4.1- */
}    
           
.iconfont{
    font-family:"iconfont" !important;
    font-size:75px;
    font-style:normal;
    -webkit-text-stroke-width: 0.4px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.iconLogo{
  color: rgba(255, 255, 255, 0.6);
  font-weight: normal;
  &:hover {
       color: rgba(255, 255, 255, 1);
  }
}
.icon-nav{
  font-size: 26px;
  vertical-align: bottom;
  -webkit-text-stroke-width: 0.1px;
}
.icon-down{
  font-size: 13px;
  vertical-align: middle;
  padding-top: 5px;
}
.header.navbar-fixed-top h1.logo .iconLogo{
  color: #006ec3;
}
.header.navbar-fixed-top .main-nav .nav .nav-item a .icon-nav{
  color: rgba(102, 102, 102, 0.8);
}