/* ======= Footer ======= */
.footer {
  background: #f2f2f2;
  color: #666;
  padding-top: 50px;
  font-size: 12px;
  position: relative;
  z-index: 20;
}
.footer p {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.footer .btn-cta,
.footer a.btn-cta {
  padding: 9px 10px;
}
.footer .footer-col.links .fa {
  margin-right: 5px;
}
.footer .footer-col.links li {
  margin-bottom: 10px;
}
.footer .footer-col.connect .social {
  margin-bottom: 0;
  overflow: hidden;
}
.footer .footer-col.connect .social li {
  margin-right: 10px;
}
.footer .footer-col.connect .social li a .fa {
  color: #666;
  font-size: 20px;
}
.footer .footer-col.connect .social li a:hover .fa {
  color: #333;
}
// .footer .footer-col.connect .btn-cta-primary {
//   background: #5d80a1;
//   border-color: #5d80a1;
// }
// .footer .footer-col.connect .btn-cta-primary:hover {
//   background: #4a6781;
//   border-color: #4a6781;
// }
.footer .footer-col .title {
  color: #333;
  font-weight: normal;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 20px;
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
}
.footer .footer-col p {
  color: #666;
}
.footer .footer-col a {
  color: #666;
}
.footer .footer-col a:hover {
  color: #333;
}
// .footer .footer-col .navbar-form {
//   padding-left: 0;
//   padding-right: 0;
// }
// .footer .footer-col .navbar-form .form-control {
//   -webkit-opacity: 0.9;
//   -moz-opacity: 0.9;
//   opacity: 0.9;
// }
// .footer .footer-col .navbar-form .form-control:focus {
//   -webkit-opacity: 1;
//   -moz-opacity: 1;
//   opacity: 1;
// }
.footer .has-divider {
  border-top: 1px solid #e3e3e3;
  // padding-top: 30px;
  padding-bottom: 3px;
}
// .footer .download .download-list li {
//   margin-bottom: 15px;
// }
// .footer .download .download-list li .btn-ghost {
//   text-align: left;
//   -webkit-opacity: 0.6;
//   -moz-opacity: 0.6;
//   opacity: 0.6;
//   width: 230px;
// }
// .footer .download .download-list li .btn-ghost:hover {
//   -webkit-opacity: 1;
//   -moz-opacity: 1;
//   opacity: 1;
// }
.footer .contact p {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.footer .contact p a {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.footer .contact .fa {
  margin-right: 10px;
  font-size: 20px;
}
.footer .contact .email .fa {
  font-size: 16px;
}
.footer .bottom-bar {
  // background: #1e1e1e;
  color: #999;
  font-size: 14px;
  padding: 10px 0;
}
.footer .bottom-bar .copyright {
  line-height: 1.6;
}

.icon-connect{
  font-size: 24px !important;
  -webkit-text-stroke-width: 0.2px !important;
}

.qrcode {
  display: none;
  position: absolute;
  top: -210px;
  left: -140px;
}


.footer .footer-col .social a:hover, 
.footer .footer-col .social a:focus {
  text-decoration: none;
  .qrcode{
    display: block;
  }
} 
.footer-col.connect .intro{
  font-size: 12px;
  margin-bottom: 36px;
}
.street-address {
  font-size: 12px;
  padding-left: 5px;
}
.lang-selector {
  display: inline-block;
  float: right;
  a {
    font-size: 12px;
    color: #999;
  }
}
.tel {
  font-size: 13px;
}
.email-addr {
  font-size: 13px;
}
.adr, .email {
  margin-bottom: 0;
}

@media (max-width:1200px) {
  .qrcode {
    top: -210px;
  }
}

@media screen and (max-width:991px) and (min-width:768px) {
  .qrcode {
    top: -210px;
  }
}

@media (max-width:767px) {
  .footer .footer-col .social a:hover, 
  .footer .footer-col .social a:focus {
    .qrcode{
      display: none;
    }
  } 
  .footer .footer-col.connect .social {
    margin-top: 20px;
  }
  .footer .footer-col p {
    margin-bottom: 4px;
  }
}
