/* ======= apm-feature ======= */
.content {
	.img-p {
		text-align: center;
		line-height: 200px;
		padding: 0;
		margin-bottom: 10px;
	}
	.img-desc {
		width: 230px;
		margin-left: 20px;
	}
}

/* ======= lang page ======= */
.lang-content{
	margin-bottom: 30px;
	border-right: 1px solid #eeeeee;
	.item {
		padding: 60px 0;
		padding-right: 4.15%;
	}
	.item.last-item {
		padding-bottom: 0;
	}
	.ul-indep {
		margin: 45px 0;
	}
	.item .desc {
		margin-bottom: 0;
		p {
			font-size: 16px;
			&.note{
				color: rgba(43,43,43,0.5);
				font-size: 12px;
			}
		}
	}
	ul {
		list-style: none;
		padding-left: 10px;
		font-size: 16px;
		li {
		  margin-left: 40px;
		  padding-left: 6px;
		  margin-top: 16px;
		  list-style-type: disc;
		}
		.first-li{
		  	margin-top: 0;
		}
	}

	.video-wrapper {
		margin-top: 10px;
		.frame-title {
			margin-top: 0;
		}
	}
}

.frame-pos {
	padding-left: 10%;
}
.frame-title {
	margin: 40px 0 20px 0;
	font-size: 16px;
  	font-weight: bold;
  	color: rgb(177, 177, 177);
}

.frameworks {
	overflow: hidden;
	ul {
		list-style: none;
		position: relative;
		float: left;
		width: 100%;
		border-top: 1px solid #d9d9d9;
		border-left: 1px solid #d9d9d9;
		list-style-type: none;
		padding: 0;
		margin: 0;
		clear: both;

		li {
			display: block;
		    float: left;
		    padding: 10px 0;
		    width: 50%;
		    text-align: center;
		    margin: 0;
		    list-style-image: none;
		    border-bottom: 1px solid #d9d9d9;
		    border-right: 1px solid #d9d9d9;
		    background: #f8f8f8;

		    a {
		    	display: block;
			    height: 40px;
			    line-height: 40px;
		    }
		    img {
		    	width: 100%;
		    	max-width: 137px;
  				vertical-align: middle;
  				border: 0;
		    }
		}
	}
}
.key-advan{
	ul {
		list-style: none;
		padding-left: 0;
		font-size: 14px;
		li {
			line-height: 20px;
			padding-bottom: 20px;
			width: 100%;
			&:before{
				font-family: FontAwesome;
				content: '\f00c';
				padding-right: 8px;
			}
		}
	}
}

// .bg-index{
//   position: absolute;
//   width: 100%;
//   top: 0;
//   left: 0;
//   height: 780px;
//   background: #fff;

//   img{
//   	width: 100%;
//   }
// }

// .btn-part-index{
// 	margin-top: 50px;
// }

.features-tabbed-index {
	position: relative;
	padding-top: 0;
	padding-bottom: 10px;

	.tab-title {
		font-size: 110px;
		margin:-50px 0 -40px 0;
		color: #333;
	}
	.tab-subtitle {
		margin: 0 0 10px 0;
		color: #939393;
		font-weight: normal;
		line-height: 1.8;
		font-size: 14px;

	}

	.features-content{
		border-radius: 4px;
		border-top: none;

		.icon-tab {
			display: block;
			font-size: 50px;
			color: #fff;
			height: 64px;
			line-height: 1.4;
			overflow: hidden;
			-webkit-text-stroke-width:0.2px;
		}
		.nav-tabs > li {
			border: none;

		}
		.nav-tabs > li > a {
			background: transparent;
			padding: 0;
			&:hover {
				background: rgba(250, 250, 250, 0.5);
			}
		}
		.nav-tabs > li.active {
			background: #fff;

			.icon-ai{
				color: #006ec3;
			}
			.icon-bi{
				color: #00adba;
			}
			.icon-mi{
				color: #00a0e9;
			}
			a {
				background-color: #fff;
			}
		}
		.tab-content {
			padding: 10px 0;
		}
	}
}

// .headline-bg.index-bg{
// 	background-color: #006ec3;
// 	background-image: url('../images/index/index.png');
// 	background-repeat: no-repeat;
// 	background-position: 50% top;
// 	height: 780px;
// }

// .figure .img-cells{
// 	box-shadow: none !important;
// 	width: 99% !important;
// }


// .index-why {
// 	padding-bottom: 0;
// 	.item {
// 		border-bottom: none;
// 		.desc .lang-link {
// 			font-weight: bold;
// 			line-height: 1.625;
// 		}
// 	}
// 	.mobile-item {
// 		padding-bottom: 0;
// 		.mobile-text {
// 			margin-top: 100px;
// 			.text-item {
// 				margin: 20px 0 30px 0;
// 				img {
// 					width: 70px;
// 	  				display: inline-block;
// 	  				margin-right: 20px;
// 				}
// 				span {
// 					display: inline-block;
// 					font-size: 29px;
// 					color: #333;
// 					vertical-align: middle;
// 				}
// 			}
// 		}
// 		.img-mobile {
// 			width: 80% ;
// 		  	box-shadow: none;
// 		}
// 	}
// }
// .index-press {
// 	padding-top: 50px;
// 	padding-bottom: 50px;
// 	border-top: 1px solid #eeeeee;
// }

// #news-section-bottom {
//   position: relative;
//   z-index: 9;
//   white-space: nowrap;
//   text-align: center;
//   font-size: 0;
//   padding: 0 10px;

//   .news-item {
// 	  display: inline-block;
// 	  word-break: break-word;
// 	  text-decoration: none;
// 	  // height: 220px;
// 	  margin-bottom: 30px;

// 	  img {
//   		  width: 100%;
//   	    }
//   	  .news-title {
// 		  color: #939393;
// 		  font-size: 14px;
// 		  display: inline-block;
// 		  vertical-align: top;
// 		  margin: 15px 0;
// 		  line-height: 20px;
// 		  font-size: 12px;
// 		  color: #939393;
// 		  word-break: break-word;
// 		  white-space: normal;
// 		  width: 100%;
// 		  height: 10px;
// 		  max-width: 100%;
// 		}
// 	}
// }

// .cta-section-index {
// 	.partner {
// 		width: 100%;
// 		margin-bottom: 45px;

// 		img {
// 			width: 90%;
//   			max-width: 830px;
// 		}
// 	}
// 	.title {
// 		margin-bottom: 30px;
// 	}
// }

.icon-play{
	font-size: 100px;
	color: rgba(110, 110, 110, 0.8);
}

.jobs-tabbed {
	.tab-header {
		width: 100%;
		height: 100px;
		position: absolute;
		top: 0;
		left: 0;
		background:rgba(255, 255, 255, 0.5);
		z-index: 1;
	}
	.tab-jobs {
	  display: block;
	  height: 36px;
	  font-size: 14px;
	  color: #fff;
	  line-height: 1.42857143;
	}
	.nav-tabs > li.active > a > .tab-jobs {
		color: #999;
	}
	.panel {
		background: #f5f5f5;		
		.panel-title {
			font-weight: normal;
			color: #666;
			i.fa {
				color: #D5D5D5;
			}
	 	}
	 	.panel-title:hover {
	 		i.fa {
				color: #337ab7;
			}
	 	}
		.subtitle {
			font-size: 14px;
			font-weight: bolder;
			text-align: left;
			color: rgba(0, 0, 0, 0.5)
		}
		ul {
			padding-left: 20px;
			li{
		 		font-size: 12px;
		 		text-align: left;
		 	}
		}
		
	 	.panel-small {
	 		color: #B8B8B8;
	 		font-size: 14px;
	 		text-align: left;
	 	}
	 	
	}

	.contents {
		margin-top: 40px;
	}

	p.job-name {
		display: inline-block;
		font-size: 14px;
		width: 92%;
		text-align: left;
		margin-bottom: 0;
	}
	a:hover {
		text-decoration: none;
	}
	a.mail-link:hover{
		text-decoration: underline;
	}
}

.steps {
	background: #fff;
	padding-top: 80px;
	padding-bottom: 80px;
	position: relative;
	.icon {
	  width: 160px;
	  display: block;
	  text-align: center;
	  margin: 0 auto;
	  margin-top: 20px;
	  img {
	  	box-shadow: none;
	  	vertical-align: middle;
	  }
	}
	.title {
		font-size: 36px;
		font-weight: 300;
		margin-bottom: 20px;
		margin-top: -20px;
		.text {
			font-size: 20px;
			color: rgb(51, 51, 51);
		}
		
	}
	.intro-text {
		max-width: 190px;
		margin-left: auto;
		margin-right: auto;
		color: rgba(43, 43, 43, 0.5);
		font-size: 14px;
	}
	.line {
		height: 1px;
		line-height: 1px;
		background-color: #eeeeee;
		margin-top: 120px;
	}
}

.lang-header {
	height: 420px;
	overflow: hidden;
	p{
		color: #fff;
		margin-top: 20px;
		padding-left: 40px;
		padding-right: 40px;
	}
	.lang-title{
		height: 52px;
		margin-bottom: 10px;
		margin-left: 40px;
	}
	.lang-logo{
		display: inline-block;
		width: 350px;
		margin-top: -5%;
		position: absolute;
	}
}
.video-wrapper{
	margin-top: 30px;
	position: relative;
	ul{
		padding-left: 0;
		li{
			position: relative;
			list-style: none;
			margin-left: 0;
		}
	}
	video{
		border: 2px solid rgba(102, 102, 102, 0.1);
	}
}
.cta-section.pricing-cta-section {
	// background: #006ec3; 
    padding: 90px 0;
    min-height: 200px;
    position: relative;
    .title {
    	font-size: 34px;
    	line-height: 55px;
    	margin: 0;
    }
    .btn-sign-ye {
    	margin-top: 20px;
    	padding: 10px 30px;
    	color: #006ec3;
  		background: #FFFFFF;
  		border: 2px solid #FFFFFF;
    }
}