/* ======= IE9 Fix ======= */
.ie9 .pricing .item .ribbon,
.ie8 .pricing .item .ribbon {
  top: 0px;
  right: 0px;
  height: 60px;
}
.ie9 .pricing .item .ribbon .text,
.ie8 .pricing .item .ribbon .text {
  position: static;
  font-size: 13px;
  width: auto;
  padding: 5px;
}
.ie9 .pricing .item .ribbon .text:before,
.ie8 .pricing .item .ribbon .text:before,
.ie9 .pricing .item .ribbon .text:after,
.ie8 .pricing .item .ribbon .text:after {
  display: none;
}