@import "lesshat";
.imgslider-container{
	h2{
		font-size: 36px;
	}
}
.img-wrapper{
	position: relative;
	width: 700px;
	height: 500px;
	margin: 0 auto;
	.transform-style(preserve-3d);
	.perspective(1000px);
	.img-text {
		display: none;
	}
}
.imgslider{
	position: absolute;
	display: block;
	width: auto;
	height: 300px;
	top: 0;
	left: 0;
	text-decoration: none;
	text-align: center;
}
.radius-border-img {
	.border-radius(4px);
	.box-shadow(0px 2px 5px 1px rgba(0, 0, 0, 0.2));
	width: 100%;
}
.img-prev{
	.transform(translateX(-340px) translateZ(-330px) rotateY(45deg));
	.transition(transform 0.5s ease-in-out);
	cursor: pointer;
}
.img-current{
	.transform(translateX(0px) translateZ(0px) rotateY(0deg));
	.transition(transform 0.5s ease-in-out);
	z-index: 100;
}
.img-next{
	.transform(translateX(340px) translateZ(-330px) rotateY(-45deg));
	.transition(transform 0.5s ease-in-out);
	cursor: pointer;
}

.img-wrapper.folded{
	.img-prev{
		.transform(translateX(-0px) translateZ(-330px) rotateY(45deg));
		.transition(transform 0.5s ease-in-out);
		cursor: pointer;
	}
	.img-next{
		.transform(translateX(0px) translateZ(-330px) rotateY(-45deg));
		.transition(transform 0.5s ease-in-out);
		cursor: pointer;
	}
	&+.indicator{
		.opacity(0);
	}
}


.controller-wrap {
	text-align: center;
	position: relative;
	z-index: 0;
	display: none;
}
.slider-icon{
	font-size: 200px;
}
.icon-ai{
	color: #00a040;
}
.icon-bi{
	color: #00adba;
}
.icon-mi{
	color: #00a0e9;
}
.arrow-icon{
	font-size: 33px;
	color: #939393;
}

.prev-btn,.next-btn{
	display: inline-block;
	cursor: pointer;
	vertical-align: top;
	margin-left: -37px;
	margin-right: -25px;
	z-index: 20;
	position: relative;
}

.next-btn{
	display: inline-block;
	cursor: pointer;
}

.img-text{
	display: inline-block;
	a{
		font-size: 12px;
		margin: 0 10px;
		font-weight: normal;
	}
	.text-inset{
		color: #939393;
	}
}

.icon-container{
	margin-top: 30px;
}

.indicator{
	display: block;
	position: relative;
	bottom: 0;
	width: inherit;
	padding: 0;
	margin-bottom: 20px;
	margin-top: -40px;
	.opacity(1);
	.transition(opacity 1s ease-in-out);
	li{
		display: inline-block;
		width: 8px;
		height: 8px;
		.border-radius(50%);
		background: rgba(51, 51, 51, 0.2);
		cursor: pointer;
		&.cur{
			background: rgba(51, 51, 51, 0.4);
		}
	}
}

//关于响应

@media(min-width: 1600px){
	.img-wrapper{
		width: 800px;
		height: 580px
	}
	.indicator{
		margin-top: -60px;
	}
}


@media(max-width: 1200px){
	.img-wrapper{
		width:560px;
		height: 360px;
	}
	.img-prev{
		.transform(translateX(-290px) translateZ(-330px) rotateY(45deg));
	}
	.img-next{
		.transform(translateX(290px) translateZ(-330px) rotateY(-45deg));
	}
	.imgslider-container{
		margin: 40px 0 20px;
	}
	.indicator{
		margin-top: 10px;
	}
}

@media(max-width: 991px){
	.img-wrapper{
		width:80%;
	}
	.img-prev{
		visibility: hidden;
		display: none;
	}
	.img-next{
		visibility: hidden;
		display: none;
	}
	.controller-wrap{
		display: none;
	}
	.prev-btn,.next-btn{
		margin-left: -37px;
		margin-right: -25px;
		width: 5%;
	}
	.img-text{
		// width: 90%;
		margin-top: 30px;
	}
	.indicator{
		margin-top: 15px;
	}
}

@media(max-width: 767px){
	.controller-wrap{
		margin-top: -25px;
	}
	.imgslider-container{
		padding-bottom: 0;
		margin: 40px 0 20px;
	}
	.img-wrapper{
		width:99%;
		height: 500px;
		position: static;
		height: auto;
	}
	.img-text{
		min-width: 0;
		// width: 100%;
	}
	.imgslider{
		position: static;
		height: auto;
	}
	.features-tabbed-index .tab-title{
		margin: 0;
	}
	.prev-btn,.next-btn{
		width: 5%;
	}
	.img-text a{
		font-size: 14px;
	}
	.link-wrap{
		margin: 0 -50px;
	}
	.icon-container{
		margin-top: 30px;
	}
	.slider-icon{
		font-size: 170px;
	}
	.arrow-icon{
		font-size: 40px;
	}

}


@media(max-width: 480px){
	.img-wrapper{
		width:99%;
	}
	.slider-icon{
		font-size: 130px;
	}
	// .img-text{
	// 	width: 40%;
	// }
	.img-text a{
		font-size: 12px;
	}
	.arrow-icon{
		font-size: 35px;
	}
	.icon-container{
		margin-top: 30%;
	}
	// .prev-btn{
	// 	margin-left: -120px;
	// 	margin-right: 40px;
	// }
	// .next-btn{
	// 	margin-left: 40px;
	// 	margin-right: -120px;
	// }
	 .btn-gray-bg{
	 	margin-left: 0;
	 }
	 .prev-btn,.next-btn{
	 	margin-left: -30px;
	 	margin-right: -12px;
	 }
}

