

.mi-headline-img {
	width: 590px;
	max-width: 100%;
	display: block;
}
.feature-mi {
	width: 100%;
	margin-top: 0;
	padding-top: 100px;
	padding-bottom: 0;
	overflow: hidden;
	height: 600px;
	.milogo {
		width: 160px;
		margin-bottom: 50px;
	}
	p.intro {
		text-align: left;
		margin-bottom: 20px;
	}
	p.more {
		text-align: left;
		font-size: 14px;
		a {
			color: #fff;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 14px;
			text-decoration: none;
			cursor: pointer;
			margin-right: 15px;
		}
	}

}


.mi-tab {
	padding: 90px 0;
	h3.title {
		margin-bottom: 30px;
	}
	.nav-tabs {
		width: 500px;
	}
	.tab-content {
		background-image: url('/images/mi/tab.png');
		background-repeat: no-repeat;
  		background-size: 100% auto;
  		background-position: 50% top;

  		img {

		}
	}
	p.intro {
		margin-bottom: 40px;
	}
	p.sign-up {
		margin-top: 60px;
	}
}


@media(min-width: 768px) {
	.mi-headline-img {
		position: absolute;
		left: 50%;
		top: 0;
	}
	.feature-mi {
		padding-top: 120px;
		.milogo {
			margin-left: 30px;
		}
		p.intro {
			padding-left: 30px;
		}
		p.more {
			padding-left: 30px;
		}
	}
}
// @media (max-width: 991px) {
// 	.feature-ee {
// 		h2.title {
// 			padding-left: 20px;
// 			font-size: 30px;
// 			span {
// 				font-size: 24px;
// 				margin-bottom: 10px;
// 			}
// 		}
// 		p.intro {
// 			padding-left: 20px;
// 		}
// 		p .btn {
// 			margin-left: 20px;
// 		}
// 		.ee-headline-img {
// 			left: 55%;
// 			bottom: -15%;
// 		}
// 	}

// }
// @media(max-width: 767px) {
// 	.headline-bg.ee-headline-bg {
// 	    height: 910px;
// 	  }
// 	.ee-partner {
// 		display: none;
// 	}
// 	.ee-headline-img {
// 		max-width: 80%;
// 		margin-left: auto;
// 		margin-right: auto;
// 		margin-bottom: -80px;
// 	}
// 	.feature-ee {
// 		height: auto;
// 		padding-top: 50px;
// 		h2.title {
// 			padding-left: 0;
// 			text-align: center;
// 			font-size: 35px !important;
// 			span {
// 				font-size: 30px;
// 				margin-bottom: 5px;
// 			}
// 		}
// 		p.intro {
// 			padding-left: 0;
// 			text-align: center;
// 			width: 80%;
// 			margin-bottom: 30px;

// 		}
// 		p {
// 			margin-bottom: 0;
// 			text-align: center;
// 			.btn {
// 				margin-left: 0;
// 				margin-bottom: 50px;
// 			}
// 		}
// 	}
// }
@media(max-width:480px){
	.mi-tab {
  	    padding: 40px 0;
		.figure {
		    ul {
		      	width: 100%;
		        margin-bottom: 10px;
		      	.feature-img {
			        margin-bottom: 10px !important;
			    }
			    a {
			        line-height: 1;
			        span {
			          font-size: 12px;
			        }  
			    }
		    } 
		}
	}
}

