//////for apm-feature///////////
.index-blue {
	background: #3e78d1;
	text-align: center;
	height: 120px;

	.num {
		float: left;
		margin-left: 80px;
		width: 100px;
		height: 120px;
	}
	.tz {
		float: left;
	}
}
.content {
	.img-p {
		text-align: center;
		line-height: 200px;
		padding: 0;
		margin-bottom: 10px;
	}
	.img-desc {
		width: 230px;
		margin-left: 20px;
	}
}

#apm-features-item1 .index-blue{
	.num.num1 {
		margin-right: 110px;
		background: url('/images/num/1.png') 0 0 no-repeat;
	}
	.num.num2 {
		margin-right: 110px;
		background: url('/images/num/2.png') 0 0 no-repeat;
	}

}

.section-content {
	vertical-align: top;
	padding: 30px 0;
}
	
////////////******** for lang page *********/////////////

.text-container {
	background-color: #fff;
	padding: 30px;
	margin: 0 auto;
	max-width: 880px;
	border: 1px solid #eeeeee;
	border-radius: 4px;
	box-shadow:0 4px 1px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
	text-align: left;

	.about {
		padding: 30px;

		p {
			font-size: 16px;
		}
		.lang-logo{
			margin: 30px 0;
			img {
				width: 100%;
				max-width: 200px;
				vertical-align: middle;
			}
		}
		.logo-python{
			margin: 90px 0;
		}
		.lang-button{
			margin-top: 25px;
			text-align: left;
		}
	}
}

.lang-content{
	margin-bottom: 30px;
	border-right: 1px solid #eeeeee;
	.item {
		padding: 60px 10px;
	}
	.ul-indep {
		margin: 45px 0;
	}

	.item .desc {
		margin-bottom: 0;
		// margin-left: -15px;
		p {
			font-size: 16px;
		}
		.setup-box {
			background-color: #f3f3f3;
			padding: 20px 30px;
			color: #858585;
			margin-top: 10px;

			h2 {
			  	color: #858585;
				font-size: 17px;
				font-weight: bold;
				margin: 0;
			}

			h4{
				font-size: 16px;
				font-weight: bold;
				margin-top: 30px;
			}
			p {
				margin-bottom: 0;
				margin-top: 5px;
				margin-left: 18px;
			}
			.setup-content{
				margin-left: 18px;
			}
			.command-box{
				padding: 8px;
				margin-top: 10px;
				margin-left: 18px;
			    background-color: #545454;
			    color: #86b2f6;
			    font-family: courier,monospace;
			}
		}
	}

	ul {
		list-style: none;
		padding-left: 10px;
		font-size: 14px;
		color: #006ec3;
		// padding-right: 15px;

		li {
		  list-style-image: url(/images/lang/li_style_circle.png);
		  margin-left: 40px;
		  padding-left: 6px;
		  margin-top: 16px; 
		}
		.first-li{
		  	margin-top: 0;
		}
	} 
}
.frame-title {
	margin: 40px 0 20px 0;
	font-size: 16px;
  	font-weight: bold;
  	color: rgb(177, 177, 177);
}
.frame-title-top {
	margin: 40px 0;
	font-size: 16px;
  	font-weight: bold;
  	color: rgb(177, 177, 177);
}
.frameworks {
	overflow: hidden;
	ul {
		list-style: none;
		position: relative;
		float: left;
		width: 100%;
		border-top: 1px solid #d9d9d9;
		border-left: 1px solid #d9d9d9;
		list-style-type: none;
		padding: 0;
		margin: 0;
		clear: both;

		li {
			display: block;
		    float: left;
		    padding: 10px 0;
		    width: 50%;
		    text-align: center;
		    margin: 0;
		    list-style-image: none;
		    border-bottom: 1px solid #d9d9d9;
		    border-right: 1px solid #d9d9d9;
		    background: #f8f8f8;

		    a {
		    	display: block;
			    height: 40px;
			    line-height: 40px;
		    }
		    img {
		    	width: 100%;
		    	max-width: 137px;
  				vertical-align: middle;
  				border: 0;
		    }
		}
	}
	
}
.key-advan{
	// margin-top: 20px;
	ul {
		list-style: none;
		padding-left: 16px;
		font-size: 14px;
		li {
			list-style-image: url(/images/lang/li_style_right.png);
			padding-left: 6px;
			margin-left: 20px;
			line-height: 40px;
		}
	}
}

.bg-index{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 780px;
  background: #fff;

  img{
  	width: 100%;
  }
}

.features-tabbed-index {
	.nav-tabs > li > a {
		line-height: 1.42857143;
	}
	.tab-title {
		font-size: 24px;
		font-weight: bold;
		margin:30px 0;
		color: #A3A3A3;
	}

	
}