.index-blue {
	background: #3e78d1;
	text-align: center;
	height: 120px;

	.num {
		float: left;
		margin-left: 80px;
		width: 100px;
		height: 120px;
	}
	.tz {
		float: left;
	}
	.img-p {
		text-align: center;
		line-height: 200px;
		padding: 0;
		margin-bottom: 10px;
	}
	.img-desc {
		width: 230px;
		margin-left: 20px;
	}

}
#apm-features-item1 .index-blue{
	.num.num1 {
		margin-right: 110px;
		background: url('/images/num/1.png') 0 0 no-repeat;
	}

}

.section-content {
	vertical-align: top;
	padding: 30px 0;
}