{% extends '../base/_layout.html' %}


{% block content %}
<section class="pricing section section-on-bg">
        <div class="container">
            <h2 class="title text-center">MOBILE 报价</h2>
            <p class="intro text-center">免费版，<strong>永久免费</strong></span>。新注册用户，免费试用专业版 15 天。</p>
             <div class="price-cols row">
                <div class="items-wrapper col-md-10 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
                    <div class="item price-1 col-md-4 col-sm-4 col-xs-12 text-center">
                        <div class="item-inner">
                            <div class="heading">
                            <h3 class="title">免费版</h3>
                                <p class="price-figure"><span class="price-figure-inner"><span class="currency">￥</span><span class="number">0</span><br /><span class="unit"> Agent / 月</span></span></p>
                            </div>
                            <div class="content">
                                <ul class="list-unstyled feature-list">
                                    <li>Crash 智能归类</li>
                                    <li>Crash 影响范围</li>
                                    <li class="disabled"><i class="fa fa-times" style="color: transparent;"></i></li>
                                    <li class="disabled"><i class="fa fa-times" style="color: transparent;"></i></li>
                                    <li>数据存储 24 小时</li>
                                    <li>5 x 8 小时<br/>电话 & 邮件 & 远程支持</li>
                                </ul>
                                <a class="btn btn-cta btn-cta-primary" href="signup.html">马上试用</a>
   
                            </div><!--//content-->
                        </div><!--//item-inner-->
                    </div><!--//item--> 
                    
                    <div class="item price-2 col-md-4 col-sm-4 col-xs-12 text-center best-buy">
                        <div class="item-inner">
                            <div class="heading">
                            <h3 class="title">专业版</h3>
                                <p class="price-figure"><span class="price-figure-inner"><span class="currency">￥</span><span class="number">299</span><br /><span class="unit"> Agent / 月</span></span></p>
                            </div>
                            <div class="content">
                                <ul class="list-unstyled feature-list">
                                    <li>Crash 轨迹抓取</li>
                                    <li>Crash 详细信息</li>
                                    <li>外部服务拓扑</li>
                                    <li>地理位置和版本分布</li>
                                    <li>数据存储 15天</li>
                                    <li>7 x 24 小时<br/>电话 & 邮件 & 远程支持</li> 
                                </ul>
                                <a class="btn btn-cta btn-cta-primary" href="signup.html">马上试用</a>
                            </div><!--//content-->
                            <div class="ribbon">
                                <div class="text">Popular</div>
                            </div><!--//ribbon-->
                        </div><!--//item-inner-->
                    </div><!--//item-->  
                    
                    <div class="item price-3 col-md-4 col-sm-4 col-xs-12 text-center">
                        <div class="item-inner">
                            <div class="heading">
                                <h3 class="title">企业版</h3>
                                <p class="price-figure"><span class="phone-number">400-659-1230</span><br /><span class="unit">联系销售</span></span></p>
                            </div>
                            <div class="content">
                                <ul class="list-unstyled feature-list">
                                    <li>自定义 Dashboard</li>
                                    <li>App 统计分析</li>
                                    <li class="disabled"><i class="fa fa-times" style="color: transparent;"></i></li>
                                    <li class="disabled"><i class="fa fa-times" style="color: transparent;"></i></li>
                                    <li>永久数据存储</li>
                                    <li>7 x 24 小时<br/>电话 & 邮件 & 远程支持 & 现场服务</li>          
                                </ul>
                                <a class="btn btn-cta btn-cta-primary" href="signup.html">400-659-1230</a>
                                
                            </div><!--//content-->
                        </div><!--//item-inner-->
                    </div><!--//item-->  
                </div><!--//items-wrapper-->                   
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//pricing-->
    <section class="agent-counting section has-bg-color">
        <div class="container">
            <h2 class="title text-center col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1 col-xs-offset-0">优惠&amp;限制</h2>
            
            <div class="row">
                <div class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1 col-xs-offset-0">
                <p>OneAPM 通过「月活跃用户数」，对专业版进行计费；若全年费用一次性缴纳，会有相应折扣。</p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>月活跃用户数</th>
                                <th>价格（按月付费）</th>
                                <th>价格（按年付费）</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>10,000</td>
                                <td>￥ 299 / 月</td>
                                <td>￥ 2990 / 年</td>
                            </tr>
                            <tr>
                                <td>50,000</td>
                                <td>￥ 599 / 月</td>
                                <td>￥ 5990 / 年</td>
                            </tr>
                            <tr>
                                <td>100,000</td>
                                <td>￥ 1299 / 月</td>
                                <td>￥ 12990 / 年</td>
                            </tr>
                        </tbody>
                    </table>
                    <p style="font-size:16px;">当月活跃用户数超过 100,000 时，请联系 OneAPM 销售人员，询问报价事宜：400-622-3101</p>
                </div>
            </div>
            <p class="text-center btn-part">
                <a href="#" class="btn btn-knowmore">查看功能对比</a>
                <span class="btn-span">or</span>
                <a href="signup.html" class="btn btn-sign">立即注册</a>
            </p>
        </div>
    </section>

    <!-- ***** Function Table Section***** -->
    <section class="function section has-bg-color">
        <div class="container">
            <h2 class="title text-center">功能对比</h2>
            <h3 class="title text-center">免费版，永久免费。新注册用户，免费试用专业版 15 天。</h3>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-1 col-xs-offset-0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="empty"></th>
                                <th><h4>免费版</h4></th>
                                <th><h4>专业版</h4></th>
                                <th><h4>企业版</h4></th>
                            </tr>
                        </thead>
                        <tbody data-source="mobile-function.json"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    
    <!-- ******FAQ Section****** --> 
    <section class="faq section has-bg-color">
        <div class="container">
            <h2 class="title text-center">常见问题</h2>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-md-5 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle" href="#faq1"><i class="fa fa-plus-square"></i><p>如何收费</p></a></h4>
                        </div>
            
                        <div class="panel-collapse collapse" id="faq1">
                            <div class="panel-body">
                                <p>免费版永久免费。</p>
                                <p>专业版按照「月活跃用户数」进行收费；月活跃用户数是指单个应用在一个自然月内，活跃用户数的数量；OneAPM 定义用户为：若一台设备连接到您的应用，则被定义为一个用户，用户数的唯一标识是通过设备号进行标识的。</p>
                                <p>相关的优惠和限制，请查看 优惠 & 限制。</p>
                                <p class="panel-small">企业版的收费情况，请电话联系 OneAPM 销售人员：400-622-3101</p>
                            </div>
                        </div>
                    </div><!--//panel-->
                </div>
                <div class="col-lg-5 col-md-5 col-sm-10 col-xs-12 col-sm-offset-1 col-md-offset-0 col-lg-offset-0">
                  <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle" href="#faq2"><i class="fa fa-plus-square"></i><p>免费版的限制在哪？</p></a></h4>
                        </div>
            
                        <div class="panel-collapse collapse" id="faq2">
                            <div class="panel-body">
                                 <p>OneAPM 限制月活跃用户数，不超过 10,000。</p>
                                 <p>若需要调整月活跃用户数，请升级至专业版。</p>
                            </div>
                        </div>
                    </div><!--//panel-->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-md-5 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
                  <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle" href="#faq3"><i class="fa fa-plus-square"></i><p>如何更好地使用 OneAPM MOBILE？</p></a></h4>
                        </div>
            
                        <div class="panel-collapse collapse" id="faq3">
                            <div class="panel-body">
                                 <p>OneAPM 推荐 OneAPM MOBILE 和 OneAPM APM 一起使用。</p>
                                 <p>因为，OneAPM MOBILE 关注，移动端真实用户体验和网络性能等监控和管理；而有关于后端代码的监控和后端基础设施的监控，由 OneAPM APM 负责。</p>
                            </div>
                        </div>
                    </div><!--//panel-->
                </div>
                <div class="col-lg-5 col-md-5 col-sm-10 col-xs-12 col-sm-offset-1 col-md-offset-0 col-lg-offset-0">
                  <div class="panel">
                      <div class="panel-heading">
                          <h4 class="panel-title"><a data-parent="#accordion"
                          data-toggle="collapse" class="panel-toggle" href="#faq4"><i class="fa fa-plus-square"></i><p>是否可以进行试用？</p></a></h4>
                      </div>
          
                      <div class="panel-collapse collapse" id="faq4">
                          <div class="panel-body">
                              <p>新注册用户，都享有专业版功能免费试用 15 天的服务</p>
                              <p>当专业版试用过期后，会自动转为相关产品的免费版；而免费版永久免费。</p>
                          </div>
                      </div>
                  </div><!--//panel--> 
                </div>
            </div>
            <div class="row">
              <div class="col-lg-5 col-lg-offset-1 col-md-5 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
                <div class="panel">
                      <div class="panel-heading">
                          <h4 class="panel-title"><a data-parent="#accordion"
                          data-toggle="collapse" class="panel-toggle" href="#faq5"><i class="fa fa-plus-square"></i><p>如何停止服务？</p></a></h4>
                      </div>
          
                      <div class="panel-collapse collapse" id="faq5">
                          <div class="panel-body">
                              <p>卸载 OneAPM Agent，至 Agent 不再向 OneAPM 服务器发送数据，OneAPM 就会在下个月，停止收费。</p>
                              <p class="panel-small">卸载时，存在技术疑问，请邮件联系 OneAPM 支持人员：support@oneapm.com</p>
                          </div>
                      </div>
                  </div><!--//panel-->
              </div>
              <div class="col-lg-5 col-md-5 col-sm-10 col-xs-12 col-sm-offset-1 col-md-offset-0 col-lg-offset-0">
                <div class="panel">
                      <div class="panel-heading">
                          <h4 class="panel-title"><a data-parent="#accordion"
                          data-toggle="collapse" class="panel-toggle" href="#faq6"><i class="fa fa-plus-square"></i><p>是否存在优惠政策？</p></a></h4>
                      </div>
          
                      <div class="panel-collapse collapse" id="faq6">
                          <div class="panel-body">
                              <p>OneAPM 针对年付用户，会做一系列的优惠。具体事宜，请查看 优惠 & 限制。</p>
                              <p>OneAPM 也会在不同季度，提供相应的优惠政策，请持续关注 OneAPM 相关邮件。</p>
                              <p>OneAPM 针对创业团队和合作伙伴，也会提供相应的优惠政策。</p>
                              <p class="panel-small">优惠政策的答疑，请电话联系 OneAPM 销售人员：400-622-3101</p>
                          </div>
                      </div>
                  </div><!--//panel-->
              </div>
            </div>
            <div class="row">
              <div class="col-lg-5 col-lg-offset-1 col-md-5 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
                <div class="panel">
                      <div class="panel-heading">
                          <h4 class="panel-title"><a data-parent="#accordion"
                          data-toggle="collapse" class="panel-toggle" href="#faq7"><i class="fa fa-plus-square"></i><p>专业版和企业版的差别在哪？</p></a></h4>
                      </div>
            
                      <div class="panel-collapse collapse" id="faq7">
                          <div class="panel-body">
                              <p>专业版和企业版在功能上的差别主要体现在：支持自定义 Dashboard，针对 App 进行统计分析的功能，以及定制化的需求。</p>
                              <p>企业版的服务更好，支持 OneAPM 支持人员的到场服务：包括部署、特殊实施需求的满足、现场答疑等等。</p>
                              <p>企业版还支持软硬件一体化的购买模式，私人的数据中心，确保您的性能数据更加安全。</p>
                              <p class="panel-small">企业版的购买和答疑，请电话联系 OneAPM 销售人员：400-622-3101</p>
                          </div>
                      </div>
                  </div><!--//panel-->
              </div>
              <div class="col-lg-5 col-md-5 col-sm-10 col-xs-12 col-sm-offset-1 col-md-offset-0 col-lg-offset-0">
                <div class="panel">
                      <div class="panel-heading">
                          <h4 class="panel-title"><a data-parent="#accordion"
                          data-toggle="collapse" class="panel-toggle" href="#faq8"><i class="fa fa-plus-square"></i><p>是否存在优惠政策？</p></a></h4>
                      </div>
            
                      <div class="panel-collapse collapse" id="faq8">
                          <div class="panel-body">
                              <p>所有有关的报价问题，可直接点击屏幕下方的「在线咨询」，联系 OneAPM 销售人员。或提交工单，等待销售人员的回执。</p>
                          </div>
                      </div>
                  </div><!--//panel-->
              </div>
            </div>
        </div><!--//container-->        
    </section><!--//faq-->

    
    <!-- ******CTA Section****** -->
       <section id="cta-section" class="section cta-section text-center pricing-cta-section" style="padding-top:110px">
        <div class="container">
            <h2 class="title">超过 10 万全球开发者选择 OneAPM！</h2>
            <p class="intro">现在注册，即可免费试用专业版 15 天</p>
            <p>
                <a class="btn btn-cta btn-cta-download" href="#" target="_blank">立即注册</a>
            </p>
        </div><!--//container-->
    </section><!--//cta-section-->
    <!-- ******FOOTER****** -->  
    
{% endblock %}

{% block scripts %}

    {% parent %}
    <!-- build:js(.) scripts/mobile-price.js -->
    <script type="text/javascript" src="/vendors/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"></script>
    <script type="text/javascript" src="/vendors/back-to-top.js"></script>
    <script type="text/javascript" src="/vendors/jquery.placeholder/jquery.placeholder.min.js"></script>
    <script type="text/javascript" src="../../scripts/main.js"></script>
    <script type="text/javascript" src="../../scripts/show-function.js"></script>
    <script type="text/javascript" src="../../scripts/data-comparing.js"></script>
    <script type="text/javascript" src="../../scripts/jquery.ba-throttle-debounce.min.js"></script>
    <script type="text/javascript" src="../../scripts/jquery.stickyheader.js"></script>
    <!-- endbuild -->
   
{% endblock %}
