{% extends '../base/_layout.html' %}

{% block content %}
<div class="headline-bg bi-headline-bg head-feature">
    <canvas id="waves" class="waves"></canvas>
</div><!-- headline-bg -->

<section class="features-video section section-on-bg feature-bi">
    <div class="container"> 
        <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12 col-lg-offset-0 col-md-offset-0 col-sm-offset-0">
                <img class="bilogo" src="/images/bi/bilogo.svg">
                <p class="intro hidden-xs">从页面加载、AJAX 加载，页面 Trace、<br/>地理位置等多个角度，度量应用性能。</p>
                <p class="more">
                   <a class="play-trigger btn-link" data-toggle="modal" data-target="#modal-video" id="video-btn" data-source="#bi-video"><i class="fa fa-youtube-play"></i> 观赏 Bi 介绍影片</a>
                   <a href="https://user.oneapm.com/account/demo.do" class="hidden-xs" target="_blank">查看 DEMO</a>
                </p>
            </div>
            <img class="bi-headline-img" src="/images/bi/bi.png">
        </div>         
    </div>
</section>


<div class="sections-wrapper">
    <!-- ******Why Section****** -->

    <!-- ******3 features Section****** --> 
    <section class="section steps">
        <div class="container">
            <div class="row">
                 <div class="text-center col-lg-3 col-md-3 col-sm-3 col-xs-6">
                     <span class="icon"><img src="/images/bi/free.svg"></span>
                     <h3 class="title"><span class="text">永久免费</span></h3>
                     <p class="intro-text">专业版免费试用 15 天， <br class="hidden-md hidden-sm hidden-xxs"/>免费版永久免费使用。</p>
                 </div>
                 <div class="text-center col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <span class="icon"><img src="/images/bi/ue.svg"></span>
                     <h3 class="title"><span class="text">真实用户体验</span></h3>
                     <p class="intro-text">实时从真实用户终端采集性能数据，度量应用性能表现。</p>
                 </div>
                 <div class="text-center col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <span class="icon"><img src="/images/bi/js.svg"></span>
                     <h3 class="title"><span class="text">JS 错误</span></h3>
                     <p class="intro-text">统计错误并归类，<br/> 采集详细错误信息。</p>
                 </div>
                 <div class="text-center col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <span class="icon"><img src="/images/bi/page.svg"></span>
                     <h3 class="title"><span class="text">页面加载</span></h3>
                     <p class="intro-text">记录页面加载全过程，建立页面和资源的加载时序图。</p>
                 </div>
                 <div class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="line"></div>
                 </div>
            </div>
        </div>        
    </section><!--//3 features-->

    <section id="why" class="section why" >
        <div class="container">
            <div class="row item" style="padding-top:0px;">
                <div class="content col-md-4 col-sm-10 col-xs-12 col-md-offset-0 col-sm-offset-1 col-xs-offset-0" style="margin-top: 4%;">
                    <h3 class="title">围绕用户体验</h3>
                    <div class="desc">
                        <p>OneAPM 从地理位置、浏览器类型、设备类型 3 个类别，来划分真实用户体验； 方便你从不同角度查看应用的性能表现</p>
                        <p>OneAPM 划分出性能表现差的具体范围，指导性能修复工作，从而减少工作量并提高效率。</p>
                    </div>
                </div><!--//content-->
                <figure class="figure col-md-7 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
                    <!-- Tab panes -->
                     <ul class="nav nav-tabs text-center" role="tablist" style="width:250px;">
                        <li class="active feature-img">
                            <a href="#feature-1" role="tab" data-toggle="tab" class="img-title" style="border-right: 1px solid #999 !important;">
                                <span>地理位置</span>
                            </a>
                        </li>
                        <li class="feature-img">
                            <a href="#feature-2" role="tab" data-toggle="tab" class="img-title" style="border-right: 1px solid #999 !important;">
                                <span>浏览器类型</span>
                            </a>
                        </li>
                        <li class="feature-img">
                            <a href="#feature-3" role="tab" data-toggle="tab" class="img-title">
                                <span>设备类型</span>
                            </a>
                        </li>
                    </ul><!--//nav-tabs-->

                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="feature-1">
                            <figure class="figure text-center">
                                <img class="img-responsive" src="/images/bi/location.png" alt="地理位置" />
                            </figure>
                        </div><!--//tab-pane-->

                        <div class="tab-pane" id="feature-2">
                            <figure class="figure text-center">
                                <img class="img-responsive" src="/images/bi/browser.png" alt="浏览器类型" />
                            </figure>
                        </div><!--//tab-pane-->

                        <div class="tab-pane" id="feature-3">
                            <figure class="figure text-center">
                                <img class="img-responsive" src="/images/bi/device.png" alt="设备类型" />
                            </figure>
                        </div><!--//tab-pane-->
                    </div><!--//tab-content-->                 
                </figure>
            </div><!--//item-->
            
            <div class="row item">
                
                <div class="content col-md-4 col-sm-10 col-xs-12 col-md-push-8 col-sm-push-1 col-xs-push-0" style="margin-top: 7%;">
                    <h3 class="title">更广视野</h3>
                    <div class="desc">
                        <p>页面 Trace 给你更广视野，针对不同 URL 建立页面的 Trace，记录 TCP、DNS、DOM 加载、渲染等时间， 让你能够了解整个加载过程。</p>
                        <p>页面 Trace 就是一次前端页面加载的快照，快照信息具体到：浏览器类型、IP 地址等，并包括 TCP 传输性能和 DNS 时间。</p>
                    </div>
                </div><!--//content-->
                <figure class="figure col-md-7 col-sm-10 col-xs-12 col-md-pull-4 col-md-push-0 col-sm-push-1 col-xs-push-0">
                    <ul class="nav nav-tabs text-center" role="tablist" style="width:210px;">
                        <li class="active feature-img">
                            <a href="#location" role="tab" data-toggle="tab" class="img-title" style="border-right: 1px solid #999 !important;">
                                <span>事务总览</span>
                            </a>
                        </li>
                        <li class="feature-img">
                            <a href="#browser" role="tab" data-toggle="tab" class="img-title">
                                <span>Trace 详情</span>
                            </a>
                        </li>
                    </ul><!--//nav-tabs-->

                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="location">
                            <figure class="figure text-center">
                                <img class="img-responsive" src="/images/bi/trace-page1.png" alt="事务总览" />
                            </figure>
                        </div><!--//tab-pane-->

                        <div class="tab-pane" id="browser">
                            <figure class="figure text-center">
                                <img class="img-responsive" src="/images/bi/trace-page2.png" alt="Trace 详情" />
                            </figure>
                        </div><!--//tab-pane-->
                    </div><!--//tab-content-->                        
                </figure>
            </div><!--//item-->
            
            <div class="row item ">
                <div class="content col-md-4 col-sm-10 col-xs-12 col-md-offset-0 col-sm-offset-1 col-xs-offset-0" style="margin-top: 6%;">
                    <h3 class="title">归类错误</h3>
                    <div class="desc">
                        <p>从错误类型、URL、浏览器 3 个角度，归类错误的发生。</p>
                        <p>OneAPM 统计错误发生的次数，并可以跟踪到单次错误的 URL、发生时间，和与之关联的浏览器类型；以及更为底层的信息：错误信息、相关参数和 Stack Trace。</p>
                    </div>
                </div><!--//content-->
                <figure class="figure col-md-7 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
                    <ul class="nav nav-tabs text-center" role="tablist" style="width:210px;">
                        <li class="active feature-img">
                            <a href="#error1" role="tab" data-toggle="tab" class="img-title" style="border-right: 1px solid #999 !important;">
                                <span>错误总览</span>
                            </a>
                        </li>
                        <li class="feature-img">
                            <a href="#error2" role="tab" data-toggle="tab" class="img-title">
                                <span>错误详情</span>
                            </a>
                        </li>
                    </ul><!--//nav-tabs-->

                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="error1">
                            <figure class="figure text-center">
                                <img class="img-responsive" src="/images/bi/error1.png" alt="错误总览" />
                            </figure>
                        </div><!--//tab-pane-->

                        <div class="tab-pane" id="error2">
                            <figure class="figure text-center">
                                <img class="img-responsive" src="/images/bi/error2.png" alt="错误详情" />
                            </figure>
                        </div><!--//tab-pane-->
                    </div><!--//tab-content-->  
                </figure>
            </div><!--//item-->
            
            <div class="row item last-item">
                <div class="content col-md-4 col-sm-10 col-xs-12 col-md-push-8 col-sm-push-1 col-xs-push-0" style="margin-top: 5%">
                    <h3 class="title">深入至 AJAX</h3>
                    <div class="desc">
                        <p>单页面 Web 应用往往通过 AJAX 进行前后端交互，所以「页面 Trace」不再适用于 AJAX 性能监控。</p>
                        <p>OneAPM 针对 AJAX 性能，特别增设响应时间、数据请求和接收、HTTP 状态的性能监控，完善 Browser Insight 功能。</p>
                    </div>
                </div><!--//content-->
                <figure class="figure col-md-7 col-sm-10 col-xs-12 col-md-pull-4 col-md-push-0 col-sm-push-1 col-xs-push-0">
                    <img class="img-responsive" src="/images/bi/ajax.png" alt="AJAX 性能" />
                </figure>
                
            </div><!--//item-->

        </div><!--//container-->
    </section><!--//why--> 
     
    <!-- ******CTA Section****** -->
    <section class="section cta-section text-center pricing-cta-section">
        <div class="wavesWapper" style="margin-top: 3%;">
            <canvas id="waves2" class="waves"></canvas>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0">
                    <h2 class="title">一个为程序员而生的产品<br>一次改变开发习惯的机遇</h2>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <p><a class="btn btn-large btn-sign-ye" href="https://user.oneapm.com/account/register.do" target="_blank">免费注册</a></p>
                    <p><a href="/bi/price.html"><span class="cta-link">查看 Bi 完整报价 ></span></a></p>
                </div>
            </div>
        </div><!--//container-->
    </section><!--//cta-section-->
    
</div><!--//section-wrapper-->

<!-- Video Modal -->
<div class="modal modal-video" id="modal-video" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="videoModalLabel" cla.
                ss="modal-title sr-only"></h4>
            </div>
            <div class="modal-body">
                <div class="video-container">
                   <video controls preload poster="/images/bi/bi-video.png" class="box-video" id="bi-video">
                       <source src="https://dn-oneapm.qbox.me/bi-introduce-v0.3.webm" type="video/webm">
                       <source src="https://dn-oneapm.qbox.me/bi-introduce-v0.3.mp4" type="video/mp4">
                   </video>
                </div><!--//video-container-->
            </div><!--//modal-body-->
        </div><!--//modal-content-->
    </div><!--//modal-dialog-->
</div><!--//modal-->

{% endblock %}

{% block scripts %}
    {% parent %}
    <!-- build:js /scripts/bi-feature.js -->
    <script type="text/javascript" src="/scripts/headerResponse.js"></script>
    <script type="text/javascript" src="/scripts/sine-waves.js"></script>
    <script type="text/javascript" src="/scripts/sine-waves-action-header.js"></script>
    <script type="text/javascript" src="/scripts/sine-waves-action-sine.js"></script>
    <!-- endbuild -->
{% endblock %}
