{% extends '../base/_layout.html' %}

{% block content %}
<div class="headline-bg bi-headline-bg head-feature">
    <canvas id="waves" class="waves"></canvas>
</div><!-- headline-bg -->

<section class="features-video section section-on-bg feature-bi">
    <div class="container"> 
        <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12 col-lg-offset-0 col-md-offset-0 col-sm-offset-0">
                <img class="bilogo" src="/images/bi/bilogo.svg">
                <p class="intro hidden-xs">从页面加载、AJAX 加载，页面 Trace、<br/>地理位置等多个角度，度量应用性能。</p>
                <p class="more">
                   <a class="play-trigger btn-link" data-toggle="modal" data-target="#modal-video" id="video-btn" data-source="#bi-video"><i class="fa fa-youtube-play"></i> 观赏 Bi 介绍影片</a>
                   <a href="https://user.oneapm.com/account/demo.do" class="hidden-xs" target="_blank">查看 DEMO</a>
                </p>
            </div>
            <img class="bi-headline-img" src="/images/bi/bi.png">
        </div>         
    </div>
</section>


<div class="sections-wrapper">
    <!-- ******Why Section****** -->

    <!-- ******3 features Section****** --> 
    <section class="section steps">
        <div class="container">
            <div class="row">
                 <div class="text-center col-lg-3 col-md-3 col-sm-3 col-xs-6">
                     <span class="icon"><img src="/images/bi/free.svg"></span>
                     <h3 class="title"><span class="text">永久免费</span></h3>
                     <p class="intro-text">企业版免费试用 15 天， <br class="hidden-md hidden-sm hidden-xxs"/>免费版永久免费使用。</p>
                 </div>
                 <div class="text-center col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <span class="icon"><img src="/images/bi/ue.svg"></span>
                     <h3 class="title"><span class="text">真实用户体验</span></h3>
                     <p class="intro-text">实时从真实用户终端采集性能数据，度量应用性能表现。</p>
                 </div>
                 <div class="text-center col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <span class="icon"><img src="/images/bi/js.svg"></span>
                     <h3 class="title"><span class="text">JS 错误</span></h3>
                     <p class="intro-text">统计错误并归类，<br/> 采集详细错误信息。</p>
                 </div>
                 <div class="text-center col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <span class="icon"><img src="/images/bi/page.svg"></span>
                     <h3 class="title"><span class="text">页面加载</span></h3>
                     <p class="intro-text">记录页面加载全过程，建立页面和资源的加载时序图。</p>
                 </div>
                 <div class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="line"></div>
                 </div>
            </div>
        </div>        
    </section><!--//3 features-->

    <section class="section features-apm" style="padding-top:0;">
        <div class="container">
            <h2 class="title">围绕用户体验</h2>
            <div class="imgslider-container">
                <div class="img-wrapper">
                    <div class="imgslider img-prev">
                        <img src="/images/bi/imgslider/p1_1.png" alt="" class="img-responsive radius-border-img">
                        <div class="img-text"></div>
                    </div>
                    <div class="imgslider img-current">
                        <img src="/images/bi/imgslider/p1_2.png" alt="" class="img-responsive radius-border-img">
                        <div class="img-text"></div>
                    </div>
                    <div class="imgslider img-next">
                        <img src="/images/bi/imgslider/p1_3.png" alt="" class="img-responsive radius-border-img">
                        <div class="img-text"></div>
                    </div>
                </div>
                <ol class="indicator">
                    <li class="prev"></li>
                    <li class="cur"></li>
                    <li class="next"></li>
                </ol>
                <div class="controller-wrap" >
                    <div class="prev-btn" onselectstart="return false">
                        <p class="icon-container"><i class="iconfont arrow-icon">&#xe611;</i></p>
                    </div>
                    <div class="img-text">
                    </div>
                    <div class="next-btn" onselectstart="return false">
                        <p class="icon-container"><i class="iconfont arrow-icon">&#xe610;</i></p>
                    </div>
                </div>
            </div>
            <p>OneAPM 从地理位置、浏览器类型、设备类型 3 个类别，来划分真实用户体验；方便从不同角度查看应用性能表现。
            OneAPM 划分出性能表现差的具体范围，指导性能修复工作，从而减少工作量并提高效率。
            </p>
        </div>
    </section><!--//why--> 

    <section class="section features-apm" style="background:#F7F7F7;">
        <div class="container">
            <h2 class="title">更广视野</h2>
            <div class="imgslider-container">
                <div class="img-wrapper">
                    <div class="imgslider img-prev">
                        <img src="/images/bi/imgslider/p2_1.png" alt="" class="img-responsive radius-border-img">
                        <div class="img-text"></div>
                    </div>
                    <div class="imgslider img-current">
                        <img src="/images/bi/imgslider/p2_2.png" alt="" class="img-responsive radius-border-img">
                        <div class="img-text"></div>
                    </div>
                    <div class="imgslider img-next">
                        <img src="/images/bi/imgslider/p2_3.png" alt="" class="img-responsive radius-border-img">
                        <div class="img-text"></div>
                    </div>
                </div>
                <ol class="indicator">
                    <li class="prev"></li>
                    <li class="cur"></li>
                    <li class="next"></li>
                </ol>
                <div class="controller-wrap" >
                    <div class="prev-btn" onselectstart="return false">
                        <p class="icon-container"><i class="iconfont arrow-icon">&#xe611;</i></p>
                    </div>
                    <div class="img-text">
                    </div>
                    <div class="next-btn" onselectstart="return false">
                        <p class="icon-container"><i class="iconfont arrow-icon">&#xe610;</i></p>
                    </div>
                </div>
            </div>
            <p>受访页面 Trace 给你更广视野，针对不同 URL 建立页面的 Trace，记录 TCP、DNS、DOM 加载、渲染等时间， 让你了解整个加载过程。
            受访页面 Trace 就是一次前端页面加载的快照，快照信息具体到：浏览器类型、IP 地址等，并包括 TCP 传输性能和 DNS 时间。</p>
        </div>
    </section><!--//why--> 

    <section class="section features-apm" >
        <div class="container">
            <h2 class="title">深入细节</h2>
            <div class="imgslider-container">
                <div class="img-wrapper">
                    <div class="imgslider img-prev">
                        <img src="/images/bi/imgslider/p3_1.png" alt="" class="img-responsive radius-border-img">
                        <div class="img-text"></div>
                    </div>
                    <div class="imgslider img-current">
                        <img src="/images/bi/imgslider/p3_2.png" alt="" class="img-responsive radius-border-img">
                        <div class="img-text"></div>
                    </div>
                    <div class="imgslider img-next">
                        <img src="/images/bi/imgslider/p3_3.png" alt="" class="img-responsive radius-border-img">
                        <div class="img-text"></div>
                    </div>
                </div>
                <ol class="indicator">
                    <li class="prev"></li>
                    <li class="cur"></li>
                    <li class="next"></li>
                </ol>
                <div class="controller-wrap" >
                    <div class="prev-btn" onselectstart="return false">
                        <p class="icon-container"><i class="iconfont arrow-icon">&#xe611;</i></p>
                    </div>
                    <div class="img-text">
                    </div>
                    <div class="next-btn" onselectstart="return false">
                        <p class="icon-container"><i class="iconfont arrow-icon">&#xe610;</i></p>
                    </div>
                </div>
            </div>
            <p>从错误类型、URL、浏览器 3 个角度，归类错误的发生。OneAPM 统计错误发生的次数，并可以跟踪到单次错误的 URL、发生时间，和与之关联的浏览器类型；以及更为底层的信息。
            除此之外，OneAPM 还可以监控 AJAX 性能，包括响应时间、数据吞吐量等。</p>
        </div>
    </section><!--//why--> 
     
    <!-- ******CTA Section****** -->
    <section class="section cta-section text-center pricing-cta-section">
        <div class="wavesWapper" style="margin-top: 3%;">
            <canvas id="waves2" class="waves"></canvas>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0">
                    <h2 class="title">一个为程序员而生的产品<br>一次改变开发习惯的机遇</h2>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <p><a class="btn btn-large btn-sign-ye" href="https://user.oneapm.com/account/register.do" target="_blank">免费注册</a></p>
                    <p><a href="/bi/price.html"><span class="cta-link">查看 Bi 完整报价 ></span></a></p>
                </div>
            </div>
        </div><!--//container-->
    </section><!--//cta-section-->
    
</div><!--//section-wrapper-->

<!-- Video Modal -->
<div class="modal modal-video" id="modal-video" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="videoModalLabel" cla.
                ss="modal-title sr-only"></h4>
            </div>
            <div class="modal-body">
                <div class="video-container">
                   <video controls preload  class="box-video" id="bi-video">
                       <source src="https://dn-oneapm.qbox.me/bi-introduce-v0.3.webm" type="video/webm">
                       <source src="https://dn-oneapm.qbox.me/bi-introduce-v0.3.mp4" type="video/mp4">
                   </video>
                </div><!--//video-container-->
            </div><!--//modal-body-->
        </div><!--//modal-content-->
    </div><!--//modal-dialog-->
</div><!--//modal-->

{% endblock %}

{% block scripts %}
    {% parent %}
    <!-- build:js /scripts/bi-feature.js -->
    <script type="text/javascript" src="/scripts/headerResponse.js"></script>
    <script type="text/javascript" src="/scripts/sine-waves.js"></script>
    <script type="text/javascript" src="/scripts/sine-waves-action-header.js"></script>
    <script type="text/javascript" src="/scripts/sine-waves-action-sine.js"></script>
    <!-- endbuild -->
{% endblock %}
