{% extends '../base/_layout.html' %}


{% block content %}
<div class="headline-bg bi-headline-bg">
  <canvas id="waves" class="waves"></canvas>
</div><!-- headline-bg -->
<section class="pricing section section-on-bg bi-section">
        <div class="container">
            <h2 class="title text-center">Browser Insight 报价</h2>
            <p class="intro text-center">新注册用户，<strong>免费使用企业版 15 天</strong></span>。免费版，永久免费。</p>
             <div class="price-cols row">
                <div class="items-wrapper col-md-10 col-sm-12 col-xs-10 col-xxs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-1 col-xxs-offset-0">
                    <div class="item price-1 col-md-5 col-md-offset-half col-sm-5 col-sm-offset-half col-xs-12 text-center">
                        <div class="item-inner">
                            <div class="heading">
                            <h3 class="title">免费版</h3>
                                <p class="price-figure"><span class="price-figure-inner"><span class="currency">￥</span><span class="number">0</span><br /><span class="unit"> / 月</span></span></p>
                            </div>
                            <div class="content">
                                <ul class="list-unstyled feature-list">
                                    <li>100,000 PV</li>
                                    <li>数据存储 24 小时</li>
                                    <li>5 x 8 小时</li>
                                </ul>
                                <a class="btn btn-cta btn-cta-primary" href="https://user.oneapm.com/account/register.do">马上试用</a>
                            </div>
                        </div>
                    </div><!--//item-->
                    <div class="item price-3 col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-12 text-center">
                        <div class="item-inner">
                            <div class="heading">
                                <h3 class="title">企业版</h3>
                                <p class="price-figure" style="min-height: 100px;">
                                    <span class="phone-number hidden-xs hidden-sm hidden-md">400-659-1230</span>
                                    <i class="fa fa-phone hidden-lg" style="font-size: 50px;line-height: 1.4;"></i><br/>
                                    <span class="unit"><a href="http://lxbjs.baidu.com/cb/url/show?f=55&id=9061" target="_blank">联系销售</a>或页面留言</span>
                                </p>
                            </div>
                            <div class="content">
                                <ul class="list-unstyled feature-list">
                                    <li>不限制 PV 数量</li>
                                    <li>数据存储 15 天</li>
                                    <li>7 x 24 小时</li>
                                </ul>
                                <a class="btn btn-cta btn-cta-primary" href="https://user.oneapm.com/account/register.do">马上试用</a>

                            </div><!--//content-->
                        </div><!--//item-inner-->
                    </div><!--//item-->
                </div><!--//items-wrapper-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//pricing-->

    <section class="agent-counting section bi-section">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-sm-10 col-xs-10 col-xxs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-xxs-offset-0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th  width="34%"></th>
                                <th class="theme"  width="33%"><div>免费版</div></th>
                                <th class="theme"  width="33%"><div>企业版</div></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><div class="feature">数据存储</div></td>
                                <td>24 小时</td>
                                <td>15 天</td>
                            </tr>
                            <tr>
                                <td><div class="feature">技术支持</div></td>
                                <td>电话 & 邮件  & 远程</td>
                                <td>电话 & 邮件 & 远程& 现场</td>
                            </tr>
                            <tr>
                                <td><div class="feature">使用方式</div></td>
                                <td>仅支持 SaaS</td>
                                <td>SaaS & 本地化部署</td>
                            </tr>
                            <tr>
                                <td><div class="feature">Page View 数量</div></td>
                                <td>100,000 PV／月</td>
                                <td>不限制 PV 数量</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="feature">多账户协作
                                        <i class="iconfont question" data-toggle="tooltip" data-placement="right" title="允许建立子账号，与您的同事共同协作使用 OneAPM。">&#xe64b;</i>
                                    </div>
                                </td>
                                <td><i class="iconfont check">&#xe64c;</i></td>
                                <td><i class="iconfont check">&#xe64c;</i></td>
                            </tr>
                            <tr>
                                <td><div class="feature">脚本错误</div></td>
                                <td><i class="iconfont check">&#xe64c;</i></td>
                                <td><i class="iconfont check">&#xe64c;</i></td>
                            </tr>
                            <tr>
                                <td><div class="feature">AJAX</div></td>
                                <td><i class="iconfont check">&#xe64c;</i></td>
                                <td><i class="iconfont check">&#xe64c;</i></td>
                            </tr>
                            <tr>
                                <td><div class="feature">地理分析</div></td>
                                <td><i class="iconfont check">&#xe64c;</i></td>
                                <td><i class="iconfont check">&#xe64c;</i></td>
                            </tr>
                            <tr>
                                <td><div class="feature">浏览器性能分析</div></td>
                                <td><i class="iconfont check">&#xe64c;</i></td>
                                <td><i class="iconfont check">&#xe64c;</i></td>
                            </tr>
                            <tr>
                                <td><div class="feature">运营商性能分析</div></td>
                                <td><i class="iconfont check">&#xe64c;</i></td>
                                <td><i class="iconfont check">&#xe64c;</i></td>
                            </tr>
                            <tr>
                                <td><div class="feature">浏览器访问瀑布流图</div></td>
                                <td></td>
                                <td><i class="iconfont check">&#xe64c;</i></td>
                            </tr>
                            <tr>
                                <td><div class="feature">白屏、首屏等页面加载时间分析</div></td>
                                <td></td>
                                <td><i class="iconfont check">&#xe64c;</i></td>
                            </tr>
                            <tr>
                                <td><div class="feature">页面加载时间与服务端请求关联</div></td>
                                <td></td>
                                <td><i class="iconfont check">&#xe64c;</i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <p class="text-center btn-part">
            <a href="https://user.oneapm.com/account/register.do" class="btn btn-large btn-sign" target="_blank">立即注册，体验 15天企业版</a>
        </p>
        <p class="text-center">
            咨询企业级应用性能管理解决方案
            <a href="http://lxbjs.baidu.com/cb/url/show?f=55&id=9061" target="_blank">400-659-1230</a>
        </p>
    </section>

    <!-- ******FAQ Section****** -->
    <section class="faq section has-bg-color bi-section">
        <div class="container">
            <h2 class="title text-center">常见问题</h2>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-md-5 col-sm-10 col-xs-10 col-xxs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-xxs-offset-0">
                    <div class="panel">
                          <div class="panel-heading">
                              <h4 class="panel-title"><a data-parent="#accordion"
                              data-toggle="collapse" class="panel-toggle" href="#faq2"><i class="fa fa-plus-square"></i><p>如何收费？</p></a></h4>
                          </div>

                          <div class="panel-collapse collapse" id="faq2">
                              <div class="panel-body">
                                   <p>OneAPM Browser Insight 企业版根据网站最高每月 PV 数量进行收费。</p>
                                   <p class="panel-small">若 PV 大于10 万／每月，可点击页面右下角的「在线咨询」，或请拨打：<a href="http://lxbjs.baidu.com/cb/url/show?f=55&id=9061" target="_blank">400-659-1230</a>。</p>
                              </div>
                          </div>
                    </div><!--//panel-->
                    <div class="panel">
                          <div class="panel-heading">
                              <h4 class="panel-title"><a data-parent="#accordion"
                              data-toggle="collapse" class="panel-toggle" href="#faq3"><i class="fa fa-plus-square"></i><p>是否可以进行试用？</p></a></h4>
                          </div>

                          <div class="panel-collapse collapse" id="faq3">
                              <div class="panel-body">
                                   <p>新注册用户，都享有企业版功能免费试用 15 天的服务。</p>
                                   <p>当企业版试用过期后，会自动转为相关产品的免费版；而免费版永久免费。</p>
                              </div>
                          </div>
                    </div><!--//panel-->
                </div>
                <div class="col-lg-5 col-md-5 col-sm-10 col-xs-10 col-xxs-12 col-lg-offset-0 col-sm-offset-1 col-md-offset-0 col-xs-offset-1 col-xxs-offset-0">
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle" href="#faq5"><i class="fa fa-plus-square"></i><p>是否存在优惠政策？</p></a></h4>
                        </div>
                        <div class="panel-collapse collapse" id="faq5">
                            <div class="panel-body">
                                <p>OneAPM 针对年付用户，会做一系列的优惠。针对合作伙伴，也会提供相应的优惠政策。</p>
                                <p class="panel-small">优惠政策的答疑，可点击页面右下角的「在线咨询」，或请拨打：<a href="http://lxbjs.baidu.com/cb/url/show?f=55&id=9061" target="_blank">400-659-1230</a>。</p>
                            </div>
                        </div>
                    </div><!--//panel-->
                    <div class="panel">
                          <div class="panel-heading">
                              <h4 class="panel-title"><a data-parent="#accordion"
                              data-toggle="collapse" class="panel-toggle" href="#faq7"><i class="fa fa-plus-square"></i><p>其他问题？</p></a></h4>
                          </div>

                          <div class="panel-collapse collapse" id="faq7">
                              <div class="panel-body">
                                  <p>若您还有其他问题，可点击页面右下角的「在线咨询」，或请拨打：<a href="http://lxbjs.baidu.com/cb/url/show?f=55&id=9061" target="_blank">400-659-1230</a> 。</p>
                              </div>
                          </div>
                    </div><!--//panel-->
                </div>
            </div>
        </div><!--//container-->
    </section><!--//faq-->

    <!-- ******CTA Section****** -->
    <section class="section cta-section text-center pricing-cta-section">
        <div class="wavesWapper" style="margin-top: 3%;">
            <canvas id="waves2" class="waves"></canvas>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0">
                    <h2 class="title">一个为程序员而生的产品<br>一次改变开发习惯的机遇</h2>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <p><a class="btn btn-large btn-sign-ye" href="https://user.oneapm.com/account/register.do" target="_blank">免费注册</a></p>
                    <p><span class="cta-span">现在注册，企业版免费使用 15 天  </span></p>
                </div>
            </div>
        </div>
    </section>

<!-- ******FOOTER****** -->

{% endblock %}

{% block scripts %}

    {% parent %}
    <!-- build:js /scripts/broswer-price.js -->
    <script type="text/javascript" src="/scripts/show-function.js"></script>
    <script type="text/javascript" src="/scripts/jquery.stickyheader.js"></script>
    <script type="text/javascript" src="/scripts/sine-waves.js"></script>
    <script type="text/javascript" src="/scripts/sine-waves-action-header-2.js"></script>
    <script type="text/javascript" src="/scripts/sine-waves-action-sine.js"></script>
    <!-- endbuild -->
    {% if env == 'production' %}
    <script src="https://meiqia.com/js/mechat.js?unitid=6232" charset="UTF-8" async="async"></script>
    <script type="text/javascript">
    (function(){
      var inter = setInterval(function(){
        if(window.mechatMetadata){
          clearInterval(inter);
          window.mechatMetadata({
                  comment:window.location.href,
          });
        }
      },500);
    }());
    </script>
    {% endif %}
{% endblock %}
