{% extends '../base/_layout.html' %}


{% block content %}
<div class="headline-bg bi-headline-bg"></div><!-- headline-bg -->
<section class="pricing section section-on-bg">
        <div class="container">
            <h2 class="title text-center">Browser Insight 报价</h2>
            <p class="intro text-center">新注册用户，<strong>免费使用专业版 15 天</strong></span>。免费版，永久免费。</p>
             <div class="price-cols row">
                <div class="items-wrapper col-md-10 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
                    <div class="item price-1 col-md-4 col-sm-4 col-xs-12 text-center">
                        <div class="item-inner">
                            <div class="heading">
                            <h3 class="title">免费版</h3>
                                <p class="price-figure"><span class="price-figure-inner"><span class="currency">￥</span><span class="number">0</span><br /><span class="unit"> Agent / 月</span></span></p>
                            </div>
                            <div class="content">
                                <ul class="list-unstyled feature-list">
                                    <li>数据存储 24 小时</li>
                                    <li>5 x 8 小时<br/>电话 &amp; 邮件 &amp; 远程支持</li>
                                </ul>
                                <a class="btn btn-cta btn-cta-primary" href="https://user.oneapm.com/account/register.do">马上试用</a>

                            </div><!--//content-->
                        </div><!--//item-inner-->
                    </div><!--//item-->

                    <div class="item price-2 col-md-4 col-sm-4 col-xs-12 text-center best-buy">
                        <div class="item-inner">
                            <div class="heading">
                            <h3 class="title">专业版</h3>
                                <p class="price-figure"><span class="price-figure-inner"><span class="currency">￥</span><span class="number">599</span><br /><span class="unit"> Agent / 月</span></span></p>
                            </div>
                            <div class="content">
                                <ul class="list-unstyled feature-list">
                                    <li>数据存储 15 天</li>
                                    <li>7 x 24 小时<br/>电话 &amp; 邮件 &amp; 远程支持</li>
                                </ul>
                                <a class="btn btn-cta btn-cta-primary" href="https://user.oneapm.com/account/register.do">马上试用</a>
                            </div><!--//content-->
                            <div class="ribbon">
                                <div class="text">Popular</div>
                            </div><!--//ribbon-->
                        </div><!--//item-inner-->
                    </div><!--//item-->

                    <div class="item price-3 col-md-4 col-sm-4 col-xs-12 text-center">
                        <div class="item-inner">
                            <div class="heading">
                                <h3 class="title">企业版</h3>
                                <p class="price-figure" style="min-height: 100px;">
                                    <span class="phone-number hidden-xs hidden-sm hidden-md">400-659-1230</span>
                                    <i class="fa fa-phone hidden-lg" style="font-size: 50px;line-height: 1.4;"></i><br/>
                                    <span class="unit">联系销售</span>
                                </p>
                            </div>
                            <div class="content">
                                <ul class="list-unstyled feature-list">
                                    <li>永久数据存储</li>
                                    <li>7 x 24 小时<br/>电话 &amp; 邮件 &amp; 远程支持 &amp; 现场服务</li>
                                </ul>
                                <a class="btn btn-cta btn-cta-primary" href="#">400-659-1230</a>

                            </div><!--//content-->
                        </div><!--//item-inner-->
                    </div><!--//item-->
                </div><!--//items-wrapper-->
            </div><!--//row-->
            <p class="text-center btn-part">
                <a href="#" class="btn btn-small btn-knowmore">查看功能对比</a>
                <span class="btn-span">or</span>
                <a href="https://user.oneapm.com/account/register.do" class="btn btn-small btn-sign">免费注册</a>
            </p>
        </div><!--//container-->
    </section><!--//pricing-->

    <!-- ***** Function Table Section***** -->
    <section class="function section has-bg-color">
        <div class="container">
            <h2 class="title text-center">功能对比</h2>
            <h3 class="title text-center" style="font-size: 16px;">新注册用户，免费试用专业版 15 天。免费版，永久免费。</h3>
            <div class="row">
                <div class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1 col-xs-offset-0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="empty"></th>
                                <th>
                                    <h4>免费版</h4>
                                </th>
                                <th>
                                    <h4>专业版</h4>
                                </th>
                                <th>
                                    <h4>企业版</h4>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in browser_price %}
                            <tr>
                                {% if row.epr === "" %}
                                    <td class="title">{{row.title}}</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                {% else %}
                                    <td>{{row.title}}</td>
                                    {% if row.free %}
                                        <td><i class="fa fa-check"></i></td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                    {% if row.pro %}
                                        <td><i class="fa fa-check"></i></td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                    {% if row.epr %}
                                        <td><i class="fa fa-check"></i></td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </section>

    <!-- ******FAQ Section****** -->
    <section class="faq section has-bg-color">
        <div class="container">
            <h2 class="title text-center">常见问题</h2>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-md-5 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle" href="#faq1"><i class="fa fa-plus-square"></i><p>如何部署 Bi？</p></a></h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq1">
                            <div class="panel-body">
                                <p>部署 Bi 前，您需先部署 Ai。确保 Ai Agent 在服务器端的正常运行；此时，OneAPM 会自动为您部署 Bi。</p>
                                <p>Bi 也支持手动部署方式，但不推荐使用此种模式。</p>
                                <p class="panel-small">具体事宜，请邮件联系 OneAPM 支持人员：support@oneapm.com</p>
                            </div>
                        </div>
                    </div><!--//panel-->
                </div>
                <div class="col-lg-5 col-md-5 col-sm-10 col-xs-12 col-sm-offset-1 col-md-offset-0 col-lg-offset-0">
                  <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle" href="#faq2"><i class="fa fa-plus-square"></i><p>如何收费？</p></a></h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq2">
                            <div class="panel-body">
                                 <p>免费版永久免费。</p>
                                 <p>专业版按照 Page Views 数量进行收费；在 ￥ 599 / 月的收费模式中，包括每月 500,000 次 Page Views。</p>
                                 <p class="panel-small">若需要增加 Page Views 数量和购买企业版，请电话联系 OneAPM 销售人员：400 – 659 -1230。</p>
                            </div>
                        </div>
                    </div><!--//panel-->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-md-5 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
                  <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle" href="#faq3"><i class="fa fa-plus-square"></i><p>是否可以进行试用？</p></a></h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq3">
                            <div class="panel-body">
                                 <p>新注册用户，都享有专业版功能免费试用 15 天的服务。</p>
                                 <p>当专业版试用过期后，会自动转为相关产品的免费版；而免费版永久免费。</p>
                            </div>
                        </div>
                    </div><!--//panel-->
                </div>
                <div class="col-lg-5 col-md-5 col-sm-10 col-xs-12 col-sm-offset-1 col-md-offset-0 col-lg-offset-0">
                  <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle" href="#faq4"><i class="fa fa-plus-square"></i><p>如何升级到企业版吗？</p></a></h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq4">
                            <div class="panel-body">
                                 <p>拨打销售专线：400 – 659 - 1230。</p>
                                 <p>企业版提供软硬件一体化的购买模式，私人的数据中心，确保您的性能数据更加安全。</p>
                            </div>
                        </div>
                    </div><!--//panel-->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-md-5 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
                  <div class="panel">
                      <div class="panel-heading">
                          <h4 class="panel-title"><a data-parent="#accordion"
                          data-toggle="collapse" class="panel-toggle" href="#faq5"><i class="fa fa-plus-square"></i><p>是否存在优惠政策？</p></a></h4>
                      </div>

                      <div class="panel-collapse collapse" id="faq5">
                          <div class="panel-body">
                              <p>OneAPM 针对年付用户，会做一系列的优惠。具体事宜，请电话联系 OneAPM 销售人员：400 - 659 - 1230。</p>
                              <p>OneAPM 也会在不同季度，提供相应的优惠政策，请持续关注 OneAPM 相关邮件。</p>
                              <p>OneAPM 针对创业团队和合作伙伴，也会提供相应的优惠政策。</p>
                              <p class="panel-small">优惠政策的答疑，请电话联系 OneAPM 销售人员：400 – 659 – 1230。</p>
                          </div>
                      </div>
                  </div><!--//panel-->
                </div>
                  <div class="col-lg-5 col-md-5 col-sm-10 col-xs-12 col-sm-offset-1 col-md-offset-0 col-lg-offset-0">
                    <div class="panel">
                          <div class="panel-heading">
                              <h4 class="panel-title"><a data-parent="#accordion"
                              data-toggle="collapse" class="panel-toggle" href="#faq6"><i class="fa fa-plus-square"></i><p>专业版和企业版的差别在哪？</p></a></h4>
                          </div>

                          <div class="panel-collapse collapse" id="faq6">
                              <div class="panel-body">
                                  <p>专业版和企业版在功能上的差别主要体现在：对传统类和大型企业的技术框架的支持，面向业务的性能监控，以及定制化的需求。</p>
                                  <p>企业版的服务更好，支持 OneAPM 支持人员的到场服务：包括部署、特殊实施需求的满足、现场答疑等等。企业版还支持软硬件一体化的购买模式，私人的数据中心，确保您的性能数据更加安全。</p>
                                  <p class="panel-small">企业版的购买和答疑，请电话联系 OneAPM 销售人员：400 - 659 - 1230。</p>
                              </div>
                          </div>
                      </div><!--//panel-->
                  </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-md-5 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
                  <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle" href="#faq7"><i class="fa fa-plus-square"></i><p>其他问题？</p></a></h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq7">
                            <div class="panel-body">
                                <p>所有有关的报价问题，可直接点击屏幕下方的「在线咨询」，联系 OneAPM销售人员。或提交工单，等待销售人员的回执。</p>
                            </div>
                        </div>
                    </div><!--//panel-->
                </div>
            </div>
        </div><!--//container-->
    </section><!--//faq-->


    <!-- ******CTA Section****** -->
      <section id="cta-section" class="section cta-section text-center pricing-cta-section" style="padding-top:110px;">
        <div class="container">
            <h2 class="title">超过 10 万全球开发者选择 OneAPM！</h2>
            <p class="intro">现在注册，即可免费试用专业版 15 天</p>
            <p>
                <a class="btn btn-large btn-sign-ye" href="https://user.oneapm.com/account/register.do" target="_blank">免费注册</a>
            </p>
        </div><!--//container-->
    </section><!--//cta-section-->
<!-- ******FOOTER****** -->

{% endblock %}

{% block scripts %}

    {% parent %}
    <!-- build:js /scripts/broswer-price.js -->
    <script type="text/javascript" src="/scripts/show-function.js"></script>
    <script type="text/javascript" src="/scripts/jquery.stickyheader.js"></script>
    <!-- endbuild -->
    {% if env == 'production' %}
    <script src="https://meiqia.com/js/mechat.js?unitid=6232" charset="UTF-8" async="async"></script>
    <script type="text/javascript">
    (function(){
      var inter = setInterval(function(){
        if(window.mechatMetadata){
          clearInterval(inter);
          window.mechatMetadata({
                  comment:window.location.href,
          });
        }
      },500);
    }());
    </script>
    {% endif %}
{% endblock %}
