{% extends '../base/_layout.html' %}

{% block content %}
<div class="headline-bg ai-headline-bg"></div><!-- headline-bg -->
<section class="features-video section section-on-bg">
    <div class="container text-center">
        <h2 class="title lang-title">OneAPM for .NET</h2>
        <div class="text-container">
            <div class="about">
            	<div class="row">
            		<div class="col-md-4 col-sm-4 col-xs-12">
            			<div class="lang-logo">
							<img src="/images/lang/logo_net.png" alt="java">
						</div>
            		</div>
            		<div class="col-md-8 col-sm-8 col-xs-12">
            			<p>OneAPM for .NET 能夠深入到所有 .NET 應用內部完成應用性能管理和監控，包括代碼級別性能問題的可見性、性能瓶頸的快速識別與追溯、真實用戶體驗監控、伺服器監控和端到端的應用性能管理。</p>
                		<div class="lang-button">
							<a href="javascript:;" class="btn btn-small btn-knowmore" style="width:20%">安装指南</a>
						</div>
            		</div>
            	</div>
            </div><!--//about-->
        </div>
    </div>
</section>

<div class="sections-wrapper">
    <!-- ******Why Section****** -->
    <section class="section why">
    	<div class="container">
    		<div class="row">
	        	<div class="lang-content col-md-8 col-sm-8 col-xs-12">
	        		<div class="row item" style="padding-top:40px;">
	        			<div class="col-md-12 col-sm-12 col-xs-12">
		                    <h3 class="title">端到端的性能可見性</h3>
		                    <div class="row desc">
		                        <div class="col-md-6 col-sm-6 col-xs-12">
		                        	<p>按照瀏覽器和地理信息 2 種分類方式，對真實用戶的頁面載入時間等性能數據進行查看，快速區隔出需要優化性能的瀏覽器類型和區域用戶。</p>
		                        	<p>除開真實用戶體驗監控以外，OneAPM for .NET 可以達到代碼級別的性能可見性，如 SQL 語句的性能分析和問題定位；還可以查看各組件對應用性能的影響，確保在用戶意識到性能問題前，完成修復工作。</p>
		                        </div>
		                        <div class="col-md-6 col-sm-6 col-xs-12">
		                        	<ul>
		                        		<li class="first-li">使用跨應用追蹤功能和應用拓撲建模功能，完成分布式應用和 SOA 應用的應用性能問題追溯</li>
										<li>比較不同版本的應用性能</li>
										<li>通過對吞吐量和集群的性能優化，來避免硬體成本消耗</li>
										<li>通過報警機制，確保在性能問題造成損失前，完成修復工作</li>
		                        		<li>詳悉線程信息，即刻開始性能問題修復</li>
			                        </ul>
		                        </div>
		                    </div>
		                </div>
	        		</div>
	        		<div class="row item">
	        			<div class="col-md-12 col-sm-12 col-xs-12">
		                    <h3 class="title">支持主流框架/平台</h3>
		                    <div class="row desc">
		                        <div class="col-md-12 col-sm-12 col-xs-12">
		                        	<p>OneAPM支持所有 .NET 語系： VB.NET、C# 和 C++/CLI for .NET 2.0 及以上版本。OneAPM 支持主要框架：MVC 2、MVC3、MVC4、ASPs 和 WebServices。 </p>
		                        	<p>除開真實用戶體驗監控以外，OneAPM for .NET 可以達到代碼級別的性能可見性，如 SQL 語句的性能分析和問題定位。 </p>
		                        	<p>OneAPM 可以監測私有數據中心中的應用，和部署於公共雲上的應用，包括：Microsoft Azure 和 Azure Cloud Services。</p>
		                        </div>
		                    </div>
		                </div>
	        		</div>
	        		<div class="row item">
	        			<div class="col-md-12 col-sm-12 col-xs-12">
		                    <h3 class="title">協同合作，只在 OneAPM</h3>
		                    <div class="row desc">
		                    	<div class="col-md-12 col-sm-12 col-xs-12">
		                    		<p>OneAPM 給團隊中每個角色分配不同許可權，管理應用性能，協同合作確保應用長期處於健康穩定狀態。通過設置報警觸發器和通知方案，確保在錯誤發生和性能出現問題時，能夠通知相關人員進行修復；健全的 Traces 記錄能夠幫助相關人員快速定位性能瓶頸。</p>
		                        	<p>只需要 OneAPM 這一款產品，就可以完成從前端真實用戶體驗，到網路環境，直至應用代碼的端到端應用性能管理，協助你輕鬆排查性能問題。</p>
		                    	</div>
		                    </div>
		                </div>
	        		</div>
	        		<div class="row item">
	        			<div class="col-md-12 col-sm-12 col-xs-12">
		                    <h3 class="title">Why OneAPM ？</h3>
		                    <div class="row desc">
		                        <div class="col-md-12 col-sm-12 col-xs-12">
		                        	<p>OneAPM 是大陸首家支持 .NET 的應用性能管理雲解決方案，通過 Saas 向用戶提供統一的入口、友好的界面、便捷的流程，來管理和監控應用程序的性能，並完成從前端、到網路、直至應用代碼的端到端應用性能管理，讓你隨時隨地變身運維專家。</p>
		                        	<p>OneAPM 面向開發者和中小型企業，無需企業級的花費，就可以達到企業級的應用性能管理效果。基礎設施監控、多語言支持、真實用戶體驗監控、事務深度追溯和分析，只在 OneAPM ！</p>
		                        </div>
		                    </div>
		                </div>
	        		</div>
	        		
	        		<div class="row item last-item">
	        			<div class="col-md-12 col-sm-12 col-xs-12">
		                    <h3 class="title">如何安裝 OneAPM ？</h3>
		                    <div class="row desc">
		                    	<div class="col-md-12 col-sm-12 col-xs-12">
		                    		<p>很開心聽到這個問題！<br/>以下是 .NET Agent 安裝指南。具體安裝過程可能會因為 IDE 環境不同而有所偏差。</p>
		                    		<div class="setup-box">
			                        	<h2>1. <a href="https://user.oneapm.com/account/register.do" target="_blank">創建 OneAPM 賬號</a></h2>
			                        </div>
			                        <div class="setup-box">
			                        	<h2>2. 下載 OneAPM .NET Agent 安裝包 </h2>
			                        	<div class="setup-content">
			                        		<p>OneAPMAgent.msi</p>
			                        	</div>
			                        </div>
			                        <div class="setup-box">
			                        	<h2>3. 完成安裝，並重啟 IIS</h2>
			                        	<div class="setup-content">
			                        		<p>當授權提示出現時，輸入我們提供的授權碼：</p>
				                        	<code>
				                        		tHisIsnoTailCenseKEYbyANymEAnsSiLLy
				                        	</code>
				                        	<p>如果您沒有選擇立即重啟，您可以打開 CMD 進行手動重啟： </p>
				                        	<code>
				                        		iisreset
				                        	</code>
			                        	</div>
			                        </div>
			                        <div class="setup-box">
			                        	<h2>4. 見證奇蹟的時刻！</h2>
			                        	<div class="setup-content">
			                        		<p>幾分鐘後，你的應用就會開始向 OneAPM 發送數據。<br/>我們收到數據後，你的應用就會列在 OneAPM 應用列表中。</p>
			                        	</div>
			                        </div>
			                    </div>
		                    </div>
		                </div>
	        		</div>
	        	</div>
	        	<div class="content col-md-4 col-sm-4 col-xs-12">
        			<div class="col-md-12 col-sm-12 col-xs-12">
        				<h4 class="frame-title-top">框架 &amp; 應用伺服器支持</h4>
        				<div class="frameworks">
		        			<ul>
								<li>
									<a href="#"><img src="/images/lang/frameworks/net.png" alt=".net"></a>
								</li>
								<li>
									<a href="#"><img src="/images/lang/frameworks/azure.png" alt="azure"></a>
								</li>
								<li>
									<a href="#"><img src="/images/lang/frameworks/umbraco.png" alt="umbraco"></a>
								</li>
								<li>
									<a href="#"><img src="/images/lang/frameworks/wkff.png" alt="wkff"></a>
								</li>
							</ul>
		        		</div>
        			</div>	        		
        			<div class="col-md-12 col-sm-12 col-xs-12">
        				<h4 class="frame-title">關鍵優勢</h4>
		        		<div class="key-advan">
		        			<ul>
								<li>免費 Windows 伺服器監控</li>
								<li>真實用戶體驗監控</li>
								<li>應用架構自動建模</li>
								<li>跨應用追溯分布式 &amp; SOA 應用</li>
								<li>代碼級別的性能診斷</li>
								<li>關鍵事務 Traces 記錄</li>
								<li>Apdex: 度量用戶滿意度</li>
								<li>線程深度剖析</li>
							</ul>
		        		</div>
        			</div>
        			
	        	</div>
	        </div><!--//item-->
    	</div>
 
    </section><!--//why-->

    <!-- ******CTA Section****** -->
    <section id="cta-section" class="section cta-section text-center pricing-cta-section extra-padding">
        <div class="container">
            <div class="row">

                <div class="col-md-7 col-sm-10 col-xs-12 col-md-offset-0 col-sm-offset-1">
                    <table class="table table-basic">
                        <thead>
                            <tr>
                                <th colspan="2" style="color:#006ec3">現在註冊，即可免費試用專業版 15 天</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="background-color: rgba(0, 0, 0, 0.04);">
                                <td width="50%">端到端的性能總覽</td>
                                <td><i class="fa fa-check"></i></td>
                            </tr>
                            <tr>
                                <td>最慢事務抓取</td>
                                <td><i class="fa fa-check"></i></td>
                            </tr>
                            <tr style="background-color: rgba(0, 0, 0, 0.04);">
                                <td>事務Tracing</td>
                                <td><i class="fa fa-check"></i></td>
                            </tr>
                            <tr>
                                <td>堆棧信息抓取</td>
                                <td><i class="fa fa-check"></i></td>
                            </tr>
                            <tr style="background-color: rgba(0, 0, 0, 0.04);">
                                <td>相關SQL的分析</td>
                                <td><i class="fa fa-check"></i></td>
                            </tr>
                            <tr>
                                <td>Thread Profiler</td>
                                <td><i class="fa fa-check"></i></td>
                            </tr>
                            <tr>
                                <td>電子郵箱 &amp; 簡訊報警</td>
                                <td><i class="fa fa-check"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-5 col-sm-10 col-xs-12 col-md-offset-0 col-sm-offset-1">
                    <div style="margin-top: 35px; margin-bottom: 60px;">
                        <h2 class="title">超過 10 萬全球開發者選擇 OneAPM！</h2>
                        <p>
                            <a class="btn btn-large btn-sign-ye" href="https://user.oneapm.com/account/register.do" target="_blank">免費註冊</a>
                        </p>
                        <p><a href="/ai/price.html"><span class="cta-link">查看 Ai 完整報價  ></span></a></p>
                    </div>
                </div>
            </div>

        </div><!--//container-->
    </section><!--//cta-section-->
</div><!--//section-wrapper-->

{% endblock %}
