{% extends '../base/_layout.html' %}

{% block content %}
<div class="headline-bg ai-headline-bg"></div><!-- headline-bg -->
<section class="features-video section section-on-bg">
    <div class="container text-center">
        <h2 class="title lang-title">OneAPM for .NET</h2>
        <div class="text-container">
            <div class="about">
            	<div class="row">
            		<div class="col-md-4 col-sm-4 col-xs-12">
            			<div class="lang-logo">
							<img src="/images/lang/logo_net.png" alt="java">
						</div>
            		</div>
            		<div class="col-md-8 col-sm-8 col-xs-12">
            			<p>OneAPM for .NET 能够深入到所有 .NET 应用内部完成应用性能管理和监控，包括代码级别性能问题的可见性、性能瓶颈的快速识别与追溯、真实用户体验监控、服务器监控和端到端的应用性能管理。</p>
                		<div class="lang-button">
							<a href="javascript:;" class="btn btn-small btn-knowmore" style="width:20%">安装指南</a>
						</div>
            		</div>
            	</div>
            </div><!--//about-->
        </div>
    </div>
</section>

<div class="sections-wrapper">
    <!-- ******Why Section****** -->
    <section class="section why">
    	<div class="container">
    		<div class="row">
	        	<div class="lang-content col-md-8 col-sm-8 col-xs-12">
	        		<div class="row item" style="padding-top:40px;">
	        			<div class="col-md-12 col-sm-12 col-xs-12">
		                    <h3 class="title">端到端的性能可见性</h3>
		                    <div class="row desc">
		                        <div class="col-md-6 col-sm-6 col-xs-12">
		                        	<p>按照浏览器和地理信息 2 种分类方式，对真实用户的页面加载时间等性能数据进行查看，快速区隔出需要优化性能的浏览器类型和区域用户。</p>
		                        	<p>除开真实用户体验监控以外，OneAPM for .NET 可以达到代码级别的性能可见性，如 SQL 语句的性能分析和问题定位；还可以查看各组件对应用性能的影响，确保在用户意识到性能问题前，完成修复工作。</p>
		                        </div>
		                        <div class="col-md-6 col-sm-6 col-xs-12">
		                        	<ul>
		                        		<li class="first-li">使用跨应用追踪功能和应用拓扑建模功能，完成分布式应用和 SOA 应用的应用性能问题追溯</li>
										<li>比较不同版本的应用性能</li>
										<li>通过对吞吐量和集群的性能优化，来避免硬件成本消耗</li>
										<li>通过报警机制，确保在性能问题造成损失前，完成修复工作</li>
		                        		<li>详悉线程信息，即刻开始性能问题修复</li>
			                        </ul>
		                        </div>
		                    </div>
		                </div>
	        		</div>
	        		<div class="row item">
	        			<div class="col-md-12 col-sm-12 col-xs-12">
		                    <h3 class="title">支持主流框架/平台</h3>
		                    <div class="row desc">
		                        <div class="col-md-12 col-sm-12 col-xs-12">
		                        	<p>OneAPM支持所有 .NET 语系： VB.NET、C# 和 C++/CLI for .NET 2.0 及以上版本。OneAPM 支持主要框架：MVC 2、MVC3、MVC4、ASPs 和 WebServices。 </p>
		                        	<p>除开真实用户体验监控以外，OneAPM for .NET 可以达到代码级别的性能可见性，如 SQL 语句的性能分析和问题定位。 </p>
		                        	<p>OneAPM 可以监测私有数据中心中的应用，和部署于公共云上的应用，包括：Microsoft Azure 和 Azure Cloud Services。</p>
		                        </div>
		                    </div>
		                </div>
	        		</div>
	        		<div class="row item">
	        			<div class="col-md-12 col-sm-12 col-xs-12">
		                    <h3 class="title">协同合作，只在 OneAPM</h3>
		                    <div class="row desc">
		                    	<div class="col-md-12 col-sm-12 col-xs-12">
		                    		<p>OneAPM 给团队中每个角色分配不同权限，管理应用性能，协同合作确保应用长期处于健康稳定状态。通过设置报警触发器和通知方案，确保在错误发生和性能出现问题时，能够通知相关人员进行修复；健全的 Traces 记录能够帮助相关人员快速定位性能瓶颈。</p>
		                        	<p>只需要 OneAPM 这一款产品，就可以完成从前端真实用户体验，到网络环境，直至应用代码的端到端应用性能管理，协助你轻松排查性能问题。</p>
		                    	</div>
		                    </div>
		                </div>
	        		</div>
	        		<div class="row item">
	        			<div class="col-md-12 col-sm-12 col-xs-12">
		                    <h3 class="title">Why OneAPM ？</h3>
		                    <div class="row desc">
		                        <div class="col-md-12 col-sm-12 col-xs-12">
		                        	<p>OneAPM 是国内首家支持 .NET 的应用性能管理云解决方案，通过 Saas 向用户提供统一的入口、友好的界面、便捷的流程，来管理和监控应用程序的性能，并完成从前端、到网络、直至应用代码的端到端应用性能管理，让你随时随地变身运维专家。</p>
		                        	<p>OneAPM 面向开发者和中小型企业，无需企业级的花费，就可以达到企业级的应用性能管理效果。基础设施监控、多语言支持、真实用户体验监控、事务深度追溯和分析，只在 OneAPM ！</p>
		                        </div>
		                    </div>
		                </div>
	        		</div>
	        		
	        		<div class="row item last-item">
	        			<div class="col-md-12 col-sm-12 col-xs-12">
		                    <h3 class="title">如何安装 OneAPM ？</h3>
		                    <div class="row desc">
		                    	<div class="col-md-12 col-sm-12 col-xs-12">
		                    		<p>很开心听到这个问题！<br/>以下是 .NET Agent 安装指南。具体安装过程可能会因为 IDE 环境不同而有所偏差。</p>
		                    		<div class="setup-box">
			                        	<h2>1. <a href="https://user.oneapm.com/account/register.do" target="_blank">创建 OneAPM 账号</a></h2>
			                        </div>
			                        <div class="setup-box">
			                        	<h2>2. 下载 OneAPM .NET Agent 安装包 </h2>
			                        	<div class="setup-content">
			                        		<p>OneAPMAgent.msi</p>
			                        	</div>
			                        </div>
			                        <div class="setup-box">
			                        	<h2>3. 完成安装，并重启 IIS</h2>
			                        	<div class="setup-content">
			                        		<p>当授权提示出现时，输入我们提供的授权码：</p>
				                        	<code>
				                        		tHisIsnoTailCenseKEYbyANymEAnsSiLLy
				                        	</code>
				                        	<p>如果您没有选择立即重启，您可以打开 CMD 进行手动重启： </p>
				                        	<code>
				                        		iisreset
				                        	</code>
			                        	</div>
			                        </div>
			                        <div class="setup-box">
			                        	<h2>4. 见证奇迹的时刻！</h2>
			                        	<div class="setup-content">
			                        		<p>几分钟后，你的应用就会开始向 OneAPM 发送数据。<br/>我们收到数据后，你的应用就会列在 OneAPM 应用列表中。</p>
			                        	</div>
			                        </div>
			                    </div>
		                    </div>
		                </div>
	        		</div>
	        	</div>
	        	<div class="content col-md-4 col-sm-4 col-xs-12">
        			<div class="col-md-12 col-sm-12 col-xs-12">
        				<h4 class="frame-title-top">框架 &amp; 应用服务器支持</h4>
        				<div class="frameworks">
		        			<ul>
								<li>
									<a href="#"><img src="/images/lang/frameworks/net.png" alt=".net"></a>
								</li>
								<li>
									<a href="#"><img src="/images/lang/frameworks/azure.png" alt="azure"></a>
								</li>
								<li>
									<a href="#"><img src="/images/lang/frameworks/umbraco.png" alt="umbraco"></a>
								</li>
								<li>
									<a href="#"><img src="/images/lang/frameworks/wkff.png" alt="wkff"></a>
								</li>
							</ul>
		        		</div>
        			</div>	        		
        			<div class="col-md-12 col-sm-12 col-xs-12">
        				<h4 class="frame-title">关键优势</h4>
		        		<div class="key-advan">
		        			<ul>
								<li>免费 Windows 服务器监控</li>
								<li>真实用户体验监控</li>
								<li>应用架构自动建模</li>
								<li>跨应用追溯分布式 &amp; SOA 应用</li>
								<li>代码级别的性能诊断</li>
								<li>关键事务 Traces 记录</li>
								<li>Apdex: 度量用户满意度</li>
								<li>线程深度剖析</li>
							</ul>
		        		</div>
        			</div>
        			
	        	</div>
	        </div><!--//item-->
    	</div>
 
    </section><!--//why-->

    <!-- ******CTA Section****** -->
    <section id="cta-section" class="section cta-section text-center pricing-cta-section extra-padding">
        <div class="container">
            <div class="row">

                <div class="col-md-7 col-sm-10 col-xs-12 col-md-offset-0 col-sm-offset-1">
                    <table class="table table-basic">
                        <thead>
                            <tr>
                                <th colspan="2" style="color:#006ec3">现在注册，即可免费试用专业版 15 天</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="background-color: rgba(0, 0, 0, 0.04);">
                                <td width="50%">端到端的性能总览</td>
                                <td><i class="fa fa-check"></i></td>
                            </tr>
                            <tr>
                                <td>最慢事务抓取</td>
                                <td><i class="fa fa-check"></i></td>
                            </tr>
                            <tr style="background-color: rgba(0, 0, 0, 0.04);">
                                <td>事务Tracing</td>
                                <td><i class="fa fa-check"></i></td>
                            </tr>
                            <tr>
                                <td>堆栈信息抓取</td>
                                <td><i class="fa fa-check"></i></td>
                            </tr>
                            <tr style="background-color: rgba(0, 0, 0, 0.04);">
                                <td>相关SQL的分析</td>
                                <td><i class="fa fa-check"></i></td>
                            </tr>
                            <tr>
                                <td>Thread Profiler</td>
                                <td><i class="fa fa-check"></i></td>
                            </tr>
                            <tr>
                                <td>电子邮箱 &amp; 短信报警</td>
                                <td><i class="fa fa-check"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-5 col-sm-10 col-xs-12 col-md-offset-0 col-sm-offset-1">
                    <div style="margin-top: 35px; margin-bottom: 60px;">
                        <h2 class="title">超过 10 万全球开发者选择 OneAPM！</h2>
                        <p>
                            <a class="btn btn-large btn-sign-ye" href="https://user.oneapm.com/account/register.do" target="_blank">免费注册</a>
                        </p>
                        <p><a href="/ai/price.html"><span class="cta-link">查看 Ai 完整报价 ></span></a></p>
                    </div>
                </div>
            </div>

        </div><!--//container-->
    </section><!--//cta-section-->
</div><!--//section-wrapper-->

{% endblock %}
