{% extends '../base/_layout.html' %}

{% block content %}
<div class="headline-bg ai-headline-bg">
    <canvas id="waves" class="waves"></canvas>
</div><!-- headline-bg -->

<section class="features-video section section-on-bg feature-ai">
    <div class="container"> 
        <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12 col-lg-offset-0 col-md-offset-0 col-sm-offset-0">
                <img class="ailogo" src="/images/ai/ailogo.svg">
                <p class="intro hidden-xs">从用户体验到网络服务，直至应用代码， <br/>帮助您完成，端到端的应用性能管理。</p>
                <p class="more">
                   <a class="play-trigger btn-link" data-toggle="modal" data-target="#modal-video" id="video-btn" data-source="#ai-video"><i class="fa fa-youtube-play"></i> 观赏 Ai 介绍影片</a>
                   <a href="https://user.oneapm.com/account/demo.do" class="hidden-xs" target="_blank">查看 DEMO</a>
                </p>
            </div>
            <img class="ai-headline-img" src="/images/ai/ai.png">
        </div>         
    </div>
</section>

<div class="sections-wrapper">
<!-- ******真实用户体验 Section****** -->
    
    <!-- ******3 features Section****** --> 
    <section class="section steps">
        <div class="container">
            <div class="row">
                 <div class="text-center col-lg-3 col-md-3 col-sm-3 col-xs-6">
                     <span class="icon"><img src="/images/ai/free.svg"></span>
                     <h3 class="title"><span class="text">永久免费</span></h3>
                     <p class="intro-text">专业版免费试用 15 天，<br class=" hidden-md hidden-sm hidden-xxs"/> 标准版永久免费使用。</p>
                 </div>
                 <div class="text-center col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <span class="icon"><img src="/images/ai/code.svg"></span>
                     <h3 class="title"><span class="text">代码级</span></h3>
                     <p class="intro-text">无需代码改动，实现代码级别的性能管理和监控。</p>
                 </div>
                 <div class="text-center col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <span class="icon"><img src="/images/ai/ete.svg"></span>
                     <h3 class="title"><span class="text">端到端</span></h3>
                     <p class="intro-text">端到端应用性能管理，用户到网络，直至服务器性能监控。</p>
                 </div>
                 <div class="text-center col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <span class="icon"><img src="/images/ai/ue.svg"></span>
                     <h3 class="title"><span class="text">真实用户体验</span></h3>
                     <p class="intro-text">实时从真实用户终端采集性能数据，度量应用性能表现。</p>
                 </div>
                 <div class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="line"></div>
                 </div>
            </div>
        </div>        
    </section><!--//3 features-->

    <section class="section features-apm" style="padding-top:0px;">
        <div class="container">
            <h2 class="title">真实用户体验监控</h2>
            <p class="desp">根据真实用户体验，发觉问题影响范围</p>
            <figure class="figure">
                <img src="/images/apm-imgs/a.png" class="img-responsive" alt="真实用户体验监控">
            </figure>
            <p>「总览」页面概括应用整体性能，通过 Apdex、报警、错误率，并结合<a href="/bi/feature.html">「Browser Insight」</a>；<br/>了解应用性能对用户使用体验的影响，从而挖掘应用可优化的范围。</p>
        </div>
    </section>
    <!-- ******分布式事务追踪 Section****** -->
    <section class="section features-apm" style="background:#F7F7F7;">
        <div class="container">
            <h2 class="title">分布式事务追踪</h2>
            <p class="desp">在分布式环境中，定位事务的性能瓶颈</p>
            <figure class="figure">
                <img src="/images/apm-imgs/b.png" class="img-responsive" alt="分布式事务追踪">
            </figure>
            <p>「端到端拓扑」，解析事务整个过程。「事务 Trace」为应用建立全过程快照，关注最慢组件，<br/>挖掘性能消耗热点。OneAPM 剥离出与后端性能相关的「后台任务」，关注服务器资源消耗。<br/><!-- <a href="#">查看「事务」更多信息</a> --></p>
        </div>
    </section>
    <!-- ******代码级别深度追踪 Section****** -->
    <section class="section features-apm">
        <div class="container">
            <h2 class="title">代码级别深度追踪</h2>
            <p class="desp">深入至代码层面，轻松地解决性能问题</p>
            <figure class="figure">
                <img src="/images/apm-imgs/c.png" class="img-responsive" alt="代码性能可见">
            </figure>
            <p>轻量 OneAPM Agent 以小于 2% 的性能消耗，定位至代码层的性能指标；采集 JVM 性能指标，<br/>为应用建立 「Thread Profiler」，并分析 SQL 语句性能；给予您最科学的性能优化参考。<br/><!-- <a href="#">查看「Thread Profiler」更多信息</a> --></p>
        </div>
    </section>

    <!-- ******CTA Section****** -->
    <section class="section cta-section text-center pricing-cta-section">
        <div class="wavesWapper" style="margin-top: 3%;">
            <canvas id="waves2" class="waves"></canvas>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0">
                    <h2 class="title">一个为程序员而生的产品<br>一次改变开发习惯的机遇</h2>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <p><a class="btn btn-large btn-sign-ye" href="https://user.oneapm.com/account/register.do" target="_blank">免费注册</a></p>
                    <p><a href="/ai/price.html"><span class="cta-link">查看 Ai 完整报价 ></span></a></p>
                </div>
            </div>
        </div>
    </section>

</div><!--//section-wrapper-->

<!-- Video Modal -->
<div class="modal modal-video" id="modal-video" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="videoModalLabel" cla.
                ss="modal-title sr-only"></h4>
            </div>
            <div class="modal-body">
                <div class="video-container">
                   <video controls preload poster="/images/ai/ai-video.png" class="box-video" id="ai-video" >
                       <source src="https://dn-oneapm.qbox.me/ai-introduce-v0.3.webm" type="video/webm">
                   <source src="https://dn-oneapm.qbox.me/ai-introduce-v0.3.mp4" type="video/mp4">
                   </video>
                </div><!--//video-container-->
            </div><!--//modal-body-->
        </div><!--//modal-content-->
    </div><!--//modal-dialog-->
</div><!--//modal-->


{% endblock %}

{% block scripts %}
    {% parent %}
    <!-- build:js /scripts/ai-feature.js -->
    <script type="text/javascript" src="/scripts/headerResponse.js"></script>
    <script type="text/javascript" src="/scripts/sine-waves.js"></script>
    <script type="text/javascript" src="/scripts/sine-waves-action-header.js"></script>
    <script type="text/javascript" src="/scripts/sine-waves-action-sine.js"></script>
    <!-- endbuild -->
{% endblock %}

