{% extends '../base/_layout.html' %}

{% block content %}
<div class="headline-bg ai-headline-bg"></div><!-- headline-bg -->
<section class="features-video section section-on-bg">
    <div class="container text-center">
        <h2 class="title">Application Insight</h2>
        <p class="intro text-center">从用户体验到网络服务，直至应用代码, 帮助您完成：端到端的应用性能管理</p>
        <div class="video-container">
            <div class="fluid-width-video-wrapper">
                <p class="play-btn">
                    <a href="#" class="play-trigger btn-link">
                        <i class="iconfont icon-play">&#xe60b;</i>
                    </a>
                </p>
               <video preload poster="/images/ai-video.png" class="box-video" id="apm-video">
                   <source src="https://dn-oneapm.qbox.me/ai-introduce-v0.3.webm" type="video/webm">
                   <source src="https://dn-oneapm.qbox.me/ai-introduce-v0.3.mp4" type="video/mp4">
                   您的浏览器不支持 video 标签。
               </video>
            </div>
        </div>
    </div>
</section>

<div class="sections-wrapper">
<!-- ******真实用户体验 Section****** -->
    
    <section id="why" class="section why btn-section">
        <p class="intro text-center">
            <span>现在注册，即可免费试用专业版 15 天</span> 
            <a href="https://user.oneapm.com/account/register.do" class="btn btn small btn-sign">免费注册</a>
        </p>
    </section>
    <section class="section features-apm">
        <div class="container">
            <h2 class="title">真实用户体验监控</h2>
            <p class="desp">根据真实用户体验，发觉问题影响范围</p>
            <figure class="figure">
                <img src="/images/apm-imgs/a.png" class="img-responsive" alt="真实用户体验监控">
            </figure>
            <p>「总览」页面概括应用整体性能，通过 Apdex、报警、错误率，并结合<a href="/bi/feature.html">「Browser Insight」</a>；<br/>了解应用性能对用户使用体验的影响，从而挖掘应用可优化的范围。</p>
        </div>
    </section>
<!-- ******分布式事务追踪 Section****** -->
    <section class="section features-apm" style="background:#F7F7F7;">
        <div class="container">
            <h2 class="title">分布式事务追踪</h2>
            <p class="desp">在分布式环境中，定位事务的性能瓶颈</p>
            <figure class="figure">
                <img src="/images/apm-imgs/b.png" class="img-responsive" alt="分布式事务追踪">
            </figure>
            <p>「端到端拓扑」，解析事务整个过程。「事务 Trace」为应用建立全过程快照，关注最慢组件，<br/>挖掘性能消耗热点。OneAPM 剥离出与后端性能相关的「后台任务」，关注服务器资源消耗。<br/><!-- <a href="#">查看「事务」更多信息</a> --></p>
        </div>
    </section>
<!-- ******代码级别深度追踪 Section****** -->
    <section class="section features-apm">
        <div class="container">
            <h2 class="title">代码级别深度追踪</h2>
            <p class="desp">深入至代码层面，轻松地解决性能问题</p>
            <figure class="figure">
                <img src="/images/apm-imgs/c.png" class="img-responsive" alt="代码性能可见">
            </figure>
            <p>轻量 OneAPM Agent 以小于 2% 的性能消耗，定位至代码层的性能指标；采集 JVM 性能指标，<br/>为应用建立 「Thread Profiler」，并分析 SQL 语句性能；给予您最科学的性能优化参考。<br/><!-- <a href="#">查看「Thread Profiler」更多信息</a> --></p>
        </div>
    </section>

    <!-- ******CTA Section****** -->
    <!-- <section id="cta-section" class="section cta-section text-center pricing-cta-section extra-padding">
        <div class="container">
            <div class="row">

                <div class="col-md-7 col-sm-10 col-xs-12 col-md-offset-0 col-sm-offset-1">
                    <table class="table table-basic">
                        <thead>
                            <tr>
                                <th colspan="2" style="color:#006ec3">现在注册，即可免费试用专业版 15 天</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="background-color: rgba(0, 0, 0, 0.04);">
                                <td width="50%">端到端的性能总览</td>
                                <td><i class="fa fa-check"></i></td>
                            </tr>
                            <tr>
                                <td>最慢事务抓取</td>
                                <td><i class="fa fa-check"></i></td>
                            </tr>
                            <tr style="background-color: rgba(0, 0, 0, 0.04);">
                                <td>事务Tracing</td>
                                <td><i class="fa fa-check"></i></td>
                            </tr>
                            <tr>
                                <td>堆栈信息抓取</td>
                                <td><i class="fa fa-check"></i></td>
                            </tr>
                            <tr style="background-color: rgba(0, 0, 0, 0.04);">
                                <td>相关SQL的分析</td>
                                <td><i class="fa fa-check"></i></td>
                            </tr>
                            <tr>
                                <td>Thread Profiler</td>
                                <td><i class="fa fa-check"></i></td>
                            </tr>
                            <tr>
                                <td>电子邮箱 &amp; 短信报警</td>
                                <td><i class="fa fa-check"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-5 col-sm-10 col-xs-12 col-md-offset-0 col-sm-offset-1">
                    <div style="margin-top: 35px; margin-bottom: 60px;">
                        <h2 class="title">超过 10 万全球开发者选择 OneAPM！</h2>
                        <p>
                            <a class="btn btn-large btn-sign-ye" href="https://user.oneapm.com/account/register.do" target="_blank">免费注册</a>
                        </p>
                        <p><a href="/ai/price.html"><span class="cta-link">查看 Ai 完整报价 ></span></a></p>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- ******CTA Section****** -->
    <section class="section cta-section text-center pricing-cta-section extra-padding ai">
        <div class="wavesWapper" style="margin-top: 3%;">
            <canvas id="waves2" class="waves"></canvas>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0">
                    <h2 class="title">一个为程序员而生的产品<br>一次改变开发习惯的机遇</h2>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <p><a class="btn btn-large btn-sign-ye" href="https://user.oneapm.com/account/register.do" target="_blank">免费注册</a></p>
                    <p><a href="/ai/price.html"><span class="cta-link">查看 Ai 完整报价 ></span></a></p>
                </div>
            </div>
        </div>
    </section>

</div><!--//section-wrapper-->


{% endblock %}

