{% extends '../base/_layout.html' %}

{% block content %}
<div class="headline-bg ai-headline-bg">
    <canvas id="waves" class="waves"></canvas>
</div><!-- headline-bg -->
<section class="pricing section section-on-bg ai-section">
    <div class="container">
        <h2 class="title text-center">Application Insight 报价</h2>
        <p class="intro text-center">新注册用户，<strong>免费使用企业版 15 天</strong></span>。</p>
         <div class="price-cols row">
            <div class="items-wrapper col-md-10 col-sm-12 col-xs-10 col-xxs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-1 col-xxs-offset-0">
                <div class="item price-1 col-md-5 col-md-offset-half col-sm-5 col-sm-offset-half col-xs-12 text-center">
                    <div class="item-inner">
                        <div class="heading">
                        <h3 class="title">免费版</h3>
                            <p class="price-figure"><span class="price-figure-inner"><span class="currency">￥</span><span class="number">0</span><br /><span class="unit"> Agent / 月</span></span></p>
                        </div>
                        <div class="content">
                            <ul class="list-unstyled feature-list">
                                <li>数据存储 3 天</li>
                                <li>5 x 8 小时服务</li>
                            </ul>
                            <a class="btn btn-cta btn-cta-primary" href="https://user.oneapm.com/account/register.do">马上试用</a>
                        </div><!--//content-->
                    </div><!--//item-inner-->
                </div><!--//item-->

                <div class="item price-3 col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-12 text-center">
                    <div class="item-inner">
                        <div class="heading">
                            <h3 class="title">企业版</h3>
                            <p class="price-figure">
                                <span class="phone-number">
                                    400-659-1230
                                </span>
                                <i class="fa fa-phone hidden-lg hidden-md hidden-sm hidden-xs" style="font-size: 50px;line-height: 1.4;"></i><br />
                                <span class="unit">
                                    <a href="http://lxbjs.baidu.com/cb/url/show?f=55&id=9061" target="_blank">联系销售</a>
                                </span>
                            </p>
                        </div>
                        <div class="content">
                            <ul class="list-unstyled feature-list">
                                <li>数据存储 30 天</li>
                                <li>7 x 24 小时服务</li>
                            </ul>
                            <a class="btn btn-cta btn-cta-primary" href="https://user.oneapm.com/account/register.do">马上试用</a>
                        </div><!--//content-->
                    </div><!--//item-inner-->
                </div><!--//item-->
            </div><!--//items-wrapper-->
        </div><!--//row-->
        <!-- <p class="text-center bi-price-text">购买 Ruby Python Node.js <a href="http://item.taobao.com/item.htm?spm=a230r.1.14.1.6VVJAO&id=520419356296&ns=1&abbucket=18#detail" target="_blank">创业优惠包 </a></p> -->
    </div><!--//container-->
</section><!--//pricing-->
<section class="agent-counting section ai-section">
    <div class="container">
        <!-- <h2 class="title text-center">功能对比</h2> -->
        <div class="row">
            <div class="col-md-10 col-sm-10 col-xs-10 col-xxs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-xxs-offset-0">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="40%"></th>
                            <th class="theme" width="30%"><div>免费版</div></th>
                            <th class="theme" width="30%"><div>企业版</div></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><div class="feature">数据存储</div></td>
                            <td>3 天</td>
                            <td>15 天</td>
                        </tr>
                        <tr>
                            <td><div class="feature">技术支持</div></td>
                            <td>电话 & 邮件  & 远程</td>
                            <td>电话 & 邮件 & 远程<!-- <br/> -->& 现场</td>
                        </tr>
                        <tr>
                            <td><div class="feature">使用方式</div></td>
                            <td>仅支持 SaaS</td>
                            <td>SaaS & 本地化部署</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="feature">多账户协作
                                    <i class="iconfont question" data-toggle="tooltip" data-placement="right" title="允许建立子账号，与您的同事共同协作使用 OneAPM。">&#xe64b;</i>
                                </div>
                            </td>
                            <td><i class="iconfont check">&#xe64c;</i></td>
                            <td><i class="iconfont check">&#xe64c;</i></td>
                        </tr>
                        <tr>
                            <td><div class="feature">应用健康总览</div></td>
                            <td><i class="iconfont check">&#xe64c;</i></td>
                            <td><i class="iconfont check">&#xe64c;</i></td>
                        </tr>
                        <tr>
                            <td><div class="feature">应用拓扑</div></td>
                            <td><i class="iconfont check">&#xe64c;</i></td>
                            <td><i class="iconfont check">&#xe64c;</i></td>
                        </tr>
                        <tr>
                            <td><div class="feature">数据库性能总览</div></td>
                            <td><i class="iconfont check">&#xe64c;</i></td>
                            <td><i class="iconfont check">&#xe64c;</i></td>
                        </tr>
                        <tr>
                            <td><div class="feature">HTTP 错误详情</div></td>
                            <td><i class="iconfont check">&#xe64c;</i></td>
                            <td><i class="iconfont check">&#xe64c;</i></td>
                        </tr>
                        <tr>
                            <td><div class="feature">第三方服务监控</div></td>
                            <td><i class="iconfont check">&#xe64c;</i></td>
                            <td><i class="iconfont check">&#xe64c;</i></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="feature">故障报警
                                    <i class="iconfont question" data-toggle="tooltip" data-placement="right" title="通过配置报警策略，向 OneAlert 推送报警消息。OneAlert 支持短信、邮件、微信、Webhook 等多渠道实时故障报警。">&#xe64b;</i>
                                </div>
                            </td>
                            <td><i class="iconfont check">&#xe64c;</i></td>
                            <td><i class="iconfont check">&#xe64c;</i></td>
                        </tr>
                        <tr>
                            <td><div class="feature">JVM 性能分析 (Java)</div></td>
                            <td><i class="iconfont check">&#xe64c;</i></td>
                            <td><i class="iconfont check">&#xe64c;</i></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="feature">缓慢 SQL 追踪
                                    <i class="iconfont question" data-toggle="tooltip" data-placement="right" title="开启该功能后，记录发生缓慢 SQL，并可以查看相关的 URL ，执行计划、参数等详细信息。">&#xe64b;</i>
                                </div>
                            </td>
                            <td></td>
                            <td><i class="iconfont check">&#xe64c;</i></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="feature">缓慢代码追踪
                                    <i class="iconfont question" data-toggle="tooltip" data-placement="right" title="该功能通过分析 Web 事务或后台任务中代码类的执行时间、数据库查询耗时、第三方服务耗时占比，准确定位应用性能瓶颈 。">&#xe64b;</i>
                                </div>
                            </td>
                            <td></td>
                            <td><i class="iconfont check">&#xe64c;</i></td>
                        </tr>
                        <tr>
                            <td><div class="feature">性能报表</div></td>
                            <td></td>
                            <td><i class="iconfont check">&#xe64c;</i></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="feature">自定义事务
                                    <i class="iconfont question" data-toggle="tooltip" data-placement="right" title="通过配置 URI、HTTP 和 Header 参数的规则，实现 Web 事务自定义，从而进行更贴近实际业务管理应用性能。">&#xe64b;</i>
                                </div>
                            </td>
                            <td></td>
                            <td><i class="iconfont check">&#xe64c;</i></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="feature">端到端交易拓扑
                                    <i class="iconfont question" data-toggle="tooltip" data-placement="right" title="通过拓扑图展示从前端浏览器（App）到 Web Server 及后台数据库的完整交易链，实时分析问题根源。支持分布式事务及多层后端架构。">&#xe64b;</i>
                                </div>
                            </td>
                            <td></td>
                            <td><i class="iconfont check">&#xe64c;</i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <p class="text-center btn-part">
        <a href="https://user.oneapm.com/account/register.do" class="btn btn-large btn-sign" target="_blank">立即注册，体验 15 天企业版</a>
    </p>
    <p class="text-center">
        咨询企业级应用性能管理解决方案
        <a href="http://lxbjs.baidu.com/cb/url/show?f=55&id=9061" target="_blank">400-659-1230</a>
    </p>
</section>

<!-- ******FAQ Section****** -->
<section class="faq section has-bg-color ai-section">
    <div class="container">
        <h2 class="title text-center">常见问题</h2>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-md-5 col-sm-10 col-xs-10 col-xxs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-xxs-offset-0">
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a data-parent="#accordion"
                        data-toggle="collapse" class="panel-toggle" href="#faq1"><i class="fa fa-plus-square"></i><p>如何收费？</p></a></h4>
                    </div>
                    <div class="panel-collapse collapse" id="faq1">
                        <div class="panel-body">
                            <p>OneAPM Application Insight 企业版根据 Agent 数量进行收费。例如 Java 语言，每个 JVM 需购买一个 Agent；.NET 或 PHP，每个 OS 需购买一个 Agent；Ruby 、Node.js 或 Python 语言，每个 Host 需购买一个 Agent。</p>
                            <p class="panel-small" >企业版的收费情况，可点击页面右下角的「在线咨询」，或请拨打<span class="panel-totop">
                                <a href="http://lxbjs.baidu.com/cb/url/show?f=55&id=9061" target="_blank">400-659-1230</a>
                            </span>。</p>
                        </div>
                    </div>
                </div><!--//panel-->
                <div class="panel">
                      <div class="panel-heading">
                          <h4 class="panel-title"><a data-parent="#accordion"
                          data-toggle="collapse" class="panel-toggle" href="#faq2"><i class="fa fa-plus-square" style="vertical-align: top;margin-top: 6px;"></i><p>Micro-services、Docker Containers、Cloud Auto-scaling 架构如何计费 ？</p></a></h4>
                      </div>
                      <div class="panel-collapse collapse" id="faq2">
                          <div class="panel-body">
                               <p>对于 Micro-services、Docker Containers、Cloud Auto-scaling  类型的架构，相关价格策略，可点击页面右下角的「在线咨询」，或请拨打： 
                                    <a href="http://lxbjs.baidu.com/cb/url/show?f=55&id=9061" target="_blank">400-659-1230</a>
                               </p>
                          </div>
                      </div>
                </div><!--//panel-->
                <div class="panel">
                      <div class="panel-heading">
                          <h4 class="panel-title"><a data-parent="#accordion"
                          data-toggle="collapse" class="panel-toggle" href="#faq3"><i class="fa fa-plus-square"></i><p>是否可以进行试用？</p></a></h4>
                      </div>

                      <div class="panel-collapse collapse" id="faq3">
                          <div class="panel-body">
                               <p>新注册用户，都享有企业版功能免费试用 15 天的服务。</p>
                               <p>当企业版试用过期后，会自动转为相关产品的免费版；而免费版永久免费。</p>
                               <p>目前 OneAPM Application Insight  支持 Java, .NET,PHP, Ruby, Python, Node.js 语言。</p>
                          </div>
                      </div>
                </div><!--//panel-->
            </div>
            <div class="col-lg-5 col-md-5 col-sm-10 col-xs-10 col-xxs-12 col-lg-offset-0 col-sm-offset-1 col-md-offset-0 col-xs-offset-1 col-xxs-offset-0">
              <div class="panel">
                  <div class="panel-heading">
                      <h4 class="panel-title"><a data-parent="#accordion"
                      data-toggle="collapse" class="panel-toggle" href="#faq4"><i class="fa fa-plus-square"></i><p>是否存在优惠政策？</p></a></h4>
                  </div>
                  <div class="panel-collapse collapse" id="faq4">
                      <div class="panel-body">
                        <p>目前 OneAPM 推出了针对 Python、Ruby、Node.js 语言的创业优惠包，
                            <a href="http://item.taobao.com/item.htm?spm=a230r.1.14.1.6VVJAO&id=520419356296&ns=1&abbucket=18#detail" target="_blank">点此查看购买</a>。
                        </p>
                        <p>OneAPM 针对年付用户，会做一系列的优惠。具体事宜；针对合作伙伴，也会提供相应的优惠政策。</p>
                        <p class="panel-small">优惠政策的答疑，可点击页面右下角的「在线咨询」，或请拨打： <span class="panel-totop"><a href="http://lxbjs.baidu.com/cb/url/show?f=55&id=9061" target="_blank">400-659-1230</a></span>。</p>
                      </div>
                  </div>
              </div><!--//panel-->
              <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a data-parent="#accordion"
                        data-toggle="collapse" class="panel-toggle" href="#faq6"><i class="fa fa-plus-square"></i><p>其他问题？</p></a></h4>
                    </div>

                    <div class="panel-collapse collapse" id="faq6">
                        <div class="panel-body">
                          <p>若您还有其他问题，可点击页面右下角的「在线咨询」，或请拨打： <span class="panel-totop"><a href="http://lxbjs.baidu.com/cb/url/show?f=55&id=9061" target="_blank">400-659-1230</a></span>。</p>
                        </div>
                    </div>
              </div><!--//panel-->
            </div>
        </div>
        <!-- <div class="contact-lead text-center">
            <h4 class="title">还有其他问题？</h4>
            <a class="btn btn-cta btn-cta-secondary" href="contact.html">Get in touch</a>
        </div> -->
    </div><!--//container-->
</section><!--//faq-->


<!-- ******CTA Section****** -->
    <section class="section cta-section text-center pricing-cta-section ai">
        <div class="wavesWapper" style="margin-top: 3%;">
            <canvas id="waves2" class="waves"></canvas>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0">
                    <h2 class="title">一个为程序员而生的产品<br>一次改变开发习惯的机遇</h2>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <p><a class="btn btn-large btn-sign-ye" href="https://user.oneapm.com/account/register.do" target="_blank">免费注册</a></p>
                    <p><span class="cta-span">现在注册，企业版免费使用 15 天</span></p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block scripts %}

    {% parent %}
    <!-- build:js /scripts/apm-price.js -->
    <script type="text/javascript" src="/scripts/show-function.js"></script>
    <script type="text/javascript" src="/scripts/jquery.stickyheader.js"></script>
    <script type="text/javascript" src="/scripts/sine-waves.js"></script>
    <script type="text/javascript" src="/scripts/sine-waves-action-header-2.js"></script>
    <script type="text/javascript" src="/scripts/sine-waves-action-sine.js"></script>
    <!-- endbuild -->
    {% if env == 'production' %}
    <script src="https://meiqia.com/js/mechat.js?unitid=6232" charset="UTF-8" async="async"></script>
    <script type="text/javascript">
    (function(){
      var inter = setInterval(function(){
        if(window.mechatMetadata){
          clearInterval(inter);
          window.mechatMetadata({
                  comment:window.location.href,
          });
        }
      },500);
    }());
    </script>
    {% endif %}
{% endblock %}
