{% extends '../base/_layout.html' %}

{% block content %}
<div class="headline-bg ai-headline-bg"></div><!-- headline-bg -->
<section class="pricing section section-on-bg">
    <div class="container">
        <h2 class="title text-center">Application Insight 报价</h2>
        <p class="intro text-center">新注册用户，<strong>免费使用专业版 15 天</strong></span>。标准版，永久免费。</p>
         <div class="price-cols row">
            <div class="items-wrapper col-md-10 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
                <div class="item price-1 col-md-4 col-sm-4 col-xs-12 text-center">
                    <div class="item-inner">
                        <div class="heading">
                        <h3 class="title">标准版</h3>
                            <p class="price-figure"><span class="price-figure-inner"><span class="currency">￥</span><span class="number">0</span><br /><span class="unit"> Agent / 月</span></span></p>
                        </div>
                        <div class="content">
                            <ul class="list-unstyled feature-list">
                                <li>1 个 Agent</li>
                                <li>数据存储 3 天</li>
                                <li>5 x 8 小时</li>
                                <li>电话 &amp; 邮件 &amp; 远程</li>
                            </ul>
                            <a class="btn btn-cta btn-cta-primary" href="https://user.oneapm.com/account/register.do">马上试用</a>

                        </div><!--//content-->
                    </div><!--//item-inner-->
                </div><!--//item-->

                <div class="item price-2 col-md-4 col-sm-4 col-xs-12 text-center best-buy">
                    <div class="item-inner">
                        <div class="heading">
                        <h3 class="title">专业版</h3>
                            <p class="price-figure"><span class="price-figure-inner"><span class="currency">￥</span><span class="number">699</span><br /><span class="unit"> Agent / 月</span></span></p>
                        </div>
                        <div class="content">
                            <ul class="list-unstyled feature-list">
                                <li>不限制 Agent 数量</li>
                                <li>数据存储 15 天</li>
                                <li>7 x 24 小时</li>
                                <li>电话 &amp; 邮件 &amp; 远程</li>
                            </ul>
                            <a class="btn btn-cta btn-cta-primary" href="https://user.oneapm.com/account/register.do">马上试用</a>
                        </div><!--//content-->
                        <div class="ribbon">
                            <div class="text">Popular</div>
                        </div><!--//ribbon-->
                    </div><!--//item-inner-->
                </div><!--//item-->

                <div class="item price-3 col-md-4 col-sm-4 col-xs-12 text-center">
                    <div class="item-inner">
                        <div class="heading">
                            <h3 class="title">企业版</h3>
                            <p class="price-figure">
                                <span class="phone-number hidden-xs hidden-sm hidden-md">400-659-1230</span>
                                <i class="fa fa-phone hidden-lg" style="font-size: 50px;line-height: 1.4;"></i><br />
                                <span class="unit">联系销售或页面留言</span></span>
                            </p>
                        </div>
                        <div class="content">
                            <ul class="list-unstyled feature-list">
                                <li>不限制 Agent 数量</li>
                                <li>数据存储 90 天</li>
                                <li>7 x 24 小时</li>
                                <li>电话 &amp; 邮件 &amp; 远程&amp; 现场</li>
                            </ul>
                            <a class="btn btn-cta btn-cta-primary" href="http://lxbjs.baidu.com/cb/url/show?f=55&id=9061">免费咨询</a>

                        </div><!--//content-->
                    </div><!--//item-inner-->
                </div><!--//item-->
            </div><!--//items-wrapper-->
        </div><!--//row-->
    </div><!--//container-->
</section><!--//pricing-->
<section class="agent-counting section">
    <div class="container">
        <h2 class="title text-center">Agent 计算</h2>
        <div class="row">
            <div class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1 col-xs-offset-0">
                <p>在不同语言中，Agent 计算方式不一样。一个 Agent 等于，在基数范围内的度量依据的个数。如：Java 中，一个 Agent 数量等于一个 JVM 数量。</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>语言</th>
                            <th>度量依据</th>
                            <th>基数</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Java</td>
                            <td>JVM</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>.NET</td>
                            <td>Windows OS</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>PHP</td>
                            <td>Web Server</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Node.js</td>
                            <td>Node.js Process</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>Python</td>
                            <td>Python Process</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>Ruby</td>
                            <td>Web Server</td>
                            <td>1</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <p class="text-center btn-part">
        <a href="javascript:;" class="btn btn-small btn-knowmore">查看功能对比</a>
        <span class="btn-span">or</span>
        <a href="https://user.oneapm.com/account/register.do" class="btn btn-small btn-sign">免费注册</a>
    </p>
</section>

    <!-- ***** Contrast Table Section***** -->
<section class="table-contrast section has-bg-color">
    <div class="container">
        <h2 class="title text-center">功能对比</h2>
        <p class="text-center" style="font-size: 16px;">新注册用户，免费试用专业版 15 天。标准版，永久免费。</p>
        <div class="row">
            <div class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1 col-xs-offset-0">
                <table class="table table-stable">
                    <thead>
                        <tr>
                            <th class="empty"></th>
                            <th>
                                <span class="th-title">标准版</span>
                            </th>
                            <th>
                                <span>专业版</span>
                            </th>
                            <th>
                                <span>企业版</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in apm_price %}
                        <tr>
                            {% if row.epr === "" %}
                                <td class="td-title">{{row.title}}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            {% else %}
                                <td>{{row.title}}</td>
                                {% if row.free %}
                                    <td><i class="fa fa-check"></i></td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                {% if row.pro %}
                                    <td><i class="fa fa-check"></i></td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                {% if row.epr %}
                                    <td><i class="fa fa-check"></i></td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<!-- ******FAQ Section****** -->
<section class="faq section has-bg-color">
    <div class="container">
        <h2 class="title text-center">常见问题</h2>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-md-5 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a data-parent="#accordion"
                        data-toggle="collapse" class="panel-toggle" href="#faq1"><i class="fa fa-plus-square"></i><p>如何收费？</p></a></h4>
                    </div>
                    <div class="panel-collapse collapse" id="faq1">
                        <div class="panel-body">
                            <p>标准版永久免费。</p>
                            <p>专业版按照 Agent 进行收费；Agent 是指插入至您的应用程序中的代理。不同语言的 Agent 度量方式不一样，请查看 Agent 计算。</p>
                            <p class="panel-small" >企业版的收费情况，请电话联系 OneAPM 销售人员：<span class="panel-totop">400-659-1230</span>。</p>
                        </div>
                    </div>
                </div><!--//panel-->
                <div class="panel">
                      <div class="panel-heading">
                          <h4 class="panel-title"><a data-parent="#accordion"
                          data-toggle="collapse" class="panel-toggle" href="#faq2"><i class="fa fa-plus-square"></i><p>是否可以进行试用？</p></a></h4>
                      </div>

                      <div class="panel-collapse collapse" id="faq2">
                          <div class="panel-body">
                               <p>新注册用户，都享有专业版功能免费试用 15 天的服务。</p>
                               <p>当专业版试用过期后，会自动转为相关产品的标准版；而标准版永久免费。</p>
                          </div>
                      </div>
                </div><!--//panel-->
                <div class="panel">
                      <div class="panel-heading">
                          <h4 class="panel-title"><a data-parent="#accordion"
                          data-toggle="collapse" class="panel-toggle" href="#faq3"><i class="fa fa-plus-square"></i><p>如何升级到企业版吗？</p></a></h4>
                      </div>

                      <div class="panel-collapse collapse" id="faq3">
                          <div class="panel-body">
                               <p>拨打销售专线：400-659-1230。</p>
                               <p>企业版提供软硬件一体化的购买模式，私人的数据中心，确保您的性能数据更加安全。</p>
                          </div>
                      </div>
                </div><!--//panel-->
            </div>
            <div class="col-lg-5 col-md-5 col-sm-10 col-xs-12 col-sm-offset-1 col-md-offset-0 col-lg-offset-0">
              <div class="panel">
                  <div class="panel-heading">
                      <h4 class="panel-title"><a data-parent="#accordion"
                      data-toggle="collapse" class="panel-toggle" href="#faq4"><i class="fa fa-plus-square"></i><p>是否存在优惠政策？</p></a></h4>
                  </div>
                  <div class="panel-collapse collapse" id="faq4">
                      <div class="panel-body">
                          <p>OneAPM 针对年付用户，会做一系列的优惠。具体事宜，请电话联系 OneAPM 销售人员：400-659-1230。</p>
                          <p>OneAPM 也会在不同季度，提供相应的优惠政策，请持续关注 OneAPM 相关邮件。</p>
                          <p>OneAPM 针对创业团队和合作伙伴，也会提供相应的优惠政策。</p>
                          <p class="panel-small">优惠政策的答疑，请电话联系 OneAPM 销售人员：<span class="panel-totop">400-659-1230</span>。</p>
                      </div>
                  </div>
              </div><!--//panel-->
              <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a data-parent="#accordion"
                        data-toggle="collapse" class="panel-toggle" href="#faq5"><i class="fa fa-plus-square"></i><p>专业版和企业版的差别在哪？</p></a></h4>
                    </div>

                    <div class="panel-collapse collapse" id="faq5">
                        <div class="panel-body">
                            <p>专业版和企业版在功能上的差别主要体现在：对传统类和大型企业的技术框架的支持，面向业务的性能监控，以及定制化的需求。</p>
                            <p>企业版的服务更好，支持 OneAPM 支持人员的到场服务：包括部署、特殊实施需求的满足、现场答疑等等。企业版还支持软硬件一体化的购买模式，私人的数据中心，确保您的性能数据更加安全。</p>
                            <p class="panel-small">企业版的购买和答疑，请电话联系 OneAPM 销售人员：<span class="panel-totop">400-659-1230</span>。</p>
                        </div>
                    </div>
              </div><!--//panel-->
              <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a data-parent="#accordion"
                        data-toggle="collapse" class="panel-toggle" href="#faq6"><i class="fa fa-plus-square"></i><p>其他问题？</p></a></h4>
                    </div>

                    <div class="panel-collapse collapse" id="faq6">
                        <div class="panel-body">
                          <p>所有有关的报价问题，可直接点击屏幕下方的「在线咨询」，联系 OneAPM 销售人员。或提交工单，等待销售人员的回执。</p>
                        </div>
                    </div>
              </div><!--//panel-->
            </div>
        </div>
        <!-- <div class="contact-lead text-center">
            <h4 class="title">还有其他问题？</h4>
            <a class="btn btn-cta btn-cta-secondary" href="contact.html">Get in touch</a>
        </div> -->
    </div><!--//container-->
</section><!--//faq-->


<!-- ******CTA Section****** -->
<section id="cta-section" class="section cta-section text-center pricing-cta-section extra-padding-more">
    <div class="container">
        <h2 class="title">超过 10 万全球开发者选择 OneAPM！</h2>
        <p class="intro">现在注册，即可免费试用专业版 15 天</p>
        <p>
            <a class="btn btn-large btn-sign-ye" href="https://user.oneapm.com/account/register.do" target="_blank">免费注册</a>
        </p>
    </div><!--//container-->
</section><!--//cta-section-->

{% endblock %}

{% block scripts %}

    {% parent %}
    <!-- build:js /scripts/apm-price.js -->
    <script type="text/javascript" src="/scripts/show-function.js"></script>
    <script type="text/javascript" src="/scripts/jquery.stickyheader.js"></script>
    <!-- endbuild -->
    {% if env == 'production' %}
    <script src="https://meiqia.com/js/mechat.js?unitid=6232" charset="UTF-8" async="async"></script>
    <script type="text/javascript">
    (function(){
      var inter = setInterval(function(){
        if(window.mechatMetadata){
          clearInterval(inter);
          window.mechatMetadata({
                  comment:window.location.href,
          });
        }
      },500);
    }());
    </script>
    {% endif %}
{% endblock %}
