<header id="ie-header" class="header">  
   <div class="container">       
       <span class="logo">
           <a href="/index.html">
               <span class="logo-icon"><i class="icon iconfont iconLogo">&#xe601;</i></span>
           </a>
       </span>
       <div class="main-nav navbar-right" role="navigation">
           <div id="navbar-collapse">
               <ul class="nav navbar-nav">
                   <li class="nav-item">
                       <a href="/ai/feature.html">
                         <span class="logo-ai" id="logo-ai">
                         	<i class="icon iconfont iconLogo">&#xe604;</i>
                         </span> 
                       </a>                    
                   </li>   
                   <li class="nav-item">
                       <a href="/bi/feature.html">
                           <span class="logo-bi" id="logo-bi">
                           		<i class="icon iconfont iconLogo">&#xe605;</i>
                           </span> 
                       </a>                          
                   </li>  
                   <li class="nav-item">
                       <a href="/mi/feature.html">
                           <span class="logo-mi" id="logo-mi">
                           		<i class="icon iconfont iconLogo">&#xe606;</i>
                           </span> 
                       </a>                            
                   </li>  
                   <li class="nav-item"><a href="/enterprise.html"><strong>企业版</strong></a></li>
                   <li class="nav-item"><a href="http://support.oneapm.com"><strong>帮助</strong> </a></li> 
                   <li class="nav-item">
                       <a href="/info/about.html"><strong>关于</strong></a>                           
                   </li>             
                   <li class="nav-item"><a href="https://user.oneapm.com/account/login.do"><strong>登录</strong></a></li>
                   <li class="nav-item nav-item-cta last"><a class="btn btn-cta btn-cta-secondary" href="https://user.oneapm.com/account/register.do">免费注册</a></li>
               </ul>
           </div>
       </div>                  
   </div>
</header>
<div class="explorer-list">
  <div class="oneapm-logo">
      <i class="icon iconfont iconLogo">&#xe601;</i>
  </div>
	<div class="explorer-remind">
      <p class="para1">OneAPM 目前只支持下列浏览器</p>
		  <p class="para2">点击下列图标前往下载，以获得更好的用户体验</p>
	</div>
	<div class="explorer-box">
		<a href="http://www.google.cn/intl/zh-CN/chrome/browser/desktop/index.html" target="_blank" class="explorer-link">
			<i class="iconfont">&#xe632;</i>
			<p class="explorer-title">Chrome</p>
		</a>
	</div>
	<div class="explorer-box">
		<a href="https://www.mozilla.org/zh-CN/firefox/new/" target="_blank" class="explorer-link">
			<i class="iconfont">&#xe633;</i>
			<p class="explorer-title">Firefox</p>
		</a>
	</div>
	<div class="explorer-box">
		<a href="http://ie.sogou.com/" target="_blank" class="explorer-link">
			<i class="iconfont">&#xe636;</i>
			<p class="explorer-title">搜狗浏览器</p>
		</a>
	</div>
	<div class="explorer-box">
		<a href="http://www.opera.com/zh-cn" target="_blank" class="explorer-link">
			<i class="iconfont">&#xe630;</i>
			<p class="explorer-title">Opera</p>
		</a>
	</div>
</div>
<div class="bottom-bar">
    <div class="container">
        <small class="copyright">Copyright @ 2015 © 2008-2015 北京蓝海讯通科技有限公司 京ICP备14028342号 京公网安备 11010802016192</small> 
        <span class="small lang-selector">
          <a href="http://oneapm.io/en.html">English</a> |
          <a href="http://oneapm.io/jp.html">日本語</a> |
          <a href="http://oneapm.io/kor.html">한국의</a> 
        </span>                
    </div>
</div>