<footer class="footer">
        <div class="footer-content">
            <div class="container">
                <div class="row">                    
                    <div class="footer-col links col-md-2 col-sm-2 col-xs-6">
                        <div class="footer-col-inner">
                            <h3 class="title">Application Insight</h3>
                            <ul class="list-unstyled">
                                <li><a href="#">特性</a></li>
                                <li><a href="#">报价</a></li>
                                <li><a href="#">Java</a></li>
                                <li><a href="#">.NET</a></li>
                                <li><a href="#">Python</a></li>
                                <li><a href="#">Node.js</a></li>
                                <li><a href="#">PHP</a></li>
                                <li><a href="#">Ruby</a></li>
                            </ul>
                        </div><!--//footer-col-inner-->
                    </div><!--//foooter-col-->    
                    <div class="footer-col links col-md-2 col-sm-2 col-xs-6">
                        <div class="footer-col-inner">
                            <h3 class="title">Broswer Insight</h3>
                            <ul class="list-unstyled">
                                <li><a href="#">特性</a></li>
                                <li><a href="#">报价</a></li>
                           </ul>
                        </div><!--//footer-col-inner-->
                    </div><!--//foooter-col-->    
                    <div class="footer-col links col-md-2 col-sm-2 col-xs-6">
                        <div class="footer-col-inner">
                            <h3 class="title">Mobile Insight</h3>
                            <ul class="list-unstyled">
                                <li><a href="#">特性</a></li>
                                <li><a href="#">报价</a></li>
                                <li><a href="#">iOS</a></li>
                                <li><a href="#">Android</a></li>
                           </ul>
                        </div><!--//footer-col-inner-->
                    </div><!--//foooter-col-->                  
                    <div class="footer-col links col-md-2 col-sm-2 col-xs-6 sm-break">
                        <div class="footer-col-inner">
                            <h3 class="title">帮助</h3>
                            <ul class="list-unstyled">
                                <li><a href="#">知识库</a></li>
                                <li><a href="#">提交工单</a></li>
                                <li><a href="#">我的工单</a></li>
                            </ul>
                        </div><!--//footer-col-inner-->            
                    </div><!--//foooter-col-->   
                    <div class="footer-col links col-md-2 col-sm-2 col-xs-6 sm-break">
                         <div class="footer-col-inner"> 
                            <h3 class="title">关于</h3>
                            <ul class="list-unstyled">
                                <li><a href="#">蓝海讯通</a></li>
                                <li><a href="#">加入我们</a></li>
                                <li><a href="#">客户关系</a></li>
                                <!-- <li><a href="#">合作伙伴</a></li> -->
                                <li><a href="#">博客</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-col connect col-md-2 col-sm-2 col-xs-12">
                        <div class="footer-col-inner">                            
                            <h3 class="title">联系我们</h3>                          
                            <p class="adr clearfix">
                                <i class="fa fa-map-marker pull-left"></i>        
                                <span class="street-address"> 北京市海淀区西小口66号东升科技园A区5号楼3层/4层</span>
                            </p>
                            <p class="tel"><i class="fa fa-phone"></i> 400-0669-109</p>
                            <p class="email"><i class="fa fa-envelope-o"></i><a href="mailto:support@oneapm.com"> support@oneapm.com</a></p> 
                            <ul class="social list-inline">
                                <li>
                                    <a href="javascript:;">
                                        <i class="iconfont icon-connect icon-wechat">&#xe60d;</i>
                                        <div class="qrcode">
                                            <img src="/images/qrcode.png">
                                        </div>
                                    </a>
                                </li>
                                <li><a href="http://weibo.com/u/5235998232" target="_blank"><i class="iconfont icon-connect">&#xe60c;</i></a></li>
                            </ul>
                            <div class="form-container">
                                <p class="intro">关注 OneAPM 最新资讯</p>
                            </div>
                        </div><!--//footer-col-inner-->
                    </div>
                </div>
                <div class="row">
                    <div class="footer-col connect col-md-8 col-sm-8 col-xs-12">
                        <div class="footer-col-inner">
                            
                        </div><!--//footer-col-inner-->
                    </div><!--//foooter-col-->
                    
                    
                    <div class="clearfix"></div> 
                </div><!--//row-->
                <div class="row has-divider"></div>
            </div><!--//container-->
        </div><!--//footer-content-->
        
        <div class="bottom-bar">
            <div class="container">
                <small class="copyright">Copyright @ 2015 © 2008-2015 北京蓝海讯通科技有限公司 京ICP备14028342号 京公网安备 11010802016192</small>                
            </div><!--//container-->
        </div><!--//bottom-bar-->
    </footer><!--//footer-->