<footer class="footer">
        <div class="footer-content">
            <div class="container">
                <div class="row">                    
                    <div class="footer-col links col-md-2 col-sm-4 col-xs-12">
                        <div class="footer-col-inner">
                            <h3 class="title">产品</h3>
                            <ul class="list-unstyled">
                                <li><a href="#">Application Insight</a></li>
                                <li><a href="#">Broswer Insight</a></li>
                                <li><a href="#">Mobile Insight</a></li>
                                <!-- <li><a href="#">企业版</a></li> -->
                                <!-- <li><a href="#">客户端</a></li> -->
                            </ul>
                        </div><!--//footer-col-inner-->
                    </div><!--//foooter-col-->    
                    <div class="footer-col links col-md-2 col-sm-4 col-xs-12">
                        <div class="footer-col-inner">
                            <h3 class="title">平台</h3>
                            <ul class="list-unstyled">
                                <li><a href="#">Java 监控</a></li>
                                <li><a href="#">.NET 监控</a></li>
                                <li><a href="#">Python 监控</a></li>
                                <li><a href="#">Ruby 监控</a></li>
                                <li><a href="#">Node.js 监控</a></li>
                                <li><a href="#">PHP 监控</a></li>
                                <li><a href="#">IOS 监控</a></li>
                                <li><a href="#">Android 监控</a></li>
                           </ul>
                        </div><!--//footer-col-inner-->
                    </div><!--//foooter-col-->              
                    <div class="footer-col links col-md-2 col-sm-4 col-xs-12 sm-break">
                        <div class="footer-col-inner">
                            <h3 class="title">帮助</h3>
                            <ul class="list-unstyled">
                                <li><a href="#">知识库</a></li>
                                <li><a href="#">提交工单</a></li>
                                <li><a href="#">我的工单</a></li>
                            </ul>
                        </div><!--//footer-col-inner-->            
                    </div><!--//foooter-col-->   
                    <div class="footer-col links col-md-2 col-sm-4 col-xs-12 sm-break">
                         <div class="footer-col-inner"> 
                            <h3 class="title">关于</h3>
                            <ul class="list-unstyled">
                                <li><a href="#">蓝海讯通</a></li>
                                <li><a href="#">加入我们</a></li>
                                <li><a href="#">客户关系</a></li>
                                <li><a href="#">合作伙伴</a></li>
                                <li><a href="#">博客</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-col connect col-md-4 col-sm-12 col-xs-12">
                        <div class="footer-col-inner">
                            <ul class="social list-inline">
                                <li><a href="https://twitter.com/3rdwave_themes" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                            <div class="form-container">
                                <p class="intro">保持联系，以获取最新信息及版本。</p>
                            </div>
                        </div><!--//footer-col-inner-->
                        <div class="footer-col-inner">
                            <h3 class="title">Contact us</h3>                          
                            <p class="adr clearfix">
                                <i class="fa fa-map-marker pull-left"></i>        
                                <span class="adr-group pull-left">       
                                    <span class="street-address"> College Green</span><br>
                                    <span class="region"> 56 College Green Road</span><br>
                                    <span class="postal-code"> BS1 XR18</span><br>
                                    <span class="country-name"> UK</span>
                                </span>
                            </p>
                            <p class="tel"><i class="fa fa-phone"></i> 0800 123 4567</p>
                            <p class="email"><i class="fa fa-envelope-o"></i><a href="#"> enquires@website.com</a></p> 
                        </div><!--//footer-col-inner-->
                    </div><!--//foooter-col-->
                    <div class="clearfix"></div> 
                </div><!--//row-->
                <div class="row has-divider"></div>
            </div><!--//container-->
        </div><!--//footer-content-->
        
        <div class="bottom-bar">
            <div class="container">
                <small class="copyright">Copyright @ 2015 © 2008-2015 北京蓝海讯通科技有限公司 京ICP备14028342号 京公网安备 11010802016192</small>                
            </div><!--//container-->
        </div><!--//bottom-bar-->
    </footer><!--//footer-->