<footer class="footer etp-footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">                    
                <div class="footer-col links col-md-2 col-sm-2 col-xs-6" style="margin-bottom:25px;">
                    <div class="footer-col-inner">
                        <h3 class="title">Application Insight</h3>
                        <ul class="list-unstyled">
                            <li><a href="/ai/feature.html">特性</a></li>
                            <li><a href="/ai/price.html">报价</a></li>
                            <li><a href="/ai/java.html">Java</a></li>
                            <li><a href="/ai/dotnet.html">.NET</a></li>
                            <li><a href="/ai/python.html">Python</a></li>
                            <li><a href="/ai/nodejs.html">Node.js</a></li>
                            <li><a href="/ai/php.html">PHP</a></li>
                            <li><a href="/ai/ruby.html">Ruby</a></li>
                        </ul>
                    </div><!--//footer-col-inner-->
                </div><!--//foooter-col-->    
                <div class="footer-col links col-md-2 col-sm-2 col-xs-6">
                    <div class="footer-col-inner">
                        <h3 class="title">Browser Insight</h3>
                        <ul class="list-unstyled">
                            <li><a href="/bi/feature.html">特性</a></li>
                            <li><a href="/bi/price.html">报价</a></li>
                       </ul>
                    </div><!--//footer-col-inner-->
                </div><!--//foooter-col-->    
                <div class="footer-col links col-md-2 col-sm-2 col-xs-6">
                    <div class="footer-col-inner">
                        <h3 class="title">Mobile Insight</h3>
                        <ul class="list-unstyled">
                            <li><a href="/mi/feature.html">特性</a></li>
                            <li><a href="/mi/price.html">报价</a></li>
                            <li><a href="/mi/ios.html">iOS</a></li>
                            <li><a href="/mi/android.html">Android</a></li>
                       </ul>
                    </div><!--//footer-col-inner-->
                </div><!--//foooter-col-->    
                <div class="footer-col links col-md-2 col-sm-2 col-xs-6">
                    <div class="footer-col-inner">
                       <h3 class="title">企业版</h3>
                       <ul class="list-unstyled">
                            <li><a href="/enterprise.html">企业版介绍</a></li>
                       </ul>
                    </div><!--//footer-col-inner-->
                </div><!--//foooter-col-->             
                <div class="footer-col links col-md-2 col-sm-2 col-xs-6 sm-break">
                    <div class="footer-col-inner">
                        
                        <h3 class="title">帮助</h3>
                        <ul class="list-unstyled">
                            <li><a href="http://oneapm.udesk.cn/hc">知识库</a></li>
                            <li><a href="http://oneapm.udesk.cn/hc/submit_a_request">提交工单</a></li>
                            <li><a href="http://oneapm.udesk.cn/tickets">我的工单</a></li>
                        </ul>
                    </div><!--//footer-col-inner-->            
                </div><!--//foooter-col-->   
                <div class="footer-col links col-md-2 col-sm-2 col-xs-6 sm-break">
                     <div class="footer-col-inner"> 
                        <h3 class="title">关于</h3>
                        <ul class="list-unstyled">
                            <li><a href="/info/about.html">蓝海讯通</a></li>
                            <li><a href="/info/jobs.html">加入我们</a></li>
                            <li><a href="/info/customers.html">客户关系</a></li>
                            <!-- <li><a href="#">合作伙伴</a></li> -->
                            <li><a href="http://oneapm.github.io/" target="_blank">博客</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="footer-col connect col-lg-4 col-md-5 col-sm-6 col-xs-6">
                    <div class="footer-col-inner">                            
                        <h3 class="title">联系我们</h3>                          
                        <p class="adr clearfix">
                            <i class="fa fa-map-marker pull-left"></i>        
                            <span class="street-address"> 北京市海淀区西小口66号东升科技园A区5号楼3层/4层</span>
                        </p>
                        <!-- <p class="tel"><i class="fa fa-phone"></i> 销售咨询 400-659-1230<br/>技术咨询 400-622-3101</p> -->
                        <p class="email"><i class="fa fa-envelope-o"></i><a href="mailto:support@oneapm.com" class="email-addr"> support@oneapm.com</a></p> 
                        
                    </div><!--//footer-col-inner-->
                </div>
                <div class="footer-col connect col-lg-4 col-md-4 col-sm-4 col-xs-6">
                    <div class="footer-col-inner">                                             
                        <ul class="social list-inline">
                            <li>
                                <a href="javascript:;">
                                    <i class="iconfont icon-connect icon-wechat">&#xe60d;</i>
                                    <div class="qrcode">
                                        <img src="/images/qrcode.png">
                                    </div>
                                </a>
                            </li>
                            <li><a href="http://weibo.com/u/5235998232" target="_blank"><i class="iconfont icon-connect">&#xe60c;</i></a></li>
                        </ul>
                        <div class="form-container">
                            <p class="intro">关注 OneAPM 最新资讯</p>
                        </div>
                    </div><!--//footer-col-inner-->
                </div>
                <div class="clearfix"></div> 
            </div>
            <div class="row has-divider"></div>
        </div><!--//container-->
    </div><!--//footer-content-->
    
    <div class="bottom-bar">
        <div class="container">
            <span class="small lang-selector">
              <a href="http://oneapm.io/en.html">English</a> |
              <a href="http://oneapm.io/jp.html">日本語</a> |
              <a href="http://oneapm.io/kor.html">한국의</a> 
            </span> 
            <small class="copyright">Copyright @ 2015 © 2008-2015 北京蓝海讯通科技有限公司 京ICP备14028342号 京公网安备 11010802016192</small> 
                        
        </div><!--//container-->
    </div><!--//bottom-bar-->
</footer><!--//footer-->