
 <header id="header" class="header">  
          <div class="container">       
              <h1 class="logo">
                  <a href="index.html">
                      <span class="logo-icon"><i class="icon iconfont iconLogo">&#xe601;</i></span>
                  </a>
              </h1><!--//logo-->
              <nav class="main-nav navbar-right" role="navigation">
                  <div class="navbar-header">
                      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </button><!--//nav-toggle-->
                  </div><!--//navbar-header-->
                  <div id="navbar-collapse" class="navbar-collapse collapse">
                      <ul class="nav navbar-nav">
                          <li class="nav-item dropdown">
                              <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">APM <i class="fa fa-angle-down"></i></a>
                              <ul class="dropdown-menu">
                                  <li><a href="download.html">特性</a></li>
                                  <li class="active"><a href="APM-price.html">报价</a></li>
                                  <li><a href="blog-single.html">Java</a></li>
                                  <li><a href="blog-category.html">.NET</a></li>
                                  <li><a href="blog-archive.html">Python</a></li>
                                  <li><a href="about.html">Node.js</a></li>
                                  <li><a href="contact.html">PHP</a></li>                   
                                  <li><a href="contact.html">Ruby</a></li>                   
                              </ul>                            
                          </li>     
                          <li class="nav-item dropdown">
                              <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">BROSWER <i class="fa fa-angle-down"></i></a>
                              <ul class="dropdown-menu">
                                  <li><a href="download.html">特性</a></li>
                                  <li><a href="blog.html">报价</a></li>
                              </ul>                            
                          </li>  
                          <li class="nav-item dropdown">
                              <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">MOBILE <i class="fa fa-angle-down"></i></a>
                              <ul class="dropdown-menu">
                                  <li><a href="download.html">特性</a></li>
                                  <li><a href="blog.html">报价</a></li>
                                  <li><a href="blog-single.html">iOS</a></li>
                                  <li><a href="blog-category.html">Android</a></li>
                                  <li><a href="blog-archive.html">客户端</a></li>
                              </ul>                            
                          </li>  
                          <li class="nav-item"><a href="pricing.html">企业版</a></li>
                          <li class="nav-item"><a href="features.html">帮助</a></li> 
                          <li class="nav-item dropdown">
                              <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">关于 <i class="fa fa-angle-down"></i></a>
                              <ul class="dropdown-menu">
                                  <li><a href="download.html">公司</a></li>
                                  <li><a href="blog.html">职位</a></li>
                                  <li><a href="blog-single.html">客户</a></li>
                                  <li><a href="blog-category.html">伙伴</a></li>
                              </ul>                            
                          </li>             
                          <li class="nav-item"><a href="login.html">登录</a></li>
                          <li class="nav-item nav-item-cta last"><a class="btn btn-cta btn-cta-secondary" href="signup.html">免费注册</a></li>
                      </ul><!--//nav-->
                  </div><!--//navabr-collapse-->
              </nav><!--//main-nav-->                     
          </div><!--//container-->
       </header><!--//header-->
       <div class="headline-bg pricing-headline-bg">
      </div><!--//headline-bg-->
