
 <header id="header" class="header">  
    <div class="container">       
        <h1 class="logo">
            <a href="/index.html">
                <span class="logo-icon"><i class="icon iconfont iconLogo">&#xe601;</i></span>
            </a>
        </h1><!--//logo-->
        <nav class="main-nav navbar-right" role="navigation">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button><!--//nav-toggle-->
            </div><!--//navbar-header-->
            <div id="navbar-collapse" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" data-delay="0" data-close-others="false" href="/apm/features.html" style="padding-top:14px">
                          <i class="iconfont icon-nav">&#xe604;</i> 
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/apm/feature.html">特性</a></li>
                            <li class="active"><a href="/apm/price.html">报价</a></li>
                            <li><a href="/apm/java.html">Java</a></li>
                            <li><a href="/apm/dotnet.html">.NET</a></li>
                            <li><a href="/apm/python.html">Python</a></li>
                            <li><a href="/apm/nodejs.html">Node.js</a></li>
                            <li><a href="/apm/php.html">PHP</a></li>                   
                            <li><a href="/apm/ruby.html">Ruby</a></li>                   
                        </ul>                            
                    </li>     
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" data-delay="0" data-close-others="false" href="/broswer/features.html" style="padding-top:14px">
                          <i class="iconfont icon-nav">&#xe605;</i> 
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/broswer/feature.html">特性</a></li>
                            <li><a href="/broswer/price.html">报价</a></li>
                        </ul>                            
                    </li>  
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" data-delay="0" data-close-others="false" href="/mobile/features.html" style="padding-top:14px">
                          <i class="iconfont icon-nav">&#xe606;</i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/mobile/feature.html">特性</a></li>
                            <li><a href="/mobile/price.html">报价</a></li>
                            <li><a href="/mobile/ios.html">iOS</a></li>
                            <li><a href="/mobile/android.html">Android</a></li>
                            <!-- <li><a href="/mobile/client.html">客户端</a></li> -->
                        </ul>                            
                    </li>  
                    <!-- <li class="nav-item"><a href="/EE.html">企业版</a></li> -->
                    <li class="nav-item"><a href="http://support.oneapm.com"><strong>帮助</strong> </a></li> 
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" data-delay="0" data-close-others="false" href="/about/company.html"><strong>关于</strong></a>
                        <ul class="dropdown-menu">
                            <li><a href="/about/about.html">公司</a></li>
                            <li><a href="/about/jobs.html">职位</a></li>
                            <li><a href="/about/customers.html">客户</a></li>
                            <!-- <li><a href="/about/partner.html">伙伴</a></li> -->
                        </ul>                            
                    </li>             
                    <li class="nav-item"><a href="https://user.oneapm.com/account/login.do"><strong>登录</strong></a></li>
                    <li class="nav-item nav-item-cta last"><a class="btn btn-cta btn-cta-secondary" href="https://user.oneapm.com/account/register.do">免费注册</a></li>
                </ul><!--//nav-->
            </div><!--//navabr-collapse-->
        </nav><!--//main-nav-->                     
    </div><!--//container-->
 </header><!--//header-->
