{% extends '../base/_layout.html' %}

{% block content %}
<div class="headline-bg mi-headline-bg">
	<canvas id="waves" class="waves"></canvas>
</div><!-- headline-bg -->
<section class="features-video section section-on-bg lang-header">
    <div class="container">
    	<div class="row">
    		<div class="col-lg-5 col-md-6 col-sm-6 col-xs-12 col-lg-offset-0 col-md-offset-0 col-sm-offset-0">
    			<img src="/images/lang/android.svg" alt="" class="lang-title">
				<p>
					实时性能数据，健全的适配性，只在 OneAPM !
					用户的所有交互，每一次会话，甚至是划屏解锁，OneAPM 都能实时监控其性能表现。而这一切，都是为了确保你的 Android App 能够给予用户最棒的性能体验。
				</p>
    		</div>
    		<div class="col-lg-5 col-lg-offset-2 col-md-5 col-sm-5">
    			<img src="/images/lang/logo_android.svg" class="lang-logo" alt="">
    		</div>
    	</div>
    </div>
</section>

<div class="sections-wrapper">
    <!-- ******Why Section****** -->
    <section class="section why">
    	<div class="container">
    		<div class="row">
	        	<div class="lang-content mi col-md-8 col-sm-8 col-xs-12">
	        		<div class="row item" style="padding-top:40px;">
	        			<div class="col-md-12 col-sm-12 col-xs-12">
		                    <h3 class="title">全面优化 Android App 性能</h3>
		                    <div class="row desc">
		                        <div class="col-md-12 col-sm-12 col-xs-12">
		                        	<p>用户的所有交互，每一次会话，甚至是划屏解锁，OneAPM 都能实时监控其性能表现。而这一切，都是为了确保你的 Android App 能够给予用户最棒的性能体验。</p>
		                        	<p>OneAPM 详悉 Android Apps 性能信息，协助你快速定位性能瓶颈，旨在帮助你创造最伟大的 Android App。</p>
		                        	<ul class="ul-indep">
		                        		<li class="first-li">追踪响应时间，优化产品性能</li>
										<li>详悉错误信息，轻松定位根源问题</li>
										<li>建立业务和性能的联系，方便感知业务增幅</li>
										<li>以单个设备为单位度量应用性能</li>
		                        		<li>以数据库、CPU、内存性能度量设备性能表现 (in Beta)</li>
										<li>端到端的交互甘特图，给予各个事件的性能可见性 (in Beta)</li>
										<li>不同事件的性能区隔，方便快速定位性能优化点</li>
										<li>识别设备类型（手机/平板、操作系统版本），分类设备性能</li>
										<li>OneAPM Android SDK* 3 分钟快速部署，应用性能管理从未如此简单</li>
			                        </ul>
		                        	<p>快速捕捉性能表现差的应用代码，发现错误并随时向你发送警报，这一切只需下载并安装 OneAPM Android SDK，然后更新你的应用。OneAPM 保证这一切只需 3 分钟！</p>
		                        	<p class="note">*目前 OneAPM Android SDK 支持 3 种 IDE：Eclipse、Ant、Gradle，随后会支持 Maven 等等。</p>
		                        </div>
		                    </div>
		                </div>
	        		</div>
	        		<div class="row item last-item" >
	        			<div class="col-md-12 col-sm-12 col-xs-12">
	        				<h3 class="title">如何安装 OneAPM ？</h3>
	        				<div class="row">
	        					<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
	        						<div class="video-wrapper">
	        							<h4 class="frame-title">Android SDK in Ant 安装方法</h4>
	        							<p class="play-btn">
	        							    <a href="javascript:;" class="play-trigger btn-link">
	        							        <i class="iconfont icon-play">&#xe60b;</i>
	        							    </a>
	        							</p>
	        							<video poster="/images/mi/Android-SDK-Ant.png">
	        								<source src="http://7othr3.com1.z0.glb.clouddn.com/android-sdk-install-ant.v0.2.mp4" type="video/mp4" />
	        							</video>
	        						</div>
	        					</div>
	        					<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
	        						<div class="video-wrapper">
	        							<h4 class="frame-title">Android SDK in Eclipse 安装方法</h4>
	        							<p class="play-btn">
	        							    <a href="javascript:;" class="play-trigger btn-link">
	        							        <i class="iconfont icon-play">&#xe60b;</i>
	        							    </a>
	        							</p>
	        							<video poster="/images/mi/Android-SDK-Eclipse.png">
	        								<source src="http://7othr3.com1.z0.glb.clouddn.com/android-sdk-install-eclipse.v0.2.mp4" type="video/mp4" />
	        							</video>
	        						</div>
	        					</div>
	        					<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
	        						<div class="video-wrapper">
	        							<h4 class="frame-title">Android SDK in Gradle 安装方法</h4>
	        							<p class="play-btn">
	        							    <a href="javascript:;" class="play-trigger btn-link">
	        							        <i class="iconfont icon-play">&#xe60b;</i>
	        							    </a>
	        							</p>
	        							<video poster="/images/mi/Android-SDK-Gradle.png">
	        								<source src="http://7othr3.com1.z0.glb.clouddn.com/android-sdk-install-gradle.v0.2.mp4" type="video/mp4" />
	        							</video>
	        						</div>
	        					</div>
	        				</div>
	        			</div>
	        		</div>
	        	</div>
	        	<div class="content col-md-3 col-sm-3 col-xs-10 col-md-offset-0 col-sm-offset-0 col-xs-offset-1">
    				<h4 class="frame-title">关键优势</h4>
	        		<div class="key-advan mi">
	        			<ul>
							<li>交互甘特图</li>
							<li>Web Service 监控</li>
							<li>API Calls 监控</li>
							<li>错误信息抓取和分析</li>
							<li>设备级别的深度监控</li>
							<li>自定义 Metrics</li>
							<li>操作系统 &amp; 设备类型分析</li>
							<li>版本性能分析</li>
							<li>报警机制</li>
							<li>地理信息抓取和分析</li>
						</ul>
	        		</div>
	        	</div>
	        </div>
    	</div>
 
    </section><!--//why-->
	<!-- ******CTA Section****** -->
	<section class="section cta-section text-center pricing-cta-section extra-padding">
		<div class="wavesWapper" style="margin-top: 3%;">
			<canvas id="waves2" class="waves"></canvas>
		</div>
	    <div class="container">
	        <div class="row">
	        	<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0">
	        		<h2 class="title">一个为程序员而生的产品<br>一次改变开发习惯的机遇</h2>
	            </div>
	            <div class="col-md-6 col-sm-6 col-xs-12">
	            	<p><a class="btn btn-large btn-sign-ye" href="https://user.oneapm.com/account/register.do" target="_blank">免费注册</a></p>
	                <p><a href="/mi/price.html"><span class="cta-link">查看 Mi 完整报价 ></span></a></p>
	            </div>
	        </div>
	       
	    </div><!--//container-->
	</section><!--//cta-section-->

</div><!--//section-wrapper-->

{% endblock %}

{% block scripts %}
    {% parent %}
    <!-- build:js /scripts/mobile-android.js -->
    <script type="text/javascript" src="/scripts/sine-waves.js"></script>
    <script type="text/javascript" src="/scripts/sine-waves-action-header-2.js"></script>
    <script type="text/javascript" src="/scripts/sine-waves-action-sine.js"></script>
    <!-- endbuild -->
{% endblock %}
