{% extends '../base/_layout.html' %}


{% block content %}

  <div id="container">
    <div id="output"></div>
  </div>

  <section class="features-video section section-on-bg mobile-download">
    <div class="container">
      <div class="row hidden-xs">
        <div class="col-lg-4 col-md-5 col-sm-6 col-lg-offset-2 col-md-offset-1">
          <div class="text-feature-container">
            <h2 class="downloadTitle">随时，随地<br/>OneAPM 一下</h2>
            <h3 class="list-title">版本更新：</h3>
            <ul class="new-list">
              v 0.0.2
              <li>新增报警推送功能</li>
              <li>新增关键事务查看</li>
              <li>新增事务的查看</li>
              <li>新增错误信息的查看</li>
              <li>新增错误信息的分享</li>
            </ul>
            <a class="btn btn-android-download" href="http://oneapm.com/downloads-java.html" target="_blank">
              <i class="iconfont icon-download">&#xe638;</i> | 下载安卓版 APK
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-6">
          <figure class="figure android_phone_figure">
            <img src="/images/mobile-imgs/android_phone.png" class="img-responsive android_phone" alt="下载安卓版APK">
            <div class="inner_code">
              <img src="/images/mobile-imgs/code.png" class="img-responsive android_phone_code" alt="下载安卓版APK">
              <p >扫码下载安卓版 APK</p>
            </div>
          </figure>
        </div>
      </div>
      <div class="hidden-sm hidden-md hidden-lg">
        <figure class="figure android_phone_figure" style="text-align:center;">
          <img src="/images/mobile-imgs/android_phone.png" class="img-responsive android_phone" alt="下载安卓版APK">
          <div class="inner_code">
              <h2 class="downloadTitle">随时，随地<br/>OneAPM 一下</h2>
              <h3 class="list-title">版本更新：</h3>
              <ul class="new-list">
                v 0.0.2
                <li>新增报警推送功能</li>
                <li>新增关键事务查看</li>
                <li>新增事务的查看</li>
                <li>新增错误信息的查看</li>
                <li>新增错误信息的分享</li>
              </ul>
              <a class="btn btn-android-download" href="http://oneapm.com/downloads-java.html" target="_blank"><i class="iconfont icon-download">&#xe638;</i>| 下载安卓版 APK</a>
          </div>
        </figure>
      </div>
    </div>
  </section>

{% endblock %}

{% block scripts %}

    {% parent %}
    <!-- build:js /scripts/mobile-download.js -->
    <script type="text/javascript" src="/scripts/show-function.js"></script>
    <script type="text/javascript" src="/scripts/jquery.stickyheader.js"></script>
    <script type="text/javascript" src="/scripts/fss.min.js"></script>
    <script type="text/javascript" src="/scripts/fss_action.js"></script>
    <!-- endbuild -->
    {% if env == 'production' %}
    <script src="https://meiqia.com/js/mechat.js?unitid=6232" charset="UTF-8" async="async"></script>
    <script type="text/javascript">
    (function(){
      var inter = setInterval(function(){
        if(window.mechatMetadata){
          clearInterval(inter);
          window.mechatMetadata({
                  comment:window.location.href,
          });
        }
      },500);
    }());
    </script>
    {% endif %}
{% endblock %}
