{% extends '../base/_layout.html' %}

{% block content %}
<div class="headline-bg mi-headline-bg wavesWapper">
	<canvas id="waves" class="waves"></canvas>
</div><!-- headline-bg -->
<section class="features-video section section-on-bg feature-mi">
	<div class="container"> 
        <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12 col-md-offset-1 col-md-offset-0 col-sm-offset-0">
                <img class="milogo" src="/images/mi/milogo.svg">
                <p class="intro hidden-xs">以用户真实使用感受为度量标准，<br>检测每次崩溃的发生；协助您监控移动应用性能</p>
                <p class="more">
                   <a class="play-trigger btn-link" data-toggle="modal" data-target="#modal-video" id="video-btn" data-source="#mi-video"><i class="fa fa-youtube-play"></i> 观看 Mi 介绍影片</a>
                   <a href="https://user.oneapm.com/account/demo.do" class="hidden-xs" target="_blank">查看 DEMO</a>
                </p>
            </div>
            <img class="mi-headline-img" src="/images/mi/mi.png">
        </div>         
    </div>
</section>

<!-- ******3 features Section****** --> 
<section class="section steps">
    <div class="container">
        <div class="row">
             <div class="text-center col-lg-3 col-md-3 col-sm-3 col-xs-6">
             	 <span class="icon"><img src="/images/mi/free.svg"></span>
                 <h3 class="title"><span class="text">永久免费</span></h3>
                 <p class="intro-text">专业版免费试用 15 天，<br class="hidden-md hidden-sm hidden-xxs"/>标准版永久免费使用.</p>
             </div>
             <div class="text-center col-lg-3 col-md-3 col-sm-3 col-xs-6">
             	<span class="icon"><img src="/images/mi/unchange.svg"></span>
                 <h3 class="title"><span class="text">无需代码改动</span></h3>
                 <p class="intro-text">3 分钟极速部署，<br class="hidden-md hidden-sm"/>安装过程无需代码改动。</p>
             </div>
             <div class="text-center col-lg-3 col-md-3 col-sm-3 col-xs-6">
             	<span class="icon"><img src="/images/mi/euse.svg"></span>
                 <h3 class="title"><span class="text">简单易用</span></h3>
                 <p class="intro-text">无需额外的学习时间，<br class="hidden-md hidden-sm hidden-xxs"/>贴心周到的技术支持。</p>
             </div>
             <div class="text-center col-lg-3 col-md-3 col-sm-3 col-xs-6">
             	<span class="icon"><img src="/images/mi/platform.svg"></span>
                 <h3 class="title"><span class="text">全平台支持</span></h3>
                 <p class="intro-text">iOS Android 双平台<br class="hidden-md hidden-sm hidden-xxs"/>支持最新 Android 框架 Gradle 等。</p>
             </div>
             <div class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
             	<div class="line"></div>
             </div>
        </div>
    </div>        
</section><!--//3 features-->

<!-- ********* pic-tabs Section *********** -->
<section class="section mi-tab">
	<div class="container">
		<div class="row">
			<div class="figure col-lg-8 col-md-8 col-sm-10 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-1 col-xs-offset-0">
				<h3 class="title text-center">以真实用户使用感受为度量标准</h3>
				<p class="intro text-center">Xcode 中的 profiling 工具，虽说可以查看应用的资源消耗情况；<br class="hidden-lg hidden-xxs"/>但是，用户在使用 App 时的响应时间，应用在不同设备的崩溃次数，这些数据都可借助 OneAPM 来获取。</p>
			</div>
		</div>
		
		<div class="row">
			<figure class="figure col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
				<ul class="nav nav-tabs text-center" role="tablist">
					<li class="active feature-img">
						<a href="#feature-1" role="tab" data-toggle="tab" class="img-title" style="border-right: 1px solid #999 !important;">
						    <span>设备类型</span>
						</a>
					</li>
					<li class="feature-img">
						<a href="#feature-2" role="tab" data-toggle="tab" class="img-title" style="border-right: 1px solid #999 !important;">
						    <span>操作系统</span>
						</a>
					</li>
					<li class="feature-img">
						<a href="#feature-3" role="tab" data-toggle="tab" class="img-title" style="border-right: 1px solid #999 !important;">
						    <span>地理位置</span>
						</a>
					</li>
					<li class="feature-img">
						<a href="#feature-4" role="tab" data-toggle="tab" class="img-title" style="border-right: 1px solid #999 !important;">
						    <span>运营商</span>
						</a>
					</li>
					<li class="feature-img">
						<a href="#feature-5" role="tab" data-toggle="tab" class="img-title">
						    <span>App 版本</span>
						</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane fade in active" id="feature-1">
					    <figure class="figure text-center">
					        <img class="img-responsive" src="/images/mi/device_type.png" alt="设备类型" />
					    </figure>
					</div><!--//tab-pane-->
					<div class="tab-pane" id="feature-2">
					    <figure class="figure text-center">
					        <img class="img-responsive" src="/images/mi/os.png" alt="操作系统" />
					    </figure>
					</div><!--//tab-pane-->
					<div class="tab-pane" id="feature-3">
					    <figure class="figure text-center">
					        <img class="img-responsive" src="/images/mi/geo.png" alt="地理位置" />
					    </figure>
					</div><!--//tab-pane-->
					<div class="tab-pane" id="feature-4">
					    <figure class="figure text-center">
					        <img class="img-responsive" src="/images/mi/oo.png" alt="运营商" />
					    </figure>
					</div><!--//tab-pane-->
					<div class="tab-pane" id="feature-5">
					    <figure class="figure text-center">
					        <img class="img-responsive" src="/images/mi/AppV.png" alt="应用版本" />
					    </figure>
					</div><!--//tab-pane-->
				</div>
			</figure>
		</div>
		<p class="sign-up text-center">
	        <span>现在，Mi 专业版 15 天免费试用！<br/></span> 
	        <a href="https://user.oneapm.com/account/register.do" class="btn small btn-sign">马上注册</a>
	    </p>
	</div>
</section>

<!-- ******** crash analysis Section ********* -->
<section class="section crash-analysis">
	<div class="wavesWapper" style="margin-top: -80px;">
		<canvas id="sawtooth" class="waves"></canvas>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-5 col-sm-10 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
				<h3 class="title">
					<span>Crash 分析</span>
				</h3>
				<p>识别崩溃是否发生，采集崩溃相关信息，是 Crash 分析的基本功能。而对 Crash 进行统计分析，才是我们的特色。<br class="hidden-sm hidden-xs hidden-xxs"/>OneAPM 根据操作系统类型、设备型号、崩溃状态、崩溃路径、崩溃根源进行统计；让您更直观地管理所有 Crash。</p>
				<figure class="figure text-center hidden-sm">
					<div class="row">
						<div class="col-lg-3 col-md-5 col-sm-3 col-xs-3 col-xxxs-6">
							<div class="fea">
								<img src="/images/mi/statistic.svg" class="img-responsive">
								<span class="text">统计分析</span>
							</div>
						</div>
						<div class="col-lg-3 col-md-5 col-sm-3 col-xs-3 col-xxxs-6">
							<div class="fea">
								<img src="/images/mi/code.svg" class="img-responsive">
								<span class="text">精确至代码</span>
							</div>
						</div>
						<div class="col-lg-3 col-md-5 col-sm-3 col-xs-3 col-xxxs-6">
							<div class="fea">
								<img src="/images/mi/range.svg" class="img-responsive">
								<span class="text">影响范围</span>
							</div>
						</div>
						<div class="col-lg-3 col-md-5 col-sm-3 col-xs-3 col-xxxs-6">
							<div class="fea">
								<img src="/images/mi/fix.svg" class="img-responsive">
								<span class="text">追踪修复</span>
							</div>
						</div>
					</div>
				</figure>
			</div>
			<div class="col-sm-4 col-sm-offset-1 hidden-lg hidden-md hidden-xs">
				<figure class="figure text-center figure-fea">
					<div class="row">
						<div class="col-sm-6">
							<div class="fea">
								<img src="/images/mi/statistic.svg" class="img-responsive">
								<span class="text">统计分析</span>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="fea">
								<img src="/images/mi/code.svg" class="img-responsive">
								<span class="text">精确至代码</span>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="fea">
								<img src="/images/mi/range.svg" class="img-responsive">
								<span class="text">影响范围</span>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="fea">
								<img src="/images/mi/fix.svg" class="img-responsive">
								<span class="text">追踪修复</span>
							</div>
						</div>
					</div>
				</figure>			
			</div>
			<div class="col-lg-4 col-md-5 col-sm-5 col-xs-10 col-lg-offset-2 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 hidden-xs">
				<div class="phone">
					<img src="/images/mi/mobile.png" class="img-responsive" alt="Crash 分析">
				</div>				
			</div>
			
		</div>
	</div>
</section>

<!-- ***** trouble discription section ***** -->
<section class="section prob-descri">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-1 col-xs-offset-0">
				<h3 class="title text-center">有些问题很难预料</h3>
				<p class="text-center">在生产环境中，即使通过了测试和 Code Review；但是有些问题，却只在用户使用 App 时才发生。例如，网络问题造成的应用加载速度慢，一些测试未覆盖导致的崩溃，以及认为可以躲过问题，却终究难逃一劫的 Activity。OneAPM 可以在使用环境中，实时从用户端收集 App 的性能数据。</p>
			</div>
		</div>
	</div>
</section>
<section class="section problem problem1">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-10 col-xs-12 col-lg-offset-0 col-md-offset-0 col-sm-offset-1 col-xs-offset-0">
				<h3 class="title">InteractionTrace</h3>
				<p>一次 Interaction，涉及到移动设备的 CPU、内存消耗，以及 Activity 的调用，和外部请求的调用。那么到底是硬件问题，还是自身代码的问题，亦或是外部请求响应慢？<br class="hidden-xs"/>OneAPM Interaction Trace 就是通过建立快照的方式；采集较慢的 Interaction 所涉及的全部性能指标，和当前的设备信息，以及设备后台运行的进程信息。<br class="hidden-sm"/><a class="hidden-xs" href="https://user.oneapm.com/account/demo.do" target="_blank">查看 DEMO</a></p>
				
			</div>
			<div class="col-lg-7 col-md-7 col-sm-10 col-xs-12 col-sm-offset-1 col-xs-offset-0">
				<img class="img-responsive" src="/images/mi/interactionTrace.png"/>
			</div>
		</div>
	</div>
</section>
<section class="section problem problem2">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-10 col-xs-12 col-md-push-8 col-sm-push-1 col-xs-push-0">
				<h3 class="title text-center">HTTP 错误</h3>
				<p class="text-center">一些 404 错误是始料未及的，OneAPM 可以采集到网络错误，包括：HTTP 状态码、错误发生时间和次数，以及对应的 App 版本和设备信息。并且，统计出错误所影响的范围。更为重要的是，OneAPM 可以重现错误的 Response Body 和 Stack Trace，为解决问题提供了参考。<br class="hidden-sm"/><a class="hidden-xs" href="https://user.oneapm.com/account/demo.do" target="_blank">查看 DEMO</a></p>
			</div>
			<div class="col-md-7 col-sm-10 col-xs-12 col-md-pull-4 col-md-push-0 col-sm-push-1 col-xs-push-0">
				<img class="img-responsive" src="/images/mi/httpError.png"/>
			</div>
		</div>
	</div>
</section>
<section class="section problem problem3">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-10 col-xs-12 col-lg-offset-0 col-md-offset-0 col-sm-offset-1 col-xs-offset-0">
				<h3 class="title">外部调用</h3>
				<p>所有的外部请求，以及请求的主链、子链，OneAPM 都可以获取到它们的性能表现。<br class="hidden-sm hidden-xs"/>OneAPM 从响应时间、吞吐量、网络故障率、HTTP 错误率，度量外部请求的性能。<br class="hidden-sm hidden-xs"/>在 Interaction Trace 的时序图中，也可以查看到外部请求的耗时、流量、状态码等信息。<br class=" hidden-sm"/><a class="hidden-xs" href="https://user.oneapm.com/account/demo.do" target="_blank">查看 DEMO</a></p>
			</div>
			<div class="col-lg-7 col-md-7 col-sm-10 col-xs-12 col-sm-offset-1 col-xs-offset-0">
				<img class="img-responsive" src="/images/mi/ExternalCall.png"/>
			</div>
		</div>
	</div>
</section>
<!-- ******CTA Section****** -->
<section class="section cta-section text-center pricing-cta-section extra-padding">
	<div class="wavesWapper" style="margin-top: 3%;">
		<canvas id="waves2" class="waves"></canvas>
	</div>
    <div class="container">
        <div class="row">
        	<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0">
        		<h2 class="title">一个为程序员而生的产品<br>一次改变开发习惯的机遇</h2>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
            	<p><a class="btn btn-large btn-sign-ye" href="https://user.oneapm.com/account/register.do" target="_blank">免费注册</a></p>
                <p><a href="/mi/price.html"><span class="cta-link">查看 Mi 完整报价 ></span></a></p>
            </div>
        </div>
       
    </div><!--//container-->
</section><!--//cta-section-->

<!-- Video Modal -->
<div class="modal modal-video" id="modal-video" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="videoModalLabel" cla.
                ss="modal-title sr-only">Video Tour</h4>
            </div>
            <div class="modal-body">
                <div class="video-container">
                   <video controls preload poster="/images/mi-video.png" class="box-video" id="mi-video" >
                       <source src="https://dn-oneapm.qbox.me/mi-introduce-v0.1.webm" type="video/webm">
                       <source src="https://dn-oneapm.qbox.me/mi-introduce-v0.1.mp4" type="video/mp4">
                   </video>
                </div><!--//video-container-->
            </div><!--//modal-body-->
        </div><!--//modal-content-->
    </div><!--//modal-dialog-->
</div><!--//modal-->

{% endblock %}

{% block scripts %}
    {% parent %}
    <!-- build:js /scripts/mobile-feature.js -->
    <script type="text/javascript" src="/scripts/headerResponse.js"></script>
    <script type="text/javascript" src="/scripts/sine-waves.js"></script>
    <script type="text/javascript" src="/scripts/sine-waves-action-header.js" ></script>
    <script type="text/javascript" src="/scripts/sine-waves-action-sawtooth.js"></script>
    <script type="text/javascript" src="/scripts/sine-waves-action-sine.js"></script>
    <!-- endbuild -->
{% endblock %}

