{% extends '../base/_layout.html' %}

{% block content %}
<div class="headline-bg mi-headline-bg fixed-height-headline">
	<canvas id="waves" class="waves"></canvas>
</div><!-- headline-bg -->
<section class="features-video section section-on-bg">
    <div class="container text-center">
        <h2 class="title lang-title">OneAPM for iOS</h2>
        <div class="text-container">
            <div class="about">
            	<div class="row">
            		<div class="col-md-4 col-sm-4 col-xs-12">
            			<div class="lang-logo logo-ios">
							<img src="/images/lang/logo_ios.png" alt="android">
						</div>
            		</div>
            		<div class="col-md-8 col-sm-8 col-xs-12">
            			<p>用户的所有交互，每一次会话，甚至是划屏解锁，OneAPM 都能实时监控其性能表现。而这一切，都是为了确保你的 iOS App 能够给予用户最棒的性能体验。</p>
		                <p>OneAPM 作为 iOS 应用性能管理最佳的解决方案，也将协助你的应用成为 App Store 同类产品中最棒的。</p>
                		<div class="lang-button">
							<a href="javascript:;" class="btn btn-small btn-knowmore" style="width:20%">安装指南</a>
						</div>
            		</div>
            	</div>
            </div><!--//about-->
        </div>
    </div>
</section>

<div class="sections-wrapper">
    <!-- ******Why Section****** -->
    <section class="section why">
    	<div class="container">
    		<div class="row">
	        	<div class="lang-content col-md-8 col-sm-8 col-xs-12">
	        		<div class="row item" style="padding-top:40px;">
	        			<div class="col-md-12 col-sm-12 col-xs-12">
		                    <h3 class="title">全面优化 iOS App 性能</h3>
		                    <div class="row desc">
		                        <div class="col-md-12 col-sm-12 col-xs-12">
		                        	<p>用户的所有交互，每一次会话，甚至是划屏解锁，OneAPM 都能实时监控其性能表现。而这一切，都是为了确保你的 iOS App 能够给予用户最棒的性能体验。</p>
		                        	<p>OneAPM 作为 iOS 应用性能管理最佳的解决方案，也将协助你的应用成为 App Store 同类产品中最棒的。</p>
		                        	<ul class="ul-indep">
		                        		<li class="first-li">追踪响应时间，优化产品性能</li>
										<li>详悉错误信息，轻松定位根源问题</li>
										<li>建立业务和性能的联系，方便感知业务增幅</li>
										<li>以单个设备为单位度量应用性能</li>
		                        		<li>以数据库、CPU、内存性能度量设备性能表现</li>
										<li>端到端的交互甘特图，给予各个事件的性能可见性</li>
										<li>不同事件的性能区隔，方便快速定位性能优化点</li>
										<li>识别设备类型（iPhone/iPad/iPod、操作系统版本、运营商类型），分类设备性能</li>
										<li>OneAPM Android SDK 3 分钟快速部署，应用性能管理从未如此简单</li>
			                        </ul>
		                        	<p>从现在开始使用 OneAPM 吧！快速捕捉性能表现差的应用代码，发现错误并随时向你发送警报，这一切只需下载并安装 OneAPM iOS SDK，然后更新你的应用。OneAPM 保证这一切只需 3 分钟。</p>
		                        </div>
		                    </div>
		                </div>
	        		</div>
	        		
	        		<div class="row item last-item">
	        			<div class="col-md-12 col-sm-12 col-xs-12">
		                    <h3 class="title">如何安装 OneAPM ？</h3>
		                    <div class="row desc">
		                    	<div class="col-md-12 col-sm-12 col-xs-12">
		                    		<p>很开心听到这个问题！<br/>以下是 iOS Agent 安装指南。</p>
		                    		<div class="setup-box">
			                        	<h2>1. <a href="https://user.oneapm.com/account/register.do" target="_blank">创建 OneAPM 账号</a></h2>
			                        </div>
			                        <div class="setup-box">
			                        	<h2>2. 点击 iOS 按钮，然后为你的应用命名 </h2>
			                        	<div class="setup-content">
			                        		<code>A CHEESY NAME</code>
			                        		<p>不喜欢？没关系，你随时都可以修改</p>
			                        	</div>
			                        </div>
			                        <div class="setup-box">
			                        	<h2>3. 下载并解压 OneAPM iOS SDK</h2>
			                        	<div class="setup-content">
			                        		<p>OneAPM_iOS_Agent_1.x.zip</p>
			                        	</div>
			                        </div>
			                        <div class="setup-box">
			                        	<h2>4. 添加 OneAPM Framework 至 Xcode 项目中</h2>
			                        	<div class="setup-content">
			                        		<p>解压 SDK，并将「OneAPM.framework」文件夹从 Finder 中拖拽至 Xcode 项目中（悬停至导航窗口的项目中）。出现提示窗口时，选择「Copy items into destination...」和「Create folder references...」。</p>
			                        	</div>
			                        </div>
			                        <div class="setup-box">
			                        	<h2>5. 在 Linker Settings 中添加以下 3 个 Libraries</h2>
			                        	<div class="setup-content">
			                        		<p>在项目导航窗口内点击你的 Project，并选中你的 App，然后选择「Build Phases」选项卡。打开「Link Binary with Libraries」列表。点击添加：</p>
			                        		<ul>
			                        			<li>SystemConfiguration.framework</li>
			                        			<li>CoreTelephony.framework</li>
			                        			<li>CoreData.framework</li>
			                        			<li>libz.dylib</li>
			                        			<li>libstdc++.dylib</li>
			                        		</ul>
			                        	</div>
			                        </div>
			                        <div class="setup-box">
			                        	<h2>6. Build Settings 设置</h2>
			                        	<div class="setup-content">
			                        		<p>选择对应的 TARGET，在「Build Settings」中，为「Other Linker Flags」增加「-all_load」选项。</p>
			                        	</div>
			                        </div>
			                        <div class="setup-box">
			                        	<h2>7. Build Phases 设置</h2>
			                        	<div class="setup-content">
			                        		<ul>
			                        			<li>
			                        				<p>添加 OneAPM iOS Agent 文件夹下的 symbolUploading.sh 至工程根目录</p>
			                        			</li>
			                        			<li>
			                        				<p>在弹出窗口中，勾选「Copy items if needed」</p>
			                        			</li>
			                        			<li>
			                        				<p>选择对应 Target 的 Build Phases，并新建 <code>Run Script</code></p>
			                        			</li>
			                        			<li>
			                        				<p>粘贴以下内容至文本框「Type a script or drag a script file from your workspace to insert its path」中</p>
			                        				<code>SCRIPT=`/usr/bin/find "${SRCROOT}" -name symbolUploading.sh | head -n 1`/bin/sh "${SCRIPT}" "APPLICATION TOKEN"</code>
			                        			</li>
			                        		</ul>
			                        	</div>
			                        </div>
			                        <div class="setup-box">
			                        	<h2>8. 启动 Agent</h2>
			                        	<div class="setup-content">
			                        		<ul>
			                        			<li>
			                        				<p>在项目文件 [app_name]-Prefix.pch（通常在文件夹「Support Files」中）中，引入 OneAPM 头文件：</p>
			                        				<code>#import &lt;OneAPM/OneAPM.h></code>
			                        			</li>
			                        			<li>
			                        				<p>在文件 AppDelegate.m 中添加如下代码，并确保它在 <code>application:didFinishLaunchingWithOption</code> 的第一行中。</p>
			                        				 <code>[OneAPM startWithApplicationToken:@"&lt;generate app token by creating a name above>"];</code>
			                        			</li>
			                        		</ul>
			                        	</div>
			                        </div>
			                        <div class="setup-box">
			                        	<h2>9. 运行应用程序</h2>
			                        	<div class="setup-content">
			                        		<p>Clean Project，并重新在模拟器或设备中启动应用程序，开始应用性能管理。</p>
			                        	</div>
			                        </div>
			                        <div class="setup-box">
			                        	<h2>10. 重启</h2>
			                        	<div class="setup-content">
			                        		<p>请静候 5 分钟，等待应用程序向 OneAPM 发送应用程序性能数据，即可开始使用 OneAPM 应用性能管理。</p>
			                        	</div>
			                        </div>
			                    </div>
		                    </div>
		                </div>
	        		</div>
	        	</div>
	        	<div class="content col-md-4 col-sm-4 col-xs-12">
        			<div class="col-md-12 col-sm-12 col-xs-12">
        				<h4 class="frame-title">关键优势</h4>
		        		<div class="key-advan">
		        			<ul>
								<li>交互甘特图</li>
								<li>Web Service 监控</li>
								<li>API Calls 监控</li>
								<li>错误信息抓取和分析</li>
								<li>设备级别的深度监控</li>
								<li>自定义 Metrics</li>
								<li>操作系统 &amp; 设备类型分析</li>
								<li>版本性能分析</li>
								<li>报警机制</li>
								<li>地理信息抓取和分析</li>
							</ul>
		        		</div>
        			</div>
	        	</div>
	        </div>
    	</div>
 
    </section><!--//why-->
	<!-- ******CTA Section****** -->
	<section class="section cta-section text-center pricing-cta-section extra-padding">
		<div class="wavesWapper" style="margin-top: 3%;">
			<canvas id="waves2" class="waves"></canvas>
		</div>
	    <div class="container">
	        <div class="row">
	        	<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0">
	        		<h2 class="title">一个为程序员而生的产品<br>一次改变开发习惯的机遇</h2>
	            </div>
	            <div class="col-md-6 col-sm-6 col-xs-12">
	            	<p><a class="btn btn-large btn-sign-ye" href="https://user.oneapm.com/account/register.do" target="_blank">免费注册</a></p>
	                <p><a href="/mi/price.html"><span class="cta-link">查看 Mi 完整报价 ></span></a></p>
	            </div>
	        </div>
	       
	    </div><!--//container-->
	</section><!--//cta-section-->

</div><!--//section-wrapper-->

{% endblock %}

{% block scripts %}
    {% parent %}
    <!-- build:js /scripts/mobile-ios.js -->
    <script type="text/javascript" src="/scripts/sine-waves.js"></script>
    <script type="text/javascript" src="/scripts/sine-waves-control.js"></script>
    <script type="text/javascript" src="/scripts/sine-waves-action-header.js"></script>
    <script type="text/javascript" src="/scripts/sine-waves-action-sine.js"></script>
    <!-- endbuild -->
{% endblock %}
