{% extends '../base/_layout.html' %}
{% block content %}

<div class="headline-bg about-headline-bg"></div><!-- headline-bg -->
<section class="features-video section section-on-bg">
	<h2 class="title text-center">About OneAPM</h2>
	<div class="article-container container">
		<article class="article">
			<p>北京蓝海讯通科技有限公司，即 OneAPM，是中国基础软件领域的新兴领军企业。<br/>专注于提供新一代应用性能管理软件和服务，帮助用户降低 IT 成本，提高业务生产力。<br/>产品适用于复杂的现代应用程序生产环境，提供端到端应用性能管理、<br/>移动端和浏览器真实用户体验分析、业务交易实时分析。</p>
			<p>经过 7 年的技术与产品积累与沉淀，OneAPM 能够提供本地化部署模式和 SaaS 模式，<br/>支持所有主流编程语言和框架，帮助企业用户和开发者轻松实现：<br/>缓慢的程序代码和 SQL 语句的实时抓取。</p>
			<p>OneAPM 也是全球首家可以同时从系统服务层、应用层、<br/>用户体验层、业务交易层提供性能管理产品的公司。</p>
			<p>OneAPM 目前拥有约 200 名员工；核心研发团队，由美国硅谷归国的资深研发人员组成；<br/>总部位于中国北京，在上海、广州、成都、西安等全国多个城市设有分公司，<br/>业务已拓展至台湾、日本、韩国、东南亚等亚太国家和地区。</p>
			<p>当前有数 10 万企业和开发者选择 OneAPM，<br/>全面覆盖运营商、金融、政府、军工、传统企业、<br/>电商、O2O、移动互联网、教育、游戏等领域。</p>
			<p>公司创始人何晓阳，对字节码和类装载技术有持续深入研究，<br/>著有「Java 虚拟机技术与应用性能管理实战」等三本专业书籍，<br/>被誉为「中国 APM 行业第一人」。</p>
			<p><a href="jobs.html">加入我们</a></p>
		</article>
	</div>
</section>
<section class="partner section">
	<h2 class="title text-center" >合作伙伴</h2>
	<div class="partner-container container">
		<div class="row">
			{% for row in partner %}
			<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6" style="min-height: 100px">
				<a href={{row.link}} target="blank">
					<div class="figure" style="background: url({{row.img}}) center center no-repeat"></div>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
{% endblock %}