{% extends '../base/_layout.html' %}
{% block content %}

<div class="headline-bg about-headline-bg"></div><!-- headline-bg -->
<section class="features-video section section-on-bg">
	<div class="container text-center">
		<h2 class="title text-center about-title">About OneAPM</h2>
		<div class="video-container">
		    <div class="fluid-width-video-wrapper">
		        <p class="play-btn">
		            <a href="#" class="play-trigger btn-link">
		                <i class="iconfont icon-play">&#xe60b;</i>
		            </a>
		        </p>
		       <video preload poster="/images/about-oneapm-poster.jpg" class="box-video" id="apm-video">
		           <source src="https://dn-oneapm.qbox.me/about-oneapm-v0.3.webm" type="video/webm">
		           <source src="https://dn-oneapm.qbox.me/about-oneapm-v0.3.mp4" type="video/mp4">
		       </video>
		    </div>
		</div>
	</div>
</section>
<section class="section about-oneapm">
	<div class="container btmbdr-container">
		<div class="row">
			<div class="content col-lg-12 col-md-12 col-sm-12 col-xs-12" >
				<div class="row item" style="padding-top:20px;">
					<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 article-wrap">
						<article class="article">
							<p>北京蓝海讯通科技有限公司，即 OneAPM，是中国基础软件领域的新兴领军企业。专注于提供新一代应用性能管理软件和服务，帮助用户降低 IT 成本，提高业务生产力。产品适用于复杂的现代应用程序生产环境，提供端到端应用性能管理、移动端和浏览器真实用户体验分析、业务交易实时分析。</p>
							<p>经过 7 年的技术与产品积累与沉淀，OneAPM 能够提供本地化部署模式和 SaaS 模式，支持所有主流编程语言和框架，帮助企业用户和开发者轻松实现：缓慢的程序代码和 SQL 语句的实时抓取。</p>
							<p>OneAPM 也是全球首家可以同时从系统服务层、应用层、用户体验层、业务交易层提供性能管理产品的公司。</p>
							<p>截至 2015 年年初，OneAPM 拥有约 200 名员工；核心研发团队，由美国硅谷归国的资深研发人员组成；总部位于中国北京，在上海、广州、成都、西安等全国多个城市设有分公司，业务已拓展至台湾、日本、韩国、东南亚等亚太国家和地区。</p>
							<p>当前有数 10 万企业和开发者选择 OneAPM，全面覆盖运营商、金融、政府、军工、传统企业、电商、O2O、移动互联网、教育、游戏等领域。</p>
							<p>公司创始人何晓阳，对字节码和类装载技术有持续深入研究，著有「Java 虚拟机技术与应用性能管理实战」等三本专业书籍，被誉为「中国 APM 行业第一人」。</p>
							<p class="text-center"><a href="jobs.html">和我们一起工作</a></p>
						</article>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section contact-section about">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
				<figure class="figure row1">
					<i class="iconfont">&#xe62f;</i>
					<p class="figure-title">公司邮箱</p>
					<p class="figure-info" id="about-email">support@oneapm.com</p>
				</figure>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
				<figure class="figure row1">
					<i class="iconfont">&#xe62c;</i>
					<p class="figure-title">销售咨询</p>
					<p class="figure-info"><a href="http://lxbjs.baidu.com/cb/url/show?f=55&id=9061" target="_blank">400-659-1230</a></p>
				</figure>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
				<figure class="figure">
					<i class="iconfont">&#xe62d;</i>
					<p class="figure-title">技术支持</p>
					<p class="figure-info">400-622-3101</p>
				</figure>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
				<figure class="figure">
					<i class="iconfont">&#xe62e;</i>
					<p class="figure-title">公司地址</p>
					<p class="figure-info">北京市海淀区西小口66号东升科技园A区5号楼3层/4层</p>
				</figure>
			</div>
		</div>
	</div>
</section>
<section class="section map">
	<div style="width:auto;height:400px;font-size:12px;margin-top: 30px;" id="map"></div>
</section>
<section class="partner section">
	<h2 class="title text-center" >合作伙伴</h2>
	<div class="partner-container container">
		<div class="row">
			{% for row in partner %}
			<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 partner-box">
				<a href={{row.link}} target="blank">
					<img src="{{row.img}}" class="img-responsive" />
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=C13c98650aa84efc4279c4fd5ac4bac6"></script>
    {% parent %}
    <!-- build:js /scripts/about.js -->  
    <script type="text/javascript" src="/scripts/map.js"></script>
    <!-- endbuild -->

{% endblock %}
