{% extends 'base/_layout.html' %}

{% block content %}
<div class="headline-bg ee-headline-bg"></div><!-- headline-bg -->
<section class="features-video section section-on-bg feature-ee">
    <div class="container"> 
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h2 class="title"><span>中国领先的</span>应用性能管理解决方案</h2>
                <p class="intro">OneAPM 向大型企业提供软硬件一体化服务，<br class="hidden-xxs"/>使得 APM 更智能、更高效。</p>
                <p>
                    <a href="javascript:;" class="btn btn-large btn-sign btn-not-allowed">销售咨询 400 659 1230</a>
                </p>
            </div>
            <img class="ee-headline-img" src="/images/EE/bg1.png">
        </div>         
        
    </div>
    <div class="ee-partner">
        <img src="/images/EE/cooperate.png" class="img-responsive">
    </div>
</section>

<section class="section section-ee">
    <div class="container">
       <div class="row" id="row1">
            <div class="text-center col-md-2 col-sm-4 col-xs-6 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
                <i class="iconfont icon-ee">&#xe612;</i>
                <h4>用户体验</h4>
                <p class="intro-text" id="text1">了解用户使用, <br class="hidden-xs">时对性能的真实感受。</p>                
            </div>
            <div class="text-center col-md-2 col-sm-4 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0">
                <i class="iconfont icon-ee">&#xe60f;</i>
                <h4>应用拓扑</h4>
                <p class="intro-text">自动发现应用拓扑结构，<br class="hidden-xs">并实现可视化。</p>        
            </div>
            <div class="text-center col-md-2 col-sm-4 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-0">
                <i class="iconfont icon-ee">&#xe614;</i>
                <h4>自定义业务</h4>
                <p class="intro-text">自定义业务分析，<br class="hidden-xs">深度追溯业务性能。</p>        
            </div>
            <div class="text-center col-md-2 col-sm-5 col-xs-6 col-md-offset-0 col-sm-offset-1 col-xs-offset-0">
                <i class="iconfont icon-ee">&#xe60e;</i>
                <h4>深度监控</h4>
                <p class="intro-text">深度监控应用组件，<br class="hidden-xs">了解基础组件的运行情况。</p>        
            </div>
            <div class="text-center col-md-2 col-sm-5 col-xs-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-3">
                <i class="iconfont icon-ee">&#xe613;</i>
                <h4>运营分析</h4>
                <p class="intro-text">对比不同版本应用的性能，<br class="hidden-xs">指导版本迭代。</p>        
            </div>
       </div>
    </div>
</section>

<div class="sections-wrapper">
    <section class="section why ee">
        <div class="container">
            <div class="row item">
                <div class="content col-md-5 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0" >
                    <a href="javascript:;" >
                        <img src="/images/EE/ailogo.svg" class="img-responsive">
                    </a>
                    <h3 class="title">全球领先的应用性能管理软件</h3>
                    <div class="desc">
                        <p>Gartner 针对应用性能管理领域定义了五个功能维度:</p>
                        <ul>
                            <li class="first-li">真实用户体验管理</li>
                            <li>应用拓扑的发现与可视化</li>
                            <li>用户自定义业务分析</li>
                            <li>应用组件深度监控</li>
                            <li>IT 运营分析</li>
                        </ul>
                        <p>OneAPM Application Insight 是国内唯一实现了这五个功能的 应用性能管理软件。</p>
                        <p>OneAPM Application Insight 以真实用户体验管理和代码级应用性能管理 为核心,实现了前端浏览器、网络传输、应用性能、中间件性能、数据库 性能的自动关联及分析,协助用户提早发现、尽快解决,应用系统的性能 和可用性问题。</p>
                        <a href="http://static.oneapm.com/assets/intro/AiIntro.pdf" rel="nofollow" target="_blank">查看 Application Insight 白皮书 ></a>
                    </div>
                </div><!--//content-->
                <figure class="figure col-md-4 col-sm-10 col-xs-10 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                    <div class="row">
                        <div class="col-md-6 col-sm-4 col-xs-6">
                            <div class="fea-box">
                                <span><i class="iconfont fea-icon ai">&#xe616;</i></span>
                                <p>国内唯一符合 APM 标准的厂商</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-4 col-xs-6">
                            <div class="fea-box">
                                <span><i class="iconfont fea-icon ai">&#xe617;</i></span>
                                <p>支持企业级传统技术框架</p>
                            </div>

                        </div>
                        <div class="col-md-6 col-sm-4 col-xs-6">
                            <div class="fea-box">
                                <span><i class="iconfont fea-icon ai">&#xe618;</i></span>
                                <p>深入到代码层的监控</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-4 col-xs-6">
                            <div class="fea-box">
                                <span><i class="iconfont fea-icon ai">&#xe619;</i></span>
                                <p>端到端的应用性能管理</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-4 col-xs-6">
                            <div class="fea-box">
                                <span><i class="iconfont fea-icon ai">&#xe61a;</i></span>
                                <p>永久存储历史性能数据</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-4 col-xs-6">
                            <div class="fea-box">
                                <span><i class="iconfont fea-icon ai">&#xe61b;</i></span>
                                <p>以真实用户访问性能为度量基准</p>
                            </div>
                        </div>
                    </div>

                </figure>
                <div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
                    <div class="line"></div>
                </div>
            </div><!--//item-->
            <div class="row item">
                <div class="content col-md-5 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0" >
                    <a href="javascript:;" >
                        <img src="/images/EE/milogo.svg" class="img-responsive">
                    </a>
                    <h3 class="title">面向移动应用的性能管理平台</h3>
                    <div class="desc">
                        <p>能够帮助开发 人员及时发现、准确定位、快速解决移动应用的性能瓶颈。</p>
                        <p>通过端到端的 真实用户体验管理,实时诊断应用崩溃、界面卡顿、请求超时等性能问题 , 在最短的时间内发现造成用户流失的关键原因。</p>
                        <p>同时,独有的第三方网络 服务监控功能能够帮助企业客观评价外部服务模块的质量。</p>
                        <a href="http://static.oneapm.com/assets/intro/MiIntro.pdf" rel="nofollow" target="_blank">查看 Mobile Insight 白皮书 ></a>
                    </div>
                </div><!--//content-->
                <figure class="figure col-md-4 col-sm-10 col-xs-10 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                    <div class="row">
                        <div class="col-md-6 col-sm-4 col-xs-6">
                            <div class="fea-box">
                                <span><i class="iconfont fea-icon mi">&#xe61c;</i></span>
                                <p>直击崩溃产生原因</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-4 col-xs-6">
                            <div class="fea-box">
                                <span><i class="iconfont fea-icon mi">&#xe61d;</i></span>
                                <p>5 大指标总览应用性能</p>
                            </div>

                        </div>
                        <div class="col-md-6 col-sm-4 col-xs-6">
                            <div class="fea-box">
                                <span><i class="iconfont fea-icon mi">&#xe61e;</i></span>
                                <p>跟踪和分析网络错误的发生</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-4 col-xs-6">
                            <div class="fea-box">
                                <span><i class="iconfont fea-icon mi">&#xe61f;</i></span>
                                <p>包含地理信息的用户划分</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-4 col-xs-6">
                            <div class="fea-box">
                                <span><i class="iconfont fea-icon mi">&#xe620;</i></span>
                                <p>关注和深度剖析关键事务</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-4 col-xs-6">
                            <div class="fea-box">
                                <span><i class="iconfont fea-icon mi">&#xe621;</i></span>
                                <p>显著提升问题修复效率</p>
                            </div>
                        </div>
                    </div>
                </figure>
                <div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
                    <div class="line"></div>
                </div>
            </div><!--//item-->
            <div class="row item">
                <div class="content col-md-5 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0" >
                    <a href="javascript:;" >
                        <img src="/images/EE/silogo.svg" class="img-responsive">
                    </a>
                    <h3 class="title">对企业 IDC 和云计算中心内的基础组件进行实时的可视化管理</h3>
                    <div class="desc">
                        <p>Infrastructure Insight 套件为用户提供基础组件的集中监控、展现、预警、 分析、管控的整体解决方案。</p>
                        <p>通过单一探针,实现对网络设备、主机、操 作系统、中间件、数据库、存储等 126 种产品的 5 万多项性能指标的集中 监控和管理。</p>
                        <p>通过多维度的可视化展现(包括历史曲线图、物理拓扑图、 网络拓扑图、业务拓扑图)为用户提供全面的动态监控。</p>
                        <p>通过灵活的预警 机制来帮助用户预防问题产生和快速定位故障。通过配置文件变更管理、 反向控制技术和自定义脚本的自动化巡检,帮助用户实现对 IDC 设备的全 面管理。通过丰富的报表展现为用户的 IT 决策提供依据。</p>
                        <a href="http://static.oneapm.com/assets/intro/SiIntro.pdf" rel="nofollow" target="_blank">查看 Infrastructure Insight 白皮书 ></a>
                    </div>
                </div><!--//content-->
                <figure class="figure col-md-4 col-sm-10 col-xs-10 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                    <div class="row">
                        <div class="col-md-6 col-sm-4 col-xs-6">
                            <div class="fea-box">
                                <span><i class="iconfont fea-icon si">&#xe622;</i></span>
                                <p>远程控制组件和执行脚本</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-4 col-xs-6">
                            <div class="fea-box">
                                <span><i class="iconfont fea-icon si">&#xe623;</i></span>
                                <p>可定制首页总览组件运行情况</p>
                            </div>

                        </div>
                        <div class="col-md-6 col-sm-4 col-xs-6">
                            <div class="fea-box">
                                <span><i class="iconfont fea-icon si">&#xe624;</i></span>
                                <p>多渠道报警实时跟踪组件运行情况</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-4 col-xs-6">
                            <div class="fea-box">
                                <span><i class="iconfont fea-icon si">&#xe625;</i></span>
                                <p>提供基础组件逻辑拓扑和物理拓扑</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-4 col-xs-6">
                            <div class="fea-box">
                                <span><i class="iconfont fea-icon si">&#xe626;</i></span>
                                <p>定时发送报表</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-4 col-xs-6">
                            <div class="fea-box">
                                <span><i class="iconfont fea-icon si">&#xe627;</i></span>
                                <p>实时监控配置的变更</p>
                            </div>
                        </div>
                    </div>
                </figure>
                <div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
                    <div class="line"></div>
                </div>
            </div><!--//item-->
            <div class="row item">
                <div class="content col-md-5 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0" >
                    <a href="javascript:;" >
                        <img src="/images/EE/bilogo.svg" class="img-responsive">
                    </a>
                    <h3 class="title">基于真实用户体验的前端性能监控方案</h3>
                    <div class="desc">
                        <p>利用 OneAPM Browser Insight 优化网页性能首先强调真实用户体验，真实是指摒弃利用模拟的方式重现用户行为来检测应用性能的方式，而是直接从终端设备中抓取性能数据。 体验采取用实际性能度量用户使用体验的方法，通过抓取到的性能数据，来度量用户的实际使用体验。</p>
                        <p>OneAPM Browser Insight 采用直接对终端用户的性能数据可见的方式，不仅能收集页面加载时间、JS 错误、AJAX 统计等性能指标还可以按照"浏览器类型"、"地理位置"、"运营商"对用户进行分类，根据不同维度对性能进行考量，找出需要最先优化的集合。 </p>
                        <a href="http://static.oneapm.com/assets/sites2/intro/BiIntro.pdf" rel="nofollow" target="_blank">查看 Browser Insight 白皮书 ></a>
                    </div>
                </div><!--//content-->
                <figure class="figure col-md-4 col-sm-10 col-xs-10 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                    <div class="row">
                        <div class="col-md-6 col-sm-4 col-xs-6">
                            <div class="fea-box">
                                <span><i class="iconfont fea-icon bi">&#xe639;</i></span>
                                <p>基于真实用户体验</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-4 col-xs-6">
                            <div class="fea-box">
                                <span><i class="iconfont fea-icon bi">&#xe63a;</i></span>
                                <p>统计分析 JS 错误</p>
                            </div>

                        </div>
                        <div class="col-md-6 col-sm-4 col-xs-6">
                            <div class="fea-box">
                                <span><i class="iconfont fea-icon bi">&#xe63b;</i></span>
                                <p>监测 Ajax 性能</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-4 col-xs-6">
                            <div class="fea-box">
                                <span><i class="iconfont fea-icon bi">&#xe63c;</i></span>
                                <p>解析页面加载时间</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-4 col-xs-6">
                            <div class="fea-box">
                                <span><i class="iconfont fea-icon bi">&#xe63d;</i></span>
                                <p>智能识别和解析缓慢请求</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-4 col-xs-6">
                            <div class="fea-box">
                                <span><i class="iconfont fea-icon bi">&#xe63e;</i></span>
                                <p>对比不同类别终端的性能</p>
                            </div>
                        </div>
                    </div>
                </figure>
                <div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
                    <div class="line"></div>
                </div>
            </div><!--//item-->
            <div class="row item">
                <div class="content col-md-5 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0" >
                    <a href="javascript:;" >
                        <img src="/images/EE/nilogo.svg" class="img-responsive">
                    </a>
                    <h3 class="title">基于旁路监听技术的真实用户体验和应用性能监控系统</h3>
                    <div class="desc">
                        <p>对于一家应用系统性能影响整体业务发展的公司，无论是高层战略研究人员，业务管理人员还是运营维护人员都需要一款可以展现全公司应用系统全貌的软件，帮助公司感知，预测应用系统的健康状况。</p>
                        <p>OneAPM Network Insight 解决方案使用网络包镜像以及 2 至 7 层协议分析技术，在不影响客户应用系统运行的情况下，提供关键应用的 7 x 24 小时全方位视图，让应用的管理运维人员随时感知系统健康和客户体验，及时发现问题，快速定位问题。</p>
                        <a href="http://static.oneapm.com/assets/sites2/intro/NiIntro.pdf" rel="nofollow" target="_blank">查看 Network Insight 白皮书 ></a>
                    </div>
                </div><!--//content-->
                <figure class="figure col-md-4 col-sm-10 col-xs-10 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                    <div class="row">
                        <div class="col-md-6 col-sm-4 col-xs-6">
                            <div class="fea-box">
                                <span><i class="iconfont fea-icon ni">&#xe645;</i></span>
                                <p>支持多种公有，私有协议的解析</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-4 col-xs-6">
                            <div class="fea-box">
                                <span><i class="iconfont fea-icon ni">&#xe646;</i></span>
                                <p>支持 2Gps+ 的流量处理速度</p>
                            </div>

                        </div>
                        <div class="col-md-6 col-sm-4 col-xs-6">
                            <div class="fea-box">
                                <span><i class="iconfont fea-icon ni">&#xe647;</i></span>
                                <p>基于真实数据的健康指示</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-4 col-xs-6">
                            <div class="fea-box">
                                <span><i class="iconfont fea-icon ni">&#xe648;</i></span>
                                <p>监控应用系统的业务链拓扑</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-4 col-xs-6">
                            <div class="fea-box">
                                <span><i class="iconfont fea-icon ni">&#xe649;</i></span>
                                <p>总览各区域用户使用体验</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-4 col-xs-6">
                            <div class="fea-box">
                                <span><i class="iconfont fea-icon ni">&#xe64a;</i></span>
                                <p>提供多维度的网络性能指标</p>
                            </div>
                        </div>
                    </div>
                </figure>
                <div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
                    <div class="line"></div>
                </div>
            </div><!--//item-->
            <div class="row item">
                <div class="content col-md-5 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0" >
                    <a href="javascript:;" >
                        <img src="/images/EE/dilogo.svg" class="img-responsive">
                    </a>
                    <h3 class="title">基针对 Oracle 数据库的深度监控平台</h3>
                    <div class="desc">
                        <p>无论你是经验丰富的 DBA 或者负责数据库的开发人员，OneAPM Database Insight 解决方案都能够帮助你更加轻松解决复杂的数据库问题，优化应用程序响应时间：</p>
                        <ul>
                            <li class="first-li">历史性能趋势</li>
                            <li>数据库当前状态</li>
                            <li>查看实时 Session</li>
                            <li>全面主动优化性能</li>
                            <li>数据库故障报警</li>
                        </ul>
                        <p>通过使用直观的用户界面，DBA、开发人员和 IT 运维团队能够轻易地了解数据库运行的全貌，获得数据库调优的专业建议。Di 将显示数据库的详细信息，了解数据库如何影响应用程序的性能，包括：SQL 语句( SQL Statements ) ，服务器资源 ( Server Resources ) ，I/O 存储 ( Storage I /O )。</p>
                        <a href="http://static.oneapm.com/assets/sites2/intro/DiIntro.pdf" rel="nofollow" target="_blank">查看 Database Insight 白皮书 ></a>
                    </div>
                </div><!--//content-->
                <figure class="figure col-md-4 col-sm-10 col-xs-10 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                    <div class="row">
                        <div class="col-md-6 col-sm-4 col-xs-6">
                            <div class="fea-box">
                                <span><i class="iconfont fea-icon di">&#xe63f;</i></span>
                                <p>全面优化数据库</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-4 col-xs-6">
                            <div class="fea-box">
                                <span><i class="iconfont fea-icon di">&#xe640;</i></span>
                                <p>适合任何人使用的数据库监控</p>
                            </div>

                        </div>
                        <div class="col-md-6 col-sm-4 col-xs-6">
                            <div class="fea-box">
                                <span><i class="iconfont fea-icon di">&#xe641;</i></span>
                                <p>实时数据历史数据一手掌握</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-4 col-xs-6">
                            <div class="fea-box">
                                <span><i class="iconfont fea-icon di">&#xe642;</i></span>
                                <p>支持 tuxedo 等前端应用系统</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-4 col-xs-6">
                            <div class="fea-box">
                                <span><i class="iconfont fea-icon di">&#xe643;</i></span>
                                <p>查看 SQL & Session 详细信息</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-4 col-xs-6">
                            <div class="fea-box">
                                <span><i class="iconfont fea-icon di">&#xe644;</i></span>
                                <p>轻松变身数据库专家</p>
                            </div>
                        </div>
                    </div>
                </figure>
                <div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
                    <div class="line"></div>
                </div>
            </div><!--//item-->
            <div class="row item last-item partner">
                <div class="content col-md-10 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0" >
                    <h3 class="title">客户关系</h3>
                    <img src="/images/EE/partner.png" class="img-responsive">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0 partner-left">
                        <div class="partner-content ">
                            <p>
                                <img src="/images/EE/chinamobile.png" class="img-responsive">
                            </p>
                            <p>
                                OneAPM正是我们一直在寻找的产品，它是先进的端到端应用性能管理解决方案，提供了完善的应用系统实时监控、告警、性能分析、故障诊断、性能报表展现等功能，彻底改变了IT部门的服务工作方式和工作内容。
                            </p>
                            <p>
                                OneAPM帮助我们快速诊断和定位了很多应用瓶颈，保障了业务系统的峰值稳定运行。我们下一步计划在其他系统上陆续完成部署，从而实现对生产系统的全方位监控。
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0 partner-right">
                        <div class="partner-content">
                             <p>
                                <img src="/images/EE/qunar.png" class="img-responsive">
                            </p>
                            <p>
                                OneAPM的事务分析功能，能让我及时了解每次交互的响应时间。针对响应慢，频繁出现的慢事务，OneAPM的深度trace，可以定位到执行慢的类、方法以及SQL语句，帮助我们快速找到问题的根源。崩溃分析非常不错，有针对性的修复crash漏洞，帮助我们打造最佳用户体验。通过一个后台，就能管理我们所有的应用，还有报警功能，确实很方便。
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <p class="text-center" style="margin-top:35px; margin-bottom:0;">
                            <a href="javascript:;" class="btn btn-large btn-sign btn-not-allowed">销售咨询 400 659 1230</a>
                        </p>
                    </div>
                    
                </div><!--//content-->
            </div><!--//item-->


        </div><!--//container-->
    </section><!--//why--> 
   
</div><!--//section-wrapper-->

{% endblock %}

