{% extends 'base/_layout.html' %}

{% block content %}
<!-- <div class="bg-index">
	<img src="/images/index/index.png">
</div>       -->
<div class="headline-bg index-bg"></div><!-- headline-bg -->

<section class="promo section section-on-bg">
    <div class="container text-center">
        <h2 class="title">无需任何改动<br/>实时抓取缓慢的程序代码和 SQL 语句</h2>
        <p class="text-center btn-part btn-part-index">
	        <a href="https://user.oneapm.com/account/demo.do" target="_blank" class="btn btn-large btn-demo">查看 DEMO</a>
	        <span class="btn-index-span">or</span>
	        <a href="https://user.oneapm.com/account/register.do" target="_blank" class="btn btn-large btn-sign-ye">免费注册</a>
	    </p>
        <button type="button" class="play-trigger btn-link " data-toggle="modal" data-target="#modal-video" ><i class="fa fa-youtube-play"></i> 观赏 OneAPM 介绍影片</button>
    </div><!--//container-->
</section><!--//promo-->

<!-- ******Features Section****** -->
<section class="features-tabbed section features-tabbed-index">
    <div class="container">
        <div class="row">
            <div class=" text-center col-md-10 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 col-xs-offset-0">
                <div class="features-content">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs text-center" role="tablist">
                        <li class="active first">
                            <a href="#feature-1" role="tab" data-toggle="tab">
                                <i class="iconfont icon-tab icon-ai">&#xe608;</i>
                            </a>
                        </li>
                        <li>
                            <a href="#feature-2" role="tab" data-toggle="tab">
                                <i class="iconfont icon-tab icon-bi">&#xe609;</i>
                            </a>
                        </li>
                        <li class="last">
                            <a href="#feature-3" role="tab" data-toggle="tab">
                                <i class="iconfont icon-tab icon-mi">&#xe60a;</i>
                            </a>
                        </li>
                    </ul><!--//nav-tabs-->

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="feature-1">
                            <h3 class="tab-title">Application Insight</h3>
                            <h4 class="tab-subtitle">端到端的分布式性能可视化</h4>
                            <figure class="figure text-center">
                                <img class="img-responsive" src="/images/index/ai.png" alt="端到端的性能可见" />
                            </figure>
                            <p class="text-center btn-part btn-part-index">
                                <a href="../ai/feature.html" class="btn btn-large btn-knowmore">查看 Ai 特性</a>
                                <span class="btn-index-span">or</span>
                                <a href="https://user.oneapm.com/account/demo.do" target="_blank" class="btn btn-large btn-sign">查看 DEMO</a>
                            </p>
                        </div><!--//tab-pane-->
                        <div class="tab-pane" id="feature-2">
                            <h3 class="tab-title">Broswer Insight</h3>
                            <h4 class="tab-subtitle">真实用户体验管理</h4>
                            <figure class="figure text-center">
                                <img class="img-responsive" src="/images/index/bi.png" alt="真实用户体验管理" />
                            </figure>
                            <p class="text-center btn-part btn-part-index">
                                <a href="../bi/feature.html" class="btn btn-large btn-knowmore" >查看 Bi 特性</a>
                                <span class="btn-index-span">or</span>
                                <a href="https://user.oneapm.com/account/demo.do" target="_blank" class="btn btn-large btn-sign">查看 DEMO</a>
                            </p>
                        </div><!--//tab-pane-->
                        <div class="tab-pane" id="feature-3">
                            <h3 class="tab-title">Mobile Insight<h3/>
                            <h4 class="tab-subtitle">移动应用 Crash 分析</h4>
                            <figure class="figure text-center">
                                <img class="img-responsive" src="/images/index/mi.png" alt="移动应用 Crash 分析" />
                            </figure>
                            <p class="text-center btn-part btn-part-index">
                                <a href="../mi/feature.html" class="btn btn-large btn-knowmore">查看 Mi 特性</a>
                                <span class="btn-index-span">or</span>
                                <a href="https://user.oneapm.com/account/demo.do" target="_blank" class="btn btn-large btn-sign">查看 DEMO</a>
                            </p>
                        </div><!--//tab-pane-->
                    </div><!--//tab-content-->
                </div>

            </div><!--//col-md-x-->
        </div><!--//item-->
    </div>
</section>

<section class="section why index-why">
	<div class="item" style="background:#F7F7F7;">
		<div class="container">
			<div class="row">
				<figure class="figure col-md-7 col-sm-10 col-xs-10 col-md-offset-0 col-sm-offset-1 col-xs-offset-1">
	           		<img class="img-responsive img-cells" src="/images/index/lang-cells.png" alt="全语言全平台支持" />
	            </figure>
	    		<div class="content col-md-5 col-sm-10 col-xs-10 col-md-offset-0 col-sm-offset-1 col-xs-offset-1" style="padding-top: 6%;">
	                <h3 class="title">OneAPM 一站式解决方式</h3>
	                <div class="desc">
	                    <p>OneAPM 提供全语言和全平台的应用性能监控，无需改动代码，就可以抓取到「性能消耗大的代码」和「缓慢的 SQL 语句」。</p>
	                    <p>OneAPM 取代传统监控工具；帮助您，预先发现性能问题；使得运维和开发，不再依赖个人的经验；从而，提高运维开发的效率。</p>
                        <p class="small lang-link">
                          <a href="../ai/java.html">Java</a> |
                          <a href="../ai/ruby.html">Ruby</a> |
                          <a href="../ai/dotnet.html">.NET</a> |
                          <a href="../ai/php.html">PHP</a> |
                          <a href="../ai/nodejs.html">Node.js</a> |
                          <a href="../ai/python.html">Python</a> <br/>
                          <a href="../bi/feature.html">Browser</a> |
                          <a href="../mi/ios.html">iOS</a> |
                          <a href="../mi/android.html">Android</a>
                        </p>
	                </div>
                    <div></div>
	            </div><!--//content-->
	        </div>
    	</div>
    </div><!--//item-->
    <div class="item mobile-item">
        <div class="container">
            <div class="row">
                <div class="content col-md-6 col-sm-8 col-xs-10 col-md-offset-1 col-sm-offset-2 col-xs-offset-1">
                    <div class="mobile-text">
                        <div class="text-item">
                            <img src="/images/index/mo1.svg">
                            <span>不再加班 不再熬夜</span>
                        </div>
                        <div class="text-item">
                            <img src="/images/index/mo2.svg">
                            <span>降低 90% 故障修复时间</span>
                        </div>
                        <div class="text-item">
                            <img src="/images/index/mo3.svg">
                            <span>减少 80% 的客服工作量</span>
                        </div>
                    </div>
                </div><!--//content-->
                <figure class="figure col-md-5 col-sm-10 col-xs-10 col-md-offset-0 col-sm-offset-1 col-xs-offset-1">
                    <img class="img-responsive img-mobile" src="/images/index/mobile.png" alt="应用性能管理和应用性能监控" />
                </figure>
            </div>
        </div>
    </div>
</section><!--//why-->


<!-- ******Press Section****** -->
<section class="section press index-press">
    <div class="container text-center">
        <!-- <h4 class="new-title">新气象 新方向</h4> -->
        <div id="news-section-bottom">
            <a class="news-item" href="http://v.youku.com/v_show/id_XODcyNDUyOTMy.html" target="_blank">
              <img src="/images/index/press/oneapmweb.png" alt="">
              <span class="news-title"><span class="text">观赏「OneAPM for Web 功能介绍」影片</span></span>
            </a>
            <a class="news-item" href="http://oneapm.udesk.cn/hc/articles/233" target="_blank">
              <img src="/images/index/press/news_0.png" alt="">
              <span class="news-title"><span class="text">Java Agent 现已支持 Play 框架</span></span>
            </a>
            <a class="news-item" href="http://oneapm.udesk.cn/hc/articles/190" target="_blank">
              <img src="/images/index/press/news_1.png" alt="">
              <span class="news-title"><span class="text">Android SDK 现已支持 Gradle</span></span>
            </a>
            <a class="news-item" href="http://market.aliyun.com/product/12-122338006-cmgj000251.html?spm=0.0.0.0.J7t3je" target="_blank">
              <img src="/images/index/press/news_3.png" alt="">
              <span class="news-title"><span class="text">OneAPM 入驻阿里云平台</span></span>
            </a>
        </div>
    </div><!--//container-->
</section><!--//press-->

<!-- ******CTA Section****** -->
<section id="cta-section" class="section cta-section text-center pricing-cta-section cta-section-index">
    <div class="container">
        <div class="partner">
            <img src="/images/index/partner.png" alt="OneAPM 客户">
        </div>
        <h2 class="title">超过 10 万全球开发者选择 OneAPM！</h2>
        <p>
            <a class="btn btn-large btn-sign-ye" href="https://user.oneapm.com/account/register.do" target="_blank">免费注册</a>
        </p>
    </div><!--//container-->
</section><!--//cta-section-->

<!-- Video Modal -->
    <div class="modal modal-video" id="modal-video" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="videoModalLabel" cla.
                    ss="modal-title sr-only">Video Tour</h4>
                </div>
                <div class="modal-body">
                    <div class="video-container">
                       <video controls preload poster="http://oneapm-com-public-file.qiniudn.com/what-is-oneapm-poster-v0.0.2.jpg" id="index-video">
                           <source src="http://oneapm-com-public-file.qiniudn.com/what-is-oneapm-v1.0.webm" type="video/webm">
                           <source src="http://oneapm-com-public-file.qiniudn.com/what-is-oneapm-v1.0.mp4" type="video/mp4">
                       </video>
                    </div><!--//video-container-->
                </div><!--//modal-body-->
            </div><!--//modal-content-->
        </div><!--//modal-dialog-->
    </div><!--//modal-->

{% endblock %}

